<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #667529; width:260px !important; position: fixed; overflow-y:auto">
    <div class="container-fluid d-flex flex-column p-0">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-text mx-3"><img src="../../images/LA_logo.png" style="width: 150px;"></div>
        </a>
        <ul class="navbar-nav text-light" id="accordionSidebar" style="margin-top: 20px;">
            <li class="nav-item" style="margin-top: 20px; margin-bottom: 16px">
                <a class="dropdown-lbl text-decoration-none {{# if home_tab}}active{{/if}}" href="/" style="padding:16px; margin-bottom: 16px">
                    <i class="fas fa-tachometer-alt" style="font-size: 16px;margin-right: 6px;"></i>
                    Dashboard
                </a>
            </li>

            <li class="nav-item">
                <div class="nav-item dropdown show text-decoration-none" style="text-decoration: none;padding: 16px;margin-bottom: 0px;">
                    <a aria-expanded="{{# if farms_mgt_tab}}true{{else}}false{{/if}}" data-toggle="collapse" data-target="#farms" href="#" id="firstDp"
                        class="dropdown-lbl text-decoration-none {{# if farm_tab}}active{{/if}}{{# if monitor_farms_tab}}active{{/if}}{{# if calendar_tab}}active{{/if}}{{# if disaster}}active{{/if}}" style="">
                        <i class="fas fa-farm" style="font-size: 16px;margin-right: 10px;"></i>Farms &nbsp;&nbsp;
                        <i class="fas fa-caret-down"></i> 
                    </a>
                    
                    <div class="collapse {{# if farms_mgt_tab}}show{{/if}}" style="" id="farms">
                        <a class="dropdown-item {{# if farm_tab}}active{{/if}}" href="/farms" style="">Work Orders</a>
                        <a class="dropdown-item {{# if calendar_tab}}active{{/if}}" href="/crop_calendar" style="">Crop Calendar</a>
                        <a class="dropdown-item {{# if monitor_farms_tab}}active{{/if}}" href="/farm_monitoring_summarized" style="">Farm Monitoring</a>
                        <a class="dropdown-item {{# if disaster}}active{{/if}}" href="/disaster_management" style="">Disaster Warnings</a>
                    </div>
                </div>
            </li>
            {{#if office_role}}
            {{else}}
            <li class="nav-item">
                <div class="nav-item dropdown show text-decoration-none" style="text-decoration: none;padding: 16px;margin-bottom: 0px;">
                    <a aria-expanded="{{# if material_mgt_tab}}true{{else}}false{{/if}}" data-toggle="collapse" data-target="#materials" href="#" class="dropdown-lbl text-decoration-none {{# if inventory_tab}}active{{/if}}{{# if orders_tab}}active{{/if}}" href="#" style="font-size: 16px" id="secondDp">
                        <i class="fas fa-box" style="margin-right: 10px;"></i>Material Management &nbsp;&nbsp;
                        <i class="fas fa-caret-down"></i> 
                    </a>
                    <div class="collapse {{# if material_mgt_tab}}show{{/if}}" style="" id="materials">
                        <a class="dropdown-item {{# if inventory_tab}}active{{/if}}" href="/inventory" style="">Inventory</a>
                        <a class="dropdown-item {{# if orders_tab}}active{{/if}}" href="/orders" style="">Orders</a>
                    </div>
                </div>
            </li>
            {{/if}}

            <li class="nav-item" style="">
                <div class="nav-item dropdown " style="margin-bottom: 0px;padding: 16px;">
                    <a aria-expanded="{{#if nutrient_mgt_tab}}true{{else}}false{{/if}}" data-toggle="collapse" data-target="#nutrient_mgt" href="#" class="dropdown-lbl text-decoration-none {{# if nutrient_mgt_discover}}active{{/if}}{{# if nutrient_mgt_plan}}active{{/if}}{{# if nutrient_mgt_reco}}active{{/if}}"id="sixthDp"><i class="dropdown-lbl fas fa-hand-holding-seedling" 
                        style="margin-right: 10px;"></i>Nutrient Management &nbsp;&nbsp;
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="collapse {{# if nutrient_mgt_tab}}show{{/if}}" style="" id="nutrient_mgt">
                        <!-- <a class="dropdown-item {{# if nutrient_mgt_discover}}active{{/if}}" href="/nutrient_mgt/discover" style="">Discover</a> -->
                        <a class="dropdown-item {{# if nutrient_mgt_plan}}active{{/if}}" href="/nutrient_mgt/nutrient_plan" style="">Nutrient Plan</a>
                        <a class="dropdown-item {{# if nutrient_mgt_reco}}active{{/if}}" href="/nutrient_mgt/recommendation_system" style="">Recommendation <br>System</a>
                    </div>
                </div>
            </li>

            <li class="nav-item" style="">
                <div class="nav-item dropdown " style="margin-bottom: 0px;padding: 16px;">
                    <a aria-expanded="{{# if pd_mgt_tab}}true{{else}}false{{/if}}" data-toggle="collapse" data-target="#pestAndDisease" href="#" class="dropdown-lbl text-decoration-none {{# if pest_and_disease_discover}}active{{/if}}{{# if pest_and_disease_frequency}}active{{/if}} {{# if pest_and_disease_diagnoses}}active{{/if}}"id="thirdDp"><i class="dropdown-lbl fas fa-bug" 
                        style="margin-right: 10px;"></i>Pest and Disease &nbsp;&nbsp;
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="collapse {{# if pd_mgt_tab}}show{{/if}}" style="" id="pestAndDisease">
                        <a class="dropdown-item {{# if pest_and_disease_discover}}active{{/if}}" href="/pest_and_disease/discover" style="">Discover</a>
                        <a class="dropdown-item {{# if pest_and_disease_diagnoses}}active{{/if}}" href="/pest_and_disease/diagnose" style="">Diagnose</a>
                        <a class="dropdown-item {{# if pest_and_disease_frequency}}active{{/if}}" href="/pest_and_disease/frequency" style="">Frequency</a>
                    </div>
                </div>
            </li>
            
            {{!-- <li class="nav-item" style=""> 
                <div class="nav-item dropdown show" style="margin-bottom: 0px;padding: 16px;">
                    <a aria-expanded="false" data-toggle="collapse" data-target="#nutrientManagement" href="#" class="dropdown-lbl text-decoration-none {{# if nutrient_discover_tab}}active{{/if}}{{# if nutrient_diagnose_tab}}active{{/if}}" 
                        id="fourthDp"><i class="fas fa-hand-holding-seedling" style="margin-right: 10px;"></i>Nutrient Management &nbsp;&nbsp;
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="collapse" style="" id="nutrientManagement">
                        <a class="dropdown-item {{# if nutrient_discover_tab}}active{{/if}}" href="/nutrient_management" style="">Soil Analysis</a>
                        <a class="dropdown-item {{# if nutrient_diagnose_tab}}active{{/if}}" href="/nutrient_management/LA Farm (API Paid)" style="">Nutrient Analysis</a>
                    </div>
                </div>
            </li> --}}

            {{#if purchasing_role}}
            {{else}}
            <li class="nav-item">
                <div class="nav-item dropdown text-decoration-none" style="text-decoration: none;padding: 16px;margin-bottom: 0px;">
                    <a aria-expanded="{{# if sms_mgt_tab}}true{{else}}false{{/if}}" data-toggle="collapse" data-target="#smsManagement" href="#" class="dropdown-lbl text-decoration-none {{# if subscriptions_tab}}active{{/if}}{{# if messages_tab}}active{{/if}}" href="#" id="fifthDp">
                        <i class="fas fa-sms" style="margin-right: 10px;"></i>SMS Management  &nbsp;&nbsp;
                        <i class="fas fa-caret-down"></i>
                    </a>
                    <div class="collapse {{# if sms_mgt_tab}}show{{/if}}" style="" id="smsManagement">
                        <a class="dropdown-item {{# if subscriptions_tab}}active{{/if}}" href="/sms/subscriptions" style="">Subscriptions</a>
                        <a class="dropdown-item {{# if messages_tab}}active{{/if}}" href="/sms/messages" style="">Messages</a>
                    </div>
                </div>
            </li>
            {{/if}}

                {{#if admin_role}}
            <li class="nav-item" style="padding:16px">
                <a class="dropdown-lbl text-decoration-none {{# if users_tab}}active{{/if}}" href="/user_management" style="font-size: 16px;"><i class="fas fa-user-circle" style="font-size: 16px; margin-right: 10px"></i>User Management
                </a>
            </li>
            {{/if}}

            <li class="nav-item" style="padding:16px">
                <a class="dropdown-lbl text-decoration-none {{# if reports_tab}}active{{/if}}" href="/farm_productivity_report" style=""><i class="fas fa-chart-bar" style="font-size: 16px; margin-right: 10px"></i>Farm Productivity Reports
                </a>
            </li>
        </ul>
        <div class="text-center d-none d-md-inline"></div>
    </div>
</nav>

<script>
$('nav a#firstDp').click(function(){
$('nav a#firstDp i.fas.fa-caret-down').toggleClass("rotate");
});

$('nav a#secondDp').click(function(){
$('nav a#secondDp i.fas.fa-caret-down').toggleClass("rotate");
});

$('nav a#thirdDp').click(function(){
$('nav a#thirdDp i.fas.fa-caret-down').toggleClass("rotate");
});

$('nav a#fourthDp').click(function(){
$('nav a#fourthDp i.fas.fa-caret-down').toggleClass("rotate");
});

$('nav a#fifthDp').click(function(){
$('nav a#fifthDp i.fas.fa-caret-down').toggleClass("rotate");
});

$('nav a#sixthDp').click(function(){
$('nav a#sixthDp i.fas.fa-caret-down').toggleClass("rotate");
});
</script>