<!DOCTYPE html>
<html>
<head>
  <!-- Hotjar Tracking Code for https://larice-cms.azurewebsites.net/crop_calendar -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2948018,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
  <title> {{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="../../images/image29.png" style="width: 5px;">
  <!-- temp css !-->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  
  {{!-- Data Tables CSS --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">

  {{!-- Original bootstrap.min.css kept as it is the most compatible --}}
  <link rel="stylesheet" href="../../../bootstrap/css/bootstrap.min.css">

  <link rel="stylesheet" href="../../../assets/css/test.css">
  <link rel="stylesheet" href="../../../css/style.css">
  <link rel="stylesheet" href="../../../css/bootstrap_styles.css">

  {{!-- FROM YEN HTML --}}

  {{!-- Note: Turned off as it is the same as the ones below --}}

  {{!-- <link rel="stylesheet" href="../../../bootstrap/css/Animation-Cards-1.css">
  <link rel="stylesheet" href="../../../bootstrap/css/Animation-Cards.css"> --}}

  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"> --}}
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css"> --}}
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css"> --}}

    <link rel="stylesheet" href="../../../bootstrap/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css">
  
  {{!-- END FROM YEN HTML --}}

  {{!-- FROM UPDATED --}}

  {{!-- Note: Turned off as it isn't as compatible with the current version and styles (e.g. messes up page structure like in farm monit) --}}

  {{!-- <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css"> --}}
  {{!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,300,700,400italic,300italic,700italic">
  <link rel="stylesheet" href="../../../assets/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="../../../assets/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="../../../assets/fonts/fontawesome5-overrides.min.css"> --}}

  <link rel="stylesheet" href="../../../assets/css/Animation-Cards-1.css">
  <link rel="stylesheet" href="../../../assets/css/Animation-Cards.css">
  <link rel="stylesheet" href="../../../assets/css/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/css/theme.bootstrap_4.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
  <link rel="stylesheet" href="../../../assets/css/Multi-step-form.css">
  <link rel="stylesheet" href="../../../assets/css/TR-Form.css">


  {{!-- <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js"></script> --}}

  <link href="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  {{!-- MAPBOX DRAW POLYGON --}}
  <script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
  <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.js"></script>
  <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.2.2/mapbox-gl-draw.css" type="text/css">

  <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
  {{!-- <script src="../../../js/google_maps.js"></script> --}}

  <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>

  {{!-- NOTE: Moved here since the form validators don't work when below <body> for some reason --}}
  <script type="text/javascript">
    
    $('*[href]').on('click',function (event) {
      window.location = $(this).attr('href');
    });

  </script>

</head>
<body id="page-top">

  {{#if session}}
  <div class="main_container primary">
    
    <div class="sidebar_container secondary">
      {{> sidebar}}
    </div>

    <div class="body_container secondary d-flex flex-column"  style="padding-left: 36px; background-color: #FCFCFC">
      {{> nav}}

      <div id="content-wrapper" style="margin-top: 90px;">
        {{> messages}}
      {{{body}}}

      <div class="modal fade" id="change_date_modal" tabindex="-1" role="dialog" aria-labelledby="change_date_modal" aria-hidden="true" style="margin-left: 130px !important;">
        <div class="modal-dialog modal-dialog-centered mx-auto" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Change Current Date</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <small class="text-muted">* Features which depend on actual date such as weather forecasts and satellite imagery statistics such as Soil Moisture and NDVI will not reflect actual values if system date is changed. These will be replaced by the previous year's data of the changed date. </small>

              <form action="/edit_system_date" id="edit_date_form" method="get">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">True Current Date</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="current_date" value="{{true_date}}" disabled>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label">Current System Date</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="change_date" name="change_date" value="{{cur_date}}">
                  </div>
                </div>

              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" form="edit_date_form" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>



      <div style="margin-bottom: 50px;"></div>
      
      </div>

      {{> footer}}
    
  </div>


  {{else}}
  {{{body}}}
  {{/if}}

  <!-- Bootstrap JS Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  <script type="text/javascript">
    var system_date = '{{cur_date}}';
  </script>
  
  {{#if session}}
  <script src="../../../js/agroapi_ajax.js"></script>
  <script src="../../assets/js/ajax.js"></script>
  <script src="../../../js/farm_view.js"></script>
  <script src="../../../js/materials.js"></script>
  <script src="../../../js/pest_disease.js"></script>
  <script src="../../../js/ui_handler.js"></script>
  <script src="../../../js/weather_forecast.js"></script>
  <script src="../../../js/work_order_harvest.js"></script>
  <script src="../../../js/mapbox.js"></script>
  <script src="../../../js/nutrient_management(ajax).js"></script>
  <script src="../../../js/yield_forecast.js"></script>
  <script src="../../../js/notification.js"></script>
  <script src="../../../js/pest&diseaseRecommendation.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js" integrity="sha512-tMabqarPtykgDtdtSqCL3uLVM0gS1ZkUAVhRFu1vSEFgvB73niFQWJuvviDyBGBH22Lcau4rHB5p2K2T0Xvr6Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {{/if}}

  <script type="text/javascript">
    jQuery.ajaxSetup({async: false });
    $(document).ready(function() {
      $('*[href]').on('click',function (event) {
        console.log('!');
        window.location = $(this).attr('href');
      });

      $('.link').on('click', function(e) {
        window.location = $(this).attr('data-href');
      });

      $('#work_order_table').on('click', '.link', function() {
        window.location = $(this).attr('data-href');
      });

      // var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      // var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      //   return new bootstrap.Tooltip(tooltipTriggerEl)
      // });
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });
    });
      

  </script>

{{!-- GOOGLE MAPS API --}}
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqhmJGm6BHloMA9oHZvD9aXx2MCwIFFq4&callback=initMap">
</script>


{{!--FROM UPDATED --}}
<script src="../../../assets/js/jquery.min.js"></script>
{{!-- Bootstrap.min.js brought back (needed to make dropdown cards work) --}}
<script src="../../../assets/bootstrap/js/bootstrap.min.js"></script> 
<script src="../../../assets/js/bs-init.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="../../../assets/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
<script src="../../../assets/js/Multi-step-form.js"></script>
<script src="../../../assets/js/theme.js"></script>

{{!-- OLD FROM YEN HTML JS --}}

{{!-- Note: Turned off as it is the same as the ones above --}}

{{!-- <script src="../../../bootstrap/js/bs-init.js"></script> --}}
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script> --}}
{{!-- <script src="../../../bootstrap/js/Data-Table-with-Search-Sort-Filter-and-Zoom-using-TableSorter.js"></script> --}}
{{!-- <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/jquery.tablesorter.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-filter.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.2/js/widgets/widget-storage.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script> --}}
{{!-- <script src="../../../bootstrap/js/theme.js"></script> --}}

{{!-- OLD END FROM YEN HTML JS --}}

{{!-- Data Tables JS --}}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

<script src="../../../js/dataTables.js"></script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>

<!-- This should always be placed after jquery -->
<script type="text/javascript" src="../../../../../js/serializejson.js"></script>

</body>



</html>