<form method="post" action="/edit_work_order" id="edit_wo_form">
	<div class="mr-5 ml-3">
		<div class="form-group">
			<label>Work Order {{work_order.work_order_id}}</label>
			<input type="hidden" name="wo_id" value="{{work_order.work_order_id}}" class="hide">
			{{#if editable}}
			<button class="btn btn-primary float-right" type="button" id="wo_edit">Edit</button>
			{{/if}}
		</div>

		<div class="form-group">
			<label>Farm Name: 
				<input type="text" class="form-control" id="farm_name" name="farm_name" value="{{work_order.farm_name}}" readonly>
			</label>
		</div>

		<div class="form-group">
			<label>Crop Calendar: 
				<input type="text" class="form-control" id="crop_plan" name="crop_plan" value="{{work_order.crop_plan}}" readonly>
				<input type="hidden" name="crop_calendar_id" id="crop_calendar_id" value="{{work_order.crop_calendar_id}}">
			</label>
		</div>

		<div class="form-group">
			<label>Date Created:
				<input type="date" class="form-control" id="date_created" name="date_created" value="{{work_order.date_created}}" readonly>
			</label>
		</div>

		<div class="form-group">
			<label>Type:
				<input type="text" class="form-control" id="type" name="type" value="{{work_order.type}}" readonly>
			</label>
		</div>

		<div class="form-group">
			<label>Status:
				<input type="text" class="form-control" id="status" name="status" value="{{work_order.status}}" readonly>
			</label>
		</div>
	</div>

	<div class="mx-3 mt-2">
		<div class="form-group">
			<label>Date Start: 
				<input type="date" class="form-control" id="date_start" name="date_start" value="{{work_order.date_start}}" readonly>
			</label>
		</div>
		<div class="form-group">
			<label>Date Due: 
				<input type="date" class="form-control" id="date_due" name="date_due" value="{{work_order.date_due}}" readonly>
			</label>
		</div>

		<div class="form-group">
			<label>Notes: </label>
			<textarea class="form-control w-75" id="notes" name="notes" value="{{work_order.notes}}" rows="3" style="resize: none;" readonly></textarea>
		</div>
	</div>

	{{#if resources}}
	<div class="mx-3">
		<label>{{resources.title}}</label>
		{{#each resources}}
		<div class="d-flex w-50" style="">
			<input class="form-control" style="" type="text" id="{{../resources.lbl.name}}" name="{{../resources.lbl.name}}" value="{{this.material_name}}" readonly="true">
			<input class="hide" style="" type="text" id="{{../resources.lbl.item}}" name="{{../resources.lbl.item}}" value="{{this.item_id}}" readonly="true">
			<div class="d-flex flex-column" style="">
				<input class="form-control mx-2" style="width: 125px;" type="number" id="{{../resources.lbl.qty}}" name="{{../resources.lbl.qty}}" value="{{this.qty}}" readonly>
			</div>
		</div>
		{{/each}}
	</div>
	{{/if}}
</form>

<div id="btn_cont">
	
</div>
<!-- {{#if editable}}
<div class="mr-5 mt-5">
	<button class="btn btn-success float-right">Save</button>
</div>
{{/if}} -->

<script type="text/javascript">
	var resource = '{{resources.lbl.name}}';

	function createDOM(obj) {
		var ele;

		ele = document.createElement(obj.type);
		ele.setAttribute('class', obj.class);
		ele.setAttribute('style', obj.style);
		ele.innerHTML = obj.html;

		for (prop in obj.attr) {
			if (Object.prototype.hasOwnProperty.call(obj.attr, prop)) {
				ele.setAttribute(prop, obj.attr[prop]);
		    }
		}

		return ele;
	}

	function toggleEditState(show) {
		var editable = ['#status', '#date_start', '#date_due', '#notes', '#'+resource+'_qty'];
		var eles = $(editable.join()).attr('readonly', !show);
		if (show) {

			//Create save button
			var target = $('#btn_cont');
			var cont, btn_submit, btn_cancel;
			var btn_attr = {
				type: 'submit',
				id: 'btn_submit',
				form: 'edit_wo_form'
			}
			var btn_cancel_attr = {
				type: 'button',
				id: 'btn_cancel'
			}

			cont = createDOM({ type: 'div', class: 'mr-5 mt-5', style: '', html: '', attr: null });
			btn_submit = createDOM({ type: 'button', class: 'btn btn-success float-right', style: '', html: 'Save', attr: btn_attr });
			btn_cancel = createDOM({ type: 'button', class: 'btn btn-danger float-right mr-2', style: '', html: 'Cancel', attr: btn_cancel_attr });

			cont.appendChild(btn_submit);
			cont.appendChild(btn_cancel);
			target.append(cont);
		}
		else {
			$('#btn_cont').empty();
		}
	}

	$(document).ready(function() {

		$('#wo_edit').on('click', function() {
			toggleEditState(true);
		});

		$('#btn_cont').on('click', '#btn_cancel', function() {
			toggleEditState(false);
		});
	});

</script>