<div class="container-fluid">
                    <h3 class="text-dark mb-4" style="font-weight: bold;color: #332c1f;">Pests and Diseases</h3>
                    <div class="row" style="padding: 0px 12px;">
                        <div class="col-xxl-7">
                            <div class="table-responsive" style="border-style: none;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Mon</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-showers-heavy justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Tue</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-meatball justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Wed</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Thu</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-poo-storm justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Fri</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Sat</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Sun</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Mon</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-showers-heavy justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0px 12px;">
                        <div class="col-xxl-9"><label class="form-label d-xxl-flex justify-content-xxl-start" for="username" style="color: #332c1f;"><strong>Possible Diagnosis</strong></label>
                            <div class="card">
                                <div class="card-header" style="height: auto;background: rgba(255,165,0,0);">
                                    <ul class="nav nav-tabs card-header-tabs">
                                        <li class="nav-item"><a id="pest_tab" class="nav-link pestdisease active" href="#" style="background: #F0F0F0;">Pest</a></li>
                                        <li class="nav-item"><a id="disease_tab" class="nav-link pestdisease" href="#">Disease</a></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="row table-topper align-items-center">
                                        <div class="col-4 text-start" style="margin: 0px;padding: 5px 15px;"><button class="btn btn-primary btn-sm reset" type="button" style="padding: 5px;margin: 2px;">Reset Filters</button><button class="btn btn-warning btn-sm" id="zoom_in" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-plus"></i></button><button class="btn btn-warning btn-sm" id="zoom_out" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-minus"></i></button></div>
                                        <div class="col-4 text-center" style="margin: 0px;padding: 5px 10px;">
                                            <h6 id="counter">Showing: <strong id="rowCount">ALL</strong>&nbsp;Row(s)</h6>
                                        </div>
                                        <div class="col-4 text-end" style="margin: 0px;padding: 5px 10px;"><a href="#" data-bs-toggle="modal" data-bs-target="#tablehelpModal"><i class="fa fa-question-circle" title="Custom Sort Details" aria-hidden="true" style="padding: 5px 15px;margin: 2px;" data-bs-toggle="tooltip" data-bs-placement="top"></i></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div>
                                                <table class="table table tablesorter" id="ipi-table">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Description</th>
                                                            <th>Probability</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each probability}}
                                                            <tr><a hidden >{{this.pd_id}}</a>
                                                                <td >{{this.pd_name}}</td>
                                                                <td>{{this.pd_desc}}</td>
                                                                <td class="probability_value">{{this.probability}}</td>
                                                            </tr>
                                                        {{/each}}
                                                        {{!-- <tr>
                                                            <td>Rats</td>
                                                            <td>Pest</td>
                                                            <td>March 05, 2021</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Rice Caseworm</td>
                                                            <td>Pest</td>
                                                            <td>March 05, 2021<br></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Bacterial Blight</td>
                                                            <td>Disease</td>
                                                            <td>March 05, 2021<br></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Worms</td>
                                                            <td>Pest</td>
                                                            <td>March 05, 2021<br></td>
                                                        </tr> --}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="background: #939C1F;height: auto;">
                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Existing Pest and Diseases</h6>
                                </div>
                                <div class="card-body">
                                    {{#each diagnosis}}
                                        <div class="card" style="border-color: rgb(78,79,85);margin-bottom: 10px;">
                                            <div class="card-body">
                                                <div style="border-style: none;"><span class="align-items-xxl-start">{{this.name}}</span><span class="float-end align-items-xxl-start">{{this.type}}</span><span class="d-flex d-xxl-flex justify-content-xxl-end align-items-xxl-start">{{this.value}}</span></div>
                                            </div>
                                        </div>
                                    {{/each}}
                                    {{!-- <div class="card" style="border-color: rgb(78,79,85);margin-bottom: 10px;">
                                        <div class="card-body">
                                            <div style="border-style: none;"><span class="align-items-xxl-start">Pesticide 1</span><span class="float-end align-items-xxl-start">10kg</span><span class="d-flex d-xxl-flex justify-content-xxl-end align-items-xxl-start">Php 2,000.00</span></div>
                                        </div>
                                    </div>
                                    <div class="card" style="border-color: rgb(78,79,85);margin-bottom: 10px;">
                                        <div class="card-body">
                                            <div style="border-style: none;"><span class="align-items-xxl-start">Pesticide 1</span><span class="float-end align-items-xxl-start">10kg</span><span class="d-flex d-xxl-flex justify-content-xxl-end align-items-xxl-start">Php 2,000.00</span></div>
                                        </div>
                                    </div>
                                    <div class="card" style="border-color: rgb(78,79,85);margin-bottom: 10px;">
                                        <div class="card-body">
                                            <div style="border-style: none;"><span class="align-items-xxl-start">Pesticide 1</span><span class="float-end align-items-xxl-start">10kg</span><span class="d-flex d-xxl-flex justify-content-xxl-end align-items-xxl-start">Php 2,000.00</span></div>
                                        </div>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {{!-- <div class="row" style="padding: 0px 12px;">
                        <div class="col-xxl-9"><label class="form-label d-xxl-flex justify-content-xxl-start" for="username" style="color: #332c1f;"><strong>Diagnosis</strong></label>
                            <div class="card">
                                <div class="card-header" style="height: auto;background: rgba(255,165,0,0);">
                                    <ul class="nav nav-tabs card-header-tabs">
                                        <li class="nav-item"><a class="nav-link active" href="#" style="background: #F0F0F0;">Pest</a></li>
                                        <li class="nav-item"><a class="nav-link" href="#">Disease</a></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="row table-topper align-items-center">
                                        <div class="col-4 text-start" style="margin: 0px;padding: 5px 15px;"><button class="btn btn-primary btn-sm reset" type="button" style="padding: 5px;margin: 2px;">Reset Filters</button><button class="btn btn-warning btn-sm" id="zoom_in-1" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-plus"></i></button><button class="btn btn-warning btn-sm" id="zoom_out-1" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-minus"></i></button></div>
                                        <div class="col-4 text-center" style="margin: 0px;padding: 5px 10px;">
                                            <h6 id="counter-1">Showing: <strong id="rowCount-1">ALL</strong>&nbsp;Row(s)</h6>
                                        </div>
                                        <div class="col-4 text-end" style="margin: 0px;padding: 5px 10px;"><a href="#" data-bs-toggle="modal" data-bs-target="#tablehelpModal"><i class="fa fa-question-circle" title="Custom Sort Details" aria-hidden="true" style="padding: 5px 15px;margin: 2px;" data-bs-toggle="tooltip" data-bs-placement="top"></i></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <table class="table table tablesorter" id="ipi-table">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Description</th>
                                                            <th>Probability</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each diagnosis}}
                                                            <tr><a hidden>{{this.pd_id}}</a>
                                                                <td>{{this.pd_name}}</td>
                                                                <td>{{this.pd_desc}}</td>
                                                                <td>{{this.probability}}</td>
                                                            </tr>
                                                        {{/each}}
                                                        <tr>
                                                            <td>Rats</td>
                                                            <td>Pest</td>
                                                            <td>March 05, 2021</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Rice Caseworm</td>
                                                            <td>Pest</td>
                                                            <td>March 05, 2021<br></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Bacterial Blight</td>
                                                            <td>Disease</td>
                                                            <td>March 05, 2021<br></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Worms</td>
                                                            <td>Pest</td>
                                                            <td>March 05, 2021<br></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div> --}}
                </div>
                