<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0" style="font-family: Roboto, sans-serif;color: #584c33;font-weight: 500;">Farms</h3>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-xxl-12">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;color: #ffffff;">
                    <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background: #BDBE14;font-weight: bold;border-style: none;border-left-color: rgba(78,115,223,0);border-radius: 10px;padding: 4px 10px;">Farms</button><a class="btn btn-primary" role="button" style="margin-left: 10px;background: rgba(189,190,20,0);border-style: none;border-color: var(--bs-pink);padding: 4px 10px;" href="Materials.html">Materials</a></div>
                    <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v d-xxl-flex justify-content-xxl-end text-gray-400"></i></button>
                        <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                            <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div><small class="form-text" style="color: #584c33;font-weight: bold;font-size: 18px;">Filter Results:&nbsp;&nbsp;</small>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." style="border-radius: 60px;border-color: #7D7D7D;border-left-style: solid;border-left-color: #7D7D7D;"></div>
                        </form>

                        <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModalCenter">
						  Add Farm
						</button>
                       
                        <div class="table-responsive" style="margin-top: 20px;">
                            <table class="table">
                                <thead style="color: rgb(255,255,255);">
                                    <tr style="background: #332c1f;">
                                        <th>Farm ID</th>
                                        <th>Name</th>
                                        <th>Land Type</th>
                                        <th>Farm Manager</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                	{{#each farm_list}}
                                	<tr href="#">
                                        <td style="color: #584c33;">{{this.farm_id}}</td>
                                        <td style="color: #584c33;">{{this.farm_name}}</td>
                                        <td style="color: #584c33;">{{this.land_type}}</td>
                                        <td style="color: #584c33;">{{this.employee_name}}</td>
                                        <td style="color: #584c33;"><button type="button" class="float-right btn btn-danger farm_delete" value="{{this.farm_name}}">Delete</td>
                                    </tr>
                                	{{/each}}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Add Farm</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" value="create_farm_form">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

      	<form method="post" id="create_farm_form">

      	<div class="modal_body_content" id="body_step1">
		  <div class="form-group">
		    <label for="farm_name">Farm Name</label>
		    <input type="text" class="form-control" id="farm_name" name="farm_name" placeholder="...">
		  </div>

		  <div class="form-group">
		    <label for="farm_desc">Description</label>
		    <input type="text" class="form-control" id="farm_desc" name="farm_desc" placeholder="...">
		  </div>

		  <div class="form-group">
		    <label for="land_type">Land Type</label>
		    <select class="form-control" id="land_type" name="land_type">
		      <option value="Lowland">Lowland</option>
		      <option value="Upland">Upland</option>
		    </select>
		  </div>
      	</div>

      	<div class="hide modal_body_content" id="body_step2">
      		<div class="form-group">
			    <label for="">Plot Details</label>
			    <small id="emailHelp" class="form-text text-muted">Wag muna ibahin to di ko pa alam coordinates</small>
				<div class="form-row">
					<div class="form-group w-25 mr-3">
						<label for="x1">Coordinate 1</label>
						<div class="d-flex">
							<input type="text" class="form-control mr-3" id="x1" placeholder="x1" name="coordinates" value="121.38162">
							<input type="text" class="form-control" id="y1" placeholder="y1" name="coordinates"	value="13.07716">	
						</div>
					</div>
					<div class="form-group w-25">
						<label for="inputPassword4">Coordinate 2</label>
						<div class="d-flex">
							<input type="text" class="form-control mr-3" id="x2" placeholder="x2" name="coordinates" value="121.38197">
							<input type="text" class="form-control" id="y2" placeholder="y2" name="coordinates" value="13.06959">	
						</div>
					</div>
				</div>

				<div class="form-row">
					<div class="form-group w-25 mr-3">
						<label for="x1">Coordinate 3</label>
						<div class="d-flex">
							<input type="text" class="form-control mr-3" id="x3" placeholder="x3" name="coordinates" value="121.3876">
							<input type="text" class="form-control" id="y3" placeholder="y3" name="coordinates" value="13.06939">	
						</div>
					</div>
					<div class="form-group w-25">
						<label for="inputPassword4">Coordinate 4</label>
						<div class="d-flex">
							<input type="text" class="form-control mr-3" id="x4" placeholder="x4" name="coordinates" value="121.38828">
							<input type="text" class="form-control" id="y4" placeholder="y4" name="coordinates" value="13.07749">	
						</div>
					</div>
				</div>
			 </div>
      	</div>

      	<div class="hide modal_body_content" id="body_step3">
      		<label for="">Assign Employees</label>
      		<div class="">
      			<label for="">Farm Manager/s:</label>

      			<div class="container" id="">
      				<div class="row" id="farm_mngr_cont">
      					
      				</div>
      			</div>
      		</div>

      		<div class="">
      			<label for="">Farm Workers:</label>
      			<div class="container" id="">
      				<div class="row" id="">
      					
      				</div>
      			</div>

      			<div class="container" id="">
      				<small id="" class="form-text text-muted">Unassigned workers</small>
      				<div class="row" id="unassigned_frmr_cont">
      					
      				</div>
      			</div>

      			<div class="container" id="">
      				<small id="" class="form-text text-muted">Assigned workers</small>
      				<div class="row" id="assigned_frmr_cont">
      					
      				</div>
      			</div>
      		</div>

      	</div>

      	</form>

      </div>

      <div class="modal-footer">
      	<div class="modal_footer_content" id="_step1">
      		<button type="button" class="btn btn-secondary" data-dismiss="modal" value="create_farm_form">Cancel</button>
	        <button type="button" class="btn btn-primary next_step" value="_step2">Next</button>
      	</div>

      	<div class="hide modal_footer_content" id="_step2">
      		<button type="button" class="btn btn-secondary prev_step" value="_step1">Back</button>
	        <button type="button" class="btn btn-primary next_step" value="_step3" id="queueFarmers">Next</button>
      	</div>

      	<div class="hide modal_footer_content" id="_step3">
      		<button type="button" class="btn btn-secondary prev_step" value="_step2">Back</button>
	        <button type="submit" class="btn btn-primary" form="create_farm_form">Submit</button>
      	</div>
	        
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
	var view = 'farm_outlook';
</script>