<div class="container-fluid">
                    <h3 class="text-dark mb-4" style="font-weight: bold;color: #332c1f;"><a class="btn btn-primary" role="button" style="background: rgba(78,115,223,0);border-style: none;" href="Farm-Monitoring.html"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-backspace-fill" style="color: #332C1F;font-size: 25px;">
                                <path d="M15.683 3a2 2 0 0 0-2-2h-7.08a2 2 0 0 0-1.519.698L.241 7.35a1 1 0 0 0 0 1.302l4.843 5.65A2 2 0 0 0 6.603 15h7.08a2 2 0 0 0 2-2V3zM5.829 5.854a.5.5 0 1 1 .707-.708l2.147 2.147 2.146-2.147a.5.5 0 1 1 .707.708L9.39 8l2.146 2.146a.5.5 0 0 1-.707.708L8.683 8.707l-2.147 2.147a.5.5 0 0 1-.707-.708L7.976 8 5.829 5.854z"></path>
                            </svg></a>&nbsp;Farm 1&nbsp;</h3>
                    <div class="row" style="padding: 0px 12px;">
                        <div class="col-xxl-7">
                            <div class="table-responsive" style="border-style: none;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Mon</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-showers-heavy justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Tue</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-meatball justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Wed</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Thu</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-poo-storm justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Fri</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Sat</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Sun</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                            <th style="border-style: none;">
                                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Mon</h4>
                                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-showers-heavy justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0px 12px;">
                        <div class="col-xxl-9"><label class="form-label d-xxl-flex justify-content-xxl-start" for="username" style="color: #332c1f;"><strong>Resources (Inventory)</strong></label>
                            <div class="card">
                                <div class="card-header" style="height: auto;background: rgba(255,165,0,0);">
                                    <ul class="nav nav-tabs card-header-tabs">
                                        <li class="nav-item"><a id="seed_resources" class="nav-link resources active" href="#" style="background: #F0F0F0;">Seed</a></li>
                                        <li class="nav-item"><a id="fertilizer_resources" class="nav-link resources" href="#">Fertilizer</a></li>
                                        <li class="nav-item"><a id="pesticide_resources" class="nav-link resources" href="#">Pesticide</a></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <div class="row table-topper align-items-center">
                                        <div class="col-4 text-start" style="margin: 0px;padding: 5px 15px;"><button class="btn btn-primary btn-sm reset" type="button" style="padding: 5px;margin: 2px;">Reset Filters</button><button class="btn btn-warning btn-sm" id="zoom_in" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-plus"></i></button><button class="btn btn-warning btn-sm" id="zoom_out" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-minus"></i></button></div>
                                        <div class="col-4 text-center" style="margin: 0px;padding: 5px 10px;">
                                            <h6 id="counter">Showing: <strong id="rowCount">ALL</strong>&nbsp;Row(s)</h6>
                                        </div>
                                        <div class="col-4 text-end" style="margin: 0px;padding: 5px 10px;"><a href="#" data-bs-toggle="modal" data-bs-target="#tablehelpModal"><i class="fa fa-question-circle" title="Custom Sort Details" aria-hidden="true" style="padding: 5px 15px;margin: 2px;" data-bs-toggle="tooltip" data-bs-placement="top"></i></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div>
                                                <table class="table table tablesorter" id="ipi-table">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Material type</th>
                                                            <th>stock level</th>
                                                            <th>unit</th>
                                                            <th>cost per unit</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="resources_table">

                                                        {{#each seed}}
                                                            <tr class="resources clickable">
                                                                <td>{{this.item_name}}</td>
                                                                <td>{{this.item_type}}</td>
                                                                <td>{{this.current_amount}}</td>
                                                                <td>sacks</td>
                                                                <td>PHP 500.00</td>
                                                                <td><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></td>
                                                            </tr>
                                                        {{/each}}
                                                        {{!-- <tr>
                                                            <td>Dinorado</td>
                                                            <td>Fertilizer</td>
                                                            <td>2</td>
                                                            <td>sacks</td>
                                                            <td>PHP 500.00</td>
                                                            <td><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></td>
                                                        </tr> --}}
                                                        
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="background: #939C1F;height: auto;">
                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Pending Orders</h6>
                                </div>
                                <div class="card-body">
                                    {{#each pending}}
                                        <div class="card" style="border-color: rgb(78,79,85);margin-bottom: 10px;">
                                            <div class="card-body clickable" >
                                                <div style="border-style: none;"><span class="align-items-xxl-start">{{this.item_name}}</span><span class="float-end align-items-xxl-start">{{this.amount}} {{this.units}}</span><span class="d-flex d-xxl-flex justify-content-xxl-end align-items-xxl-start">Php {{this.purchase_price}}</span></div>
                                            </div>
                                        </div>
                                    {{/each}}
                                    <div class="card" style="border-color: rgb(78,79,85);margin-bottom: 10px;">
                                        <div class="card-body clickable">
                                            <div style="border-style: none;"><span class="align-items-xxl-start">Pesticide 1</span><span class="float-end align-items-xxl-start">10kg</span><span class="d-flex d-xxl-flex justify-content-xxl-end align-items-xxl-start">Php 2,000.00</span></div>
                                        </div>
                                    </div>
                                    {{!-- <div class="card" style="border-color: rgb(78,79,85);margin-bottom: 10px;">
                                        <div class="card-body">
                                            <div style="border-style: none;"><span class="align-items-xxl-start">Pesticide 1</span><span class="float-end align-items-xxl-start">10kg</span><span class="d-flex d-xxl-flex justify-content-xxl-end align-items-xxl-start">Php 2,000.00</span></div>
                                        </div>
                                    </div>
                                    <div class="card" style="border-color: rgb(78,79,85);margin-bottom: 10px;">
                                        <div class="card-body">
                                            <div style="border-style: none;"><span class="align-items-xxl-start">Pesticide 1</span><span class="float-end align-items-xxl-start">10kg</span><span class="d-flex d-xxl-flex justify-content-xxl-end align-items-xxl-start">Php 2,000.00</span></div>
                                        </div>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding: 0px 12px;">
                        <div class="col-xxl-9"><label class="form-label d-xxl-flex justify-content-xxl-start" for="username" style="color: #332c1f;"><strong>Orders Request</strong></label>
                            <div class="card">
                               
                                <div class="card-body">
                                    <div class="row table-topper align-items-center">
                                        <div class="col-4 text-start" style="margin: 0px;padding: 5px 15px;"><button class="btn btn-primary btn-sm reset" type="button" style="padding: 5px;margin: 2px;">Reset Filters</button><button class="btn btn-warning btn-sm" id="zoom_in-1" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-plus"></i></button><button class="btn btn-warning btn-sm" id="zoom_out-1" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-minus"></i></button></div>
                                        <div class="col-4 text-center" style="margin: 0px;padding: 5px 10px;">
                                            <h6 id="counter-1">Showing: <strong id="rowCount-1">ALL</strong>&nbsp;Row(s)</h6>
                                        </div>
                                        <div class="col-4 text-end" style="margin: 0px;padding: 5px 10px;"><a href="#" data-bs-toggle="modal" data-bs-target="#tablehelpModal"><i class="fa fa-question-circle" title="Custom Sort Details" aria-hidden="true" style="padding: 5px 15px;margin: 2px;" data-bs-toggle="tooltip" data-bs-placement="top"></i></a></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div>
                                                <table class="table table tablesorter" id="ipi-table">
                                                    
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Material type</th>
                                                            <th>unit</th>
                                                            <th>cost per unit</th>
                                                            <th>status</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each orders}}
                                                            <tr class="clickable">
                                                                <td>{{this.item_name}}</td>
                                                                <td>{{this.item_type}}</td>
                                                                <td>sacks</td>
                                                                <td>PHP {{this.purchase_price}}</td>
                                                                <td>{{this.purchase_status}}</td>
                                                                <td><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></td>
                                                            </tr>
                                                        {{/each}}
                                                        {{!-- <tr>
                                                            <td>Dinorado</td>
                                                            <td>Fertilizer</td>
                                                            <td>2</td>
                                                            <td>sacks</td>
                                                            <td>PHP 500.00</td>
                                                            <td><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Dinorado</td>
                                                            <td>Fertilizer</td>
                                                            <td>2</td>
                                                            <td>sacks</td>
                                                            <td>PHP 500.00</td>
                                                            <td><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Dinorado</td>
                                                            <td>Fertilizer</td>
                                                            <td>2</td>
                                                            <td>sacks</td>
                                                            <td>PHP 500.00</td>
                                                            <td><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Dinorado</td>
                                                            <td>Fertilizer</td>
                                                            <td>2</td>
                                                            <td>sacks</td>
                                                            <td>PHP 500.00</td>
                                                            <td><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></td>
                                                        </tr> --}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="background: #939C1F;height: auto;">
                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Processing Orders</h6>
                                </div>
                                <div class="card-body">
                                    {{#each processing}}
                                        <div class="card" style="border-color: rgb(78,79,85);margin-bottom: 10px;">
                                            <div class="card-body clickable">
                                               <div style="border-style: none;"><span class="align-items-xxl-start">{{this.item_name}}</span><span class="float-end align-items-xxl-start">{{this.amount}} {{this.units}}</span><span class="d-flex d-xxl-flex justify-content-xxl-end align-items-xxl-start">Php {{this.purchase_price}}</span></div>
                                            </div>
                                        </div>
                                    {{/each}}
                                    {{!-- <div class="card" style="border-color: rgb(78,79,85);margin-bottom: 10px;">
                                        <div class="card-body">
                                            <div style="border-style: none;"><span class="align-items-xxl-start">Pesticide 1</span><span class="float-end align-items-xxl-start">10kg</span><span class="d-flex d-xxl-flex justify-content-xxl-end align-items-xxl-start">Php 2,000.00</span></div>
                                        </div>
                                    </div>
                                    <div class="card" style="border-color: rgb(78,79,85);margin-bottom: 10px;">
                                        <div class="card-body">
                                            <div style="border-style: none;"><span class="align-items-xxl-start">Pesticide 1</span><span class="float-end align-items-xxl-start">10kg</span><span class="d-flex d-xxl-flex justify-content-xxl-end align-items-xxl-start">Php 2,000.00</span></div>
                                        </div>
                                    </div>
                                    <div class="card" style="border-color: rgb(78,79,85);margin-bottom: 10px;">
                                        <div class="card-body">
                                            <div style="border-style: none;"><span class="align-items-xxl-start">Pesticide 1</span><span class="float-end align-items-xxl-start">10kg</span><span class="d-flex d-xxl-flex justify-content-xxl-end align-items-xxl-start">Php 2,000.00</span></div>
                                        </div>
                                    </div> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>