<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Farms &gt; Work Order</h3><a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>October 1, 2021 10:32am<br><br></a>
    </div>
    <div role="tablist" id="accordion-1" style="margin-bottom: 20px;">
        <div class="card shadow mb-4" style="max-width: 1150px; margin: 0px auto">
            <div class="card-header" role="tab" style="background: #939C1F;padding: 16px 20px;height: auto;">
                <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1" style="font-size: 16px;color: rgb(255,255,255);font-weight: bold;">Create Work Order</a></h5>
            </div>
            <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
                <div class="card-body detailed_cont">
                    <form class="register-form" id="work_order_form" method="post" action="/create_work_order">
                        <fieldset>
                            <div class="form-row">
                                <div class="col-6 col-sm-6 col-md-6"><label>Farm</label>
                                    <div id="lp-name-wrapper"></div>
                                    <select class="form-control" id="farm_id" name="farm_id">
                                    </select>
                                </div>

                                <div class="col-6 col-sm-6 col-md-6"><label>Crop Calendar</label>
                                    <div id="lp-name-wrapper"></div>
                                    <select class="form-control" id="crop_calendar_id" name="crop_calendar_id">
                                    </select>
                                </div>

                                <div class="col-6 col-sm-6 col-md-6"><label>Type</label>
                                    <div id="lp-lastname-wrapper"></div>
                                    <select class="form-control" id="wo_type" name="wo_type">
                                        <!-- <option value="Sow Seed">Sow Seed</option> -->
                                        <option value="Pesticide Application">Pesticide Application</option>
                                        <option value="Fertilizer Application">Fertilizer Application</option>
                                        <option value="Water Fields">Water Fields</option>
                                    </select>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6">
                                    <div id="lp-name-wrapper-1"><label>Description</label><input class="form-control" type="text" id="lp-name-1" placeholder="Short description on the work order"></div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6">
                                    <div id="lp-lastname-wrapper-1"></div>
                                </div>
                                
                                <!-- <div class="col-12 col-sm-6 col-md-12">
                                    <div id="lp-check1-wrapper">
                                        <div class="form-check"><input class="form-check-input" type="checkbox" id="lp-check1"><label class="form-check-label checboxtext" for="lp-check1" style="color: rgb(133,135,150);">Harvested</label></div>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6">
                                    <div id="lp-name-wrapper-2"><label class="d-block">Rice Yield</label><input class="form-control d-inline-flex" type="number" style="width: 300px;"><label class="d-inline-flex" style="margin-left: 10px;">sacks</label></div>
                                </div> -->
                            </div>

                            <div class="form-row">
                                <div class="col-6 col-sm-6 col-md-6">
                                    <div id="lp-name-wrapper-3"><label>Start Date</label>
                                        <input type="date" class="form-control" id="start_date" name="start_date" aria-describedby="emailHelp" placeholder="" required>
                                    </div>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6">
                                    <div id="lp-lastname-wrapper-2"></div><label>Due Date</label><input type="date" class="form-control" id="due_date" name="due_date" aria-describedby="emailHelp" placeholder="" required>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-12 col-sm-6 col-md-12">
                                    <label>Resources</label>
                                    <div id="lp-mail-wrapper" style="max-width: 500px;">
                                        <div class="d-flex flex-column" id="resource_cont">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6 col-md-12" style="margin-top: -20px;">
                                    <div id="customfield1-wrapper"><label>Notes</label>
                                        <textarea type="text" class="form-control" id="notes" name="notes" aria-describedby="emailHelp" placeholder="" rows="3" style="resize: none;"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-12 mt-3"><button class="btn btn-primary float-right shadow" type="submit" style="border-radius: 20px;padding: 5px 18px;background: #EDD172;border-style: none;color: rgb(51,44,31);">Create Work Order</button></div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-5" style="max-width: 1150px; margin: 0px auto">
        <div class="card-header py-3" style="background: #939C1F;padding: 16px 20px;height: auto;">
            <p class="m-0 font-weight-bold" style="color: rgb(255,255,255);">Work Order Records</p>
        </div>
         <div class="card-body">
                            <div class="card" id="TableSorterCard-1">
                                <div class="row table-topper align-items-center">
                                    <div class="col-4 text-left" style="margin: 0px;padding: 5px 15px;"><button class="btn btn-primary btn-sm reset" type="button" style="padding: 5px;margin: 2px;">Reset Filters</button><button class="btn btn-warning btn-sm" id="zoom_in-1" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-plus"></i></button><button class="btn btn-warning btn-sm" id="zoom_out-1" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-minus"></i></button></div>
                                    <div class="col-4 text-center" style="margin: 0px;padding: 5px 10px;">
                                        <h6 id="counter-1">Showing: <strong id="rowCount">ALL</strong>&nbsp;Row(s)</h6>
                                    </div>
                                    <div class="col-4 text-right" style="margin: 0px;padding: 5px 10px;"><a href="#" data-toggle="modal" data-target="#tablehelpModal"><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Custom Sort Details" aria-hidden="true" style="padding: 5px 15px;margin: 2px;"></i></a></div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div style="width: auto;">
                                            <table class="table table tablesorter" id="ipi-table" style="table-layout: fixed; width: 100%">
                                                <thead class="thead-dark">
                                                    <tr style="background: #332C1F;">
                                                        <th style="">wo id</th>
                                                        <th style="">FARM</th>
                                                        <th style="">Type</th>
                                                        <th style="">CROP PLAN</th>
                                                        <th style="">Date Due</th>
                                                        <th style="">notes</th>
                                                        <th style="">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody aria-live="polite" aria-relevant="all">
                                                 {{#each wo_list}}
                                                 
                                                   <tr role="row">
                                                        <td>WO-{{this.work_order_id}}</td>
                                                        <td>{{this.farm_name}}</td>
                                                        <td>{{this.type}}</td>
                                                        <td>{{this.crop_plan}}</td>
                                                        <td>{{this.date_due}}</td>
                                                        <td style="word-wrap:break-word;">{{this.notes}}</td>
                                                        <td> {{this.status}} 
                                                            <span>
                                                            <div class="dropdown no-arrow" style="display:inline-block; float: right">
                                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle dropdown no-arrow" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                                        <a class="dropdown-item notSidebar" href="/farms/work_order&id={{this.work_order_id}}">View Details</a>
                                                                        {{!-- <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a> --}}
                                                                    </div>
                                                                </div>
                                                            </span> 
                                                        </td>
                                                    </tr>
                                                    {{/each}}
                                                </tbody>
                                            </table>
                                        </div>
                                               <nav class="float-right" style="margin-right: 10px;">
                                                        <ul class="pagination">
                                                            <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                                        </ul>
                                                    </nav>       
                                    </div>

                                </div>

                                <div class="modal fade" role="dialog" tabindex="-1" id="tablehelpModal-1" aria-labeledby="tablehelpModal" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Table Filtering Options</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th style="width:1%">Priority</th>
                                                                <th style="width:9%">Operator</th>
                                                                <th style="width:30%">Description</th>
                                                                <th style="width:60%">Examples</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td><code>|</code>&nbsp;or&nbsp;&nbsp;<code>OR</code><br></td>
                                                                <td>Logical "or" (Vertical bar). Filter the column for content that matches text from either side of the bar.<br></td>
                                                                <td><code>&lt;20 | &gt;40</code>&nbsp;(matches a column cell with either "&lt;20" or "&gt;40")<br></td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td><code>&amp;&amp;</code>&nbsp;or <code>AND</code><br></td>
                                                                <td>Logical "and". Filter the column for content that matches text from either side of the operator.<br></td>
                                                                <td><code>&gt;20 &amp;&amp; &gt;40</code>&nbsp;(matches a column cell that contains both "&gt;20" and "&lt;40")<br></td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td><code>/\d/</code><br></td>
                                                                <td>Add any regex to the query to use in the query ("mig" flags can be included&nbsp;<code>/\w/mig</code>)<br></td>
                                                                <td><code>/b[aeiou]g/i</code>&nbsp;(finds "bag", "beg", "BIG", "Bug", etc);<code>&gt;/r$/</code>&nbsp;(matches text that ends with an "r")<br></td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td><code>&lt; &lt;= &gt;= &gt;</code><br></td>
                                                                <td>Find alphabetical or numerical values less than or greater than or equal to the filtered query .<br></td>
                                                                <td><code>&lt;=10</code>&nbsp;(find values greater than or equal to 10)<br></td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td><code>!</code>&nbsp;or&nbsp;<code>!=</code><br></td>
                                                                <td>Not operator, or not exactly match. Filter the column with content that&nbsp;<strong>do not</strong>&nbsp;match the query. Include an equal (<code>=</code>), single (<code>'</code>) or double quote (<code>"</code>) to exactly&nbsp;<em>not</em>&nbsp;match a filter.<br><br><br></td>
                                                                <td><code>!e</code>&nbsp;(find text that doesn't contain an "e");<code>!"ELISA"</code>&nbsp;(find content that does not exactly match "ELISA")<br></td>
                                                            </tr>
                                                            <tr>
                                                                <td>6</td>
                                                                <td><code>"</code>&nbsp;or&nbsp;<code>=</code><br></td>
                                                                <td>To exactly match the search query, add a quote, apostrophe or equal sign to the beginning and/or end of the query<br></td>
                                                                <td><code>abc"</code>&nbsp;or&nbsp;<code>abc=</code>&nbsp;(exactly match "abc")<br></td>
                                                            </tr>
                                                            <tr>
                                                                <td>7</td>
                                                                <td><code>-</code>&nbsp;or <code>to</code><br></td>
                                                                <td>Find a range of values. Make sure there is a space before and after the dash (or the word "to").<br></td>
                                                                <td><code>10 - 30</code>&nbsp;or&nbsp;<code>10 to 30</code>&nbsp;(match values between 10 and 30)<br></td>
                                                            </tr>
                                                            <tr>
                                                                <td>8</td>
                                                                <td><code>?</code><br></td>
                                                                <td>Wildcard for a single, non-space character.<br></td>
                                                                <td><code>S?c</code>&nbsp;(finds "Sec" and "Soc", but not "Seec")<br></td>
                                                            </tr>
                                                            <tr>
                                                                <td>8</td>
                                                                <td><code>*</code><br></td>
                                                                <td>Wildcard for zero or more non-space characters.<br></td>
                                                                <td><code>B*k</code>&nbsp;(matches "Black" and "Book")<br></td>
                                                            </tr>
                                                            <tr>
                                                                <td>9</td>
                                                                <td><code>~</code><br></td>
                                                                <td>Perform a fuzzy search (matches sequential characters) by adding a tilde to the beginning of the query<br></td>
                                                                <td><code>~bee</code>&nbsp;(matches "Bruce Lee" and "Brenda Dexter"), or&nbsp;<code>~piano</code>&nbsp;(matches "Philip Aaron Wong")<br></td>
                                                            </tr>
                                                            <tr>
                                                                <td>10</td>
                                                                <td>text<br></td>
                                                                <td>Any text entered in the filter will&nbsp;<strong>match</strong>&nbsp;text found within the column<br></td>
                                                                <td><code>abc</code>&nbsp;(finds "abc", "abcd", "abcde", etc);<code>SEC</code>&nbsp;(finds "SEC" and "Analytical SEC")<br></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                  
                                                </div>
                                            </div>
                                            <div class="modal-footer"><button class="btn btn-danger" type="button" data-dismiss="modal">Close</button></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    </div>
</div>

<!-- Create WO JS -->
<script type="text/javascript">

    function changeCropCalendarVals(farm_id) {
        $('#crop_calendar_id').empty();
        $.get('/get_crop_plans', { status: ['Active', 'In-Progress'], where: { key: 'ft.farm_id', val: farm_id } }, function(plans) {
            plans = plans.filter(ele => ele.crop_plan != null || ele.crop_plan != undefined);
            console.log(plans);
            for (var i = 0; i < plans.length; i++) {
                $('#crop_calendar_id').append("<option value='"+plans[i].calendar_id+"'>"+plans[i].crop_plan+"</option>");
            }
        });
    }

    function createDOM(obj) {
        var ele;

        ele = document.createElement(obj.type);
        ele.setAttribute('class', obj.class);
        ele.setAttribute('style', obj.style);
        ele.innerHTML = obj.html;

        for (prop in obj.attr) {
            if (Object.prototype.hasOwnProperty.call(obj.attr, prop)) {
                ele.setAttribute(prop, obj.attr[prop]);
            }
        }

        return ele;
    }

    function appendResourceOpts(target, type, farm_id) {
        target = $('#resource_cont');

        target.empty();
        if (type == 'Fertilizer' || type == 'Pesticide') {
            var div, name, id, qty_cont, qty, lbl;
            var key, id_key;
            var name_attr = {
                type: 'text',
                name: type,
                value: '',
                readonly: true
            };
            var id_attr = {
                type: 'text',
                name: type+'_id',
                value: '',
                readonly: true
            }
            var qty_attr = {
                type: 'number',
                name: type+'_qty',
                value: '0',
                min: '0',
                max: ''
            };

            $.get('/getAll_materials', { type: type, filter: farm_id }, function(materials) {
                if (type == 'Fertilizer') {
                    key = 'fertilizer_name';
                    id_key = 'fertilizer_id';
                }
                else if (type == 'Pesticide') {
                    key = 'pesticide_name';
                    id_key = 'pesticide_id';
                }
                else if (type == '') {

                }

                for (var i = 0; i < materials.length; i++) {
                    name_attr.value = materials[i][key];
                    id_attr.value = materials[i][id_key];
                    qty_attr.max = materials[i].current_amount;

                    div = createDOM({ type: 'div', class: 'd-flex', style: '', html: '' });
                    id = createDOM({ type: 'input', class: 'hide', style: '', html: '', attr: id_attr });
                    name = createDOM({ type: 'input', class: 'form-control', style: '', html: '', attr: name_attr });

                    qty_cont = createDOM({ type: 'div', class: 'd-flex flex-column', style: '', html: '' });

                    qty = createDOM({ type: 'input', class: 'form-control mx-2', style: 'width: 100px;', html: '', attr: qty_attr });
                    lbl = createDOM({ type: 'label', class: '', style: 'font-size: 12px; text-align:center;', html: 'In-stock: '+materials[i].current_amount+'' });

                    qty_cont.appendChild(qty);
                    qty_cont.appendChild(lbl);

                    div.appendChild(name);
                    div.appendChild(id);
                    div.appendChild(qty_cont);

                    target.append(div);
                }
            });
        }
            
    }

    function changeResourceOpts(type) {
        var val;
        if (type == 'Pesticide Application') {
            val = 'Pesticide';
        }
        else if (type == 'Fertilizer Application') {
            val = 'Fertilizer';
        }
        else if (type == 'Harvest') {
            val = '';
        }
        return val;
    }

    function addDays(d1, days) {
        d1.setDate(d1.getDate() + days);

        return d1;
    }

    function adjustDueDate() {
        var val = new Date($('#start_date').val());
        var type = $('#wo_type').val();
        var add_days;
        if (type == 'Pesticide Application') {
            add_days = 7;
        }
        else if (type == 'Fertilizer Application') {
            add_days = 7;
        }
        else {
            add_days = 1;
        }

        val = addDays(val, add_days);
        $('#due_date').val(formatDate(val, 'YYYY-MM-DD'));
    }

    $(document).ready(function() {

        // $('#work_order_form').on('submit', function(e) {
        //  e.preventDefault();

        //  var form_data = $('#work_order_form').serializeJSON();

        //  console.log(form_data);

        //  // $.post('/create_work_order', form_data, function(crop_plan) {

        //  // });
        // })

        $('#start_date').on('change', function() {
            adjustDueDate();
        });

        $('#wo_type').on('change', function() {
            adjustDueDate();
        });

        $.get('/get_farm_list', { where: "farm_id in (select farm_id from crop_calendar_table where status = 'In-Progress' or status = 'Active') " }, function(result) {

            if (result.length != 0) {
                farm_list = result;
                for (var i = 0; i < result.length; i++) {
                    $('#farm_id').append("<option value='"+result[i].farm_id+"'>"+result[i].farm_name+"</option>");
                }

                changeCropCalendarVals(result[0].farm_id);

                appendResourceOpts(null, 'Pesticide', result[0].farm_id);
            }
            else {
                //Show no farm record error
            }
        });

        $('#farm_id').on('change', function(e) {
            var type = changeResourceOpts($('#wo_type').val());
            var farm_id = $(this).val();

            changeCropCalendarVals(farm_id);

            appendResourceOpts(null, type, farm_id);
        });

        $('#wo_type').on('change', function(e) {
            var type = changeResourceOpts($(this).val());
            var farm_id = $('#farm_id').find(":selected").val();

            appendResourceOpts(null, type, farm_id);
        });

    });
</script>

<!-- <script type="text/javascript">
    jQuery.ajaxSetup({async: false});

    function createDOM(obj) {
        var ele;

        ele = document.createElement(obj.type);
        ele.setAttribute('class', obj.class);
        ele.setAttribute('style', obj.style);
        ele.innerHTML = obj.html;

        for (prop in obj.attr) {
            if (Object.prototype.hasOwnProperty.call(obj.attr, prop)) {
                if (prop == 'data_href') {
                    new_prop = 'data-href';
                }
                else {
                    new_prop = prop;
                }
                ele.setAttribute(new_prop, obj.attr[prop]);
            }
        }

        return ele;
    }

    function appendWorkOrder(data) {
        var cont = $('#work_order_table');
        var keys = ['type', 'farm_name', 'status', 'date_due', 'work_order_id', 'wo_notes'];
        var attr = {
            data_href: ''
        };
        var props;
        console.log(data);
        tr = createDOM({ type: 'tr', class: '', style: '', html: '' });

        for (var i = 0; i < keys.length; i++) {

            if (keys[i] != 'work_order_id') {
                props = { type: 'td', class: '', style: '', html: data[keys[i]], attr: null };
            }
            else {
                attr['data_href'] = '/farms/work_order&id='+data[keys[i]];
                props = { type: 'td', class: 'link', style: '', html: data[keys[i]], attr: attr }
            }

            tr.appendChild(createDOM(props));
        }

        cont.append(tr);
    }

    function appendCards(data) {
        var cont = $('#calendar_card_cont');
        var card, card_body, row, col2, col3, col7, h6, h4, p1, p2, i, calendar_id;
        card = createDOM({ type: 'div', class: 'card', style: 'margin-bottom: 10px;margin-top: 20px;', html: '' });
        card_body = createDOM({ type: 'div', class: 'card-body calendar_card', style: '', html: '' });
        row = createDOM({ type: 'div', class: 'row', style: '', html: '' });
        col2 = createDOM({ type: 'div', class: 'col-xxl-2', style: '', html: '' });
        h6 = createDOM({ type: 'h6', class: 'd-xxl-flex justify-content-xxl-center align-items-xxl-center mb-2', style: 'text-align: center;color: #332c1f;font-weight: bold;font-size: 20px;', html: data.start_month });
        h4 = createDOM({ type: 'h4', class: 'd-xxl-flex justify-content-xxl-center align-items-xxl-center', style: 'text-align: center;color: #332c1f;font-weight: bold;margin-bottom: 0PX;font-size: 30px;', html: data.start_day });

        col2.appendChild(h6);
        col2.appendChild(h4);

        col7 = createDOM({ type: 'div', class: 'col-xxl-7', style: '', html: '' });
        h4 = createDOM({ type: 'h4', class: 'crop_plan', style: 'font-size: 20PX;', html: data.crop_plan });
        h6 = createDOM({ type: 'h6', class: 'text-muted mb-2 farm_name', style: '', html: data.farm_name });
        p1 = createDOM({ type: 'p', class: '', style: 'margin-bottom: 0px;', html: 'Stage: '+data.current_stage });
        p2 = createDOM({ type: 'p', class: '', style: '', html: 'Upcoming Activities: '+data.upcoming_activity });

        col7.appendChild(h4);
        col7.appendChild(h6);
        col7.appendChild(p1);
        col7.appendChild(p2);

        col3 = createDOM({ type: 'div', class: 'col-xxl-3', style: '', html: '' });
        i = createDOM({ type: 'i', class: 'd-xxl-flex justify-content-xxl-center align-items-xxl-center '+data.stage_icon, style: 'font-size: 80PX; color: RGB(102,117,40)', html: '' });

        col3.appendChild(i);

        row.appendChild(col2);
        row.appendChild(col7);
        row.appendChild(col3);

        card_body.appendChild(row);
        card.appendChild(card_body);
        cont.append(card);
    }

    function getCurrentStage(date, last_order) {
        var obj = { };
        var icons = ['fas fa-seedling'];
        if (date == null || date == '') {
            obj['stage'] = last_order;
            obj['icon'] = icons[0];
        }
        else {
            var now = new Date();
            var diff = now.getDate() - date.getDate();

            if (diff < 90) {
                obj['stage'] = 'Vegetation';
                obj['icon'] = icons[0];
            }
            else if (diff >= 90 && diff < 180) {
                obj['stage'] = 'Harvesting';
                obj['icon'] = icons[0];
            }
        }

        return obj;
    }

    function formatDate(date, format) {
        var year,month,day;
        const monthNames = ["", "Jan", "Feb", "Mar", "Apr", "May", "Jun",
          "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
        ];
        year = date.getFullYear();
        month = date.getMonth()+1;
        day = date.getDate();

        if (format === 'MM/DD/YYYY') {
            if (month < 10)
                month = '0'+month;
            if (day < 10)
                day = '0'+day;
            date = month+'/'+day+'/'+year;
        }
        else if (format === 'YYYY-MM-DD') {
            if (month < 10)
                month = '0'+month;
            if (day < 10)
                day = '0'+day;
            date = year+'-'+month+'-'+day;
        }
        else if (format === 'mm DD, YYYY') {
            date = monthNames[month]+' '+day+', '+year;
        }

        return date;
    }

    function prepareCalendarData(plan, work_order) {
        var obj = {};

        var stage = getCurrentStage(new Date(plan.sowing_date), work_order[0].type);
        obj['farm_name'] = plan.farm_name;
        obj['current_stage'] = stage.stage;
        obj['stage_icon'] = stage.icon;
        obj['crop_plan'] = plan.crop_plan;

        if (work_order.length != 0) {
            var date = new Date(work_order[0].date_start);
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
          "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var month = months[date.getMonth()];
            var day = date.getDate();

            obj['start_date'] = work_order[0].date_start;
            obj['start_month'] = month;
            obj['start_day'] = day;
            obj['upcoming_activity'] = work_order[0].type+' by '+formatDate(new Date(work_order[0].date_due), 'mm DD, YYYY');
        }

        return obj;
    }

    function getWorkOrders(where, title) {
        $('#work_order_table').children().not(':first').remove();
        //$('#filter_title').html(title);
        var query = {
            where: where,
            order: ['work_order_table.status ASC', 'work_order_table.date_due DESC']
        }
        $.get('/get_work_orders', query, function(work_order_list) {
            if (work_order_list.length != 0) {
                for (var i = 0; i < work_order_list.length; i++) {
                    work_order_list[i].date_due = formatDate(new Date(work_order_list[i].date_due), 'MM/DD/YYYY');
                    appendWorkOrder(work_order_list[i]);
                }
            }
            // Show 'No work order records'
            else {
                console.log('No work order records!');
            }
        });
    }

    $(document).ready(function() {

        $('#calendar_card_cont').on('click', '.calendar_card', function() {
            var target = $(this);
            var crop_plan = $(this).find('.crop_plan').html();
            var farm_name = $(this).find('.farm_name').html();
            console.log(crop_plan+' - '+farm_name);

            var query = {
                key: ['crop_plan'],
                value: [crop_plan]
            }

            getWorkOrders(query, farm_name+' - '+crop_plan);
        });

        // $.get('/get_crop_plans', { status: ['Active', 'In-Progress']}, function(plans) {
        //     let plan_list = plans;
        //     let counter = 0;
        //     var plan_arr = [];
        //     var query = {
        //         where: {
        //             key: ['crop_calendar_id', 'work_order_table.status'],
        //             value: null
        //         }
        //     };
        //     for (var i = 0; i < plan_list.length; i++) {
        //         query['where']['value'] = [plan_list[i].calendar_id, 'Pending'];
        //         $.get('/get_work_orders', query, function(work_orders) {
        //             if (work_orders.length != 0) {
        //                 counter++;
        //                 appendCards(prepareCalendarData(plan_list[i], work_orders));
        //             }
        //         });
        //     }
        //     // Show 'No Active Calendars'
        //     if (counter == 0) {
        //         console.log('No active calendars!');
        //     }
        // });

        getWorkOrders({}, 'All');
    });

</script> -->