<div class="d-flex w-100">
	<div class="rounded w-75 ml-3 card shadow-lg">
		<div class="w-100 bg-dark text-white rounded">Optimizations for </div>
		<div class="px-2">
			a
		</div>
	</div>
	<div class="d-flex flex-column w-25 mx-3">
		<div class="rounded card shadow-lg">
			<div class="w-100 bg-dark text-white rounded">Soil Data</div>
			<div class="px-2">
				<table class="table">
					<tr>
						<td class="soil_data_lbl">Soil Texture</td>
						<td id=""></td>
					</tr>
					<tr>
						<td class="soil_data_lbl">pH lvl</td>
						<td id="" class="text-right">{{detailed_data.pH_lvl}}</td>
					</tr>
					<tr>
						<td class="soil_data_lbl">P205</td>
						<td id="" class="text-right">{{detailed_data.p_val}}</td>
					</tr>
					<tr>
						<td class="soil_data_lbl">K20</td>
						<td id="" class="text-right">{{detailed_data.k_val}}</td>
					</tr>
					<tr>
						<td class="soil_data_lbl">N</td>
						<td id="" class="text-right">{{detailed_data.n_val}}</td>
					</tr>
					<tr>
						<td class="soil_data_lbl">Soil Moisture</td>
						<td id="" class="text-right"></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="rounded card shadow-lg mt-3">
			<div class="w-100 bg-dark text-white rounded">Nutrient Requirements (kg/ha)</div>
			<div class="px-3">
				<table class="table">
					<tr>
						<td class="soil_data_lbl">P205</td>
						<td id="" class="text-right">{{detailed_data.p_lvl}}</td>
					</tr>
					<tr>
						<td class="soil_data_lbl">K20</td>
						<td id="" class="text-right">{{detailed_data.k_lvl}}</td>
					</tr>
					<tr>
						<td class="soil_data_lbl">N</td>
						<td id="" class="text-right">{{detailed_data.n_lvl}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

</div>

<div class="rounded w-75 mx-3 card shadow-lg mt-3">
	<div class="w-100 bg-dark text-white rounded">Nutrient Calculation</div>
	<div class="px-2">
		<table class="table">
			<tr>
				<td></td>
				<td>Required (-)</td>
				<td>Added (+)</td>
				<td>Total</td>
				<td>Deficiency</td>
			</tr>
			<tr>
				<td>P205</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>K20</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td>N</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</div>

<div class="rounded  mx-3 mt-3">
	<div class="w-100 bg-dark text-white rounded">Fertilizer Planning</div>
	<div class="rounded card shadow-lg" style="height: 350px;">
		<div class="d-flex">
			<div class="w-100 p-3">
				<table class="table" id="inventory_table">

				</table>
			</div>
			<div class="ml-auto d-flex flex-column p-3" style="width: 170px;">
				<button class="btn btn-dark" style="font-size: 10px;">Current Resources</button>
				<button class="btn btn-dark mt-2" style="font-size: 10px;">Optimal</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var type = 'Soil Detailed';
	var id = {{detailed_data.farm_id}};
	var area = {{detailed_data.farm_area}};
</script>

<script src="../../js/nutrient_management.js"></script>


<script type="text/javascript">
	
var results;

</script>