<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0" style="font-weight: bold;color: #332c1f;">Farms &gt; Farm Monitoring &gt; Nutrient Management</h3>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xl-8 col-xxl-12">
            <div role="tablist" id="accordion-1" style="margin-bottom: 20px;">
                <div class="card">
                    <div class="card-header" role="tab" style="background: #939C1F;padding: 16px 20px;height: auto;">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1" style="font-size: 16px;color: rgb(255,255,255);font-weight: bold;">Create Soil Test</a></h5>
                    </div>
                    <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body">
                            <form class="register-form" method="post" id="soil_data_form">
                                <fieldset>
                                    <div class="form-row">
                                        <div class="col-6 col-sm-6 col-md-6"><label>Farm</label>
                                            <div id="lp-name-wrapper"></div>
                                            <select class="form-control" id="farm_id" name="farm_id">
                                            </select>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6"><label>Date Taken: </label>
                                            <div id="lp-lastname-wrapper"></div>
                                            <input type="date" class="form-control" id="date_taken" name="date_taken" aria-describedby="emailHelp" placeholder="">
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6">
                                            <div id="lp-name-wrapper-1">
                                                <label>pH Level:</label>
                                                <select class="form-control" id="ph_test" name="ph_test">
                                                    <option value="7.5">pH 7.5 - Alkaline</option>
                                                    <option value="7.0">pH 7.0 - Neutral</option>
                                                    <option value="6.5">pH 6.5 - Slight Acid</option>
                                                    <option value="6.0">pH 6.0 - Acid</option>
                                                    <option value="5.5">pH 5.5 - Acid</option>
                                                    <option value="5.0">pH 5.0 - Very Acid</option>
                                                    <option value="4.5">pH 4.5 - Very Acid</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6 col-sm-6 col-md-6">
                                            <div id="lp-lastname-wrapper-1"></div>
                                        </div>
                                        
                                        <div class="col-6 col-sm-6 col-md-6">
                                            <div id="lp-name-wrapper-3">
                                                <label>N Test</label>
                                                <select class="form-control" id="n_test" name="n_test">
                                                    <option value="Surplus">Surplus</option>
                                                    <option value="Sufficient">Sufficient</option>
                                                    <option value="Adequate">Adequate</option>
                                                    <option value="Deficient">Deficient</option>
                                                    <option value="Depleted">Depleted</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-6 col-sm-6 col-md-6">
                                            <div id="lp-name-wrapper-3">
                                                <label>P Test</label>
                                                <select class="form-control" id="p_test" name="p_test">
                                                    <option value="Surplus">Surplus</option>
                                                    <option value="Sufficient">Sufficient</option>
                                                    <option value="Adequate">Adequate</option>
                                                    <option value="Deficient">Deficient</option>
                                                    <option value="Depleted">Depleted</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-6 col-sm-6 col-md-6">
                                            <div id="lp-name-wrapper-3">
                                                <label>K Test</label>
                                                <select class="form-control" id="k_test" name="k_test">
                                                    <option value="Surplus">Surplus</option>
                                                    <option value="Sufficient">Sufficient</option>
                                                    <option value="Adequate">Adequate</option>
                                                    <option value="Deficient">Deficient</option>
                                                    <option value="Depleted">Depleted</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary float-right">Submit</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" style="height: auto;background: #939C1F;padding: 16px 20px;height: auto;">
                    <h5 class="text-white">
                        Fertilizer Optimization
                    </h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-7 col-xxl-8">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="background: #332C1F;height: auto;">
                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Optimization Requirements<br></h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive" style="border-style: none;">
                                        <table class="table">
                                            <thead>
                                                <tr></tr>
                                            </thead>
                                            <tbody>
                                                <tr style="border-style: none;">
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Farm</span><span class="d-xxl-flex justify-content-xxl-start">{{detailed_data.farm_name}}</span></td>
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Planting Method<br></span><span class="d-xxl-flex justify-content-xxl-start">{{detailed_data.method}}<br></span></td>
                                                </tr>
                                                <tr style="border-style: none;">
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Nutrient Deviations (-)<br></span><span class="d-xxl-flex justify-content-xxl-start">{{detailed_data.deficiencies}}<br></span></td>
                                                    <td style="border-style: none;">
                                                        <!-- <span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Water Level Requirement<br></span><span class="d-xxl-flex justify-content-xxl-start">1250 mm<br></span> -->
                                                        
                                                    </td>
                                                </tr>
                                                <tr style="border-style: none;">
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Expected Yield<br></span><span class="d-xxl-flex justify-content-xxl-start">todo<br></span></td>
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Forecasted Yield<br></span><span class="d-xxl-flex justify-content-xxl-start">todo<br></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="background: #332C1F;height: auto;">
                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Nutrient Calculations (kg/ha)<br></h6>
                                </div>
                                <div class="card-body">
                                    <!-- <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th style="text-align: right;">Required (-)</th>
                                                    <th style="text-align: right;">Added (+)</th>
                                                    <th style="text-align: right;">Total</th>
                                                    <th style="text-align: right;">Avg/Year</th>
                                                    <th style="text-align: right;">Nutrient Deviation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>N:</td>
                                                    <td style="text-align: right;">0</td>
                                                    <td style="text-align: right;">0</td>
                                                    <td style="text-align: right;">0</td>
                                                    <td style="text-align: right;">0</td>
                                                    <td style="text-align: right;">0</td>
                                                </tr>
                                                <tr>
                                                    <td>P2O5 (mg/100g):<br></td>
                                                    <td style="text-align: right;">0</td>
                                                    <td style="text-align: right;">0</td>
                                                    <td style="text-align: right;">0</td>
                                                    <td style="text-align: right;">0</td>
                                                    <td style="text-align: right;">0</td>
                                                </tr>
                                                <tr>
                                                    <td>K2O (mg/100g):<br></td>
                                                    <td style="text-align: right;">0</td>
                                                    <td style="text-align: right;">0</td>
                                                    <td style="text-align: right;">0</td>
                                                    <td style="text-align: right;">0</td>
                                                    <td style="text-align: right;">0</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> -->
                                    
                                    <div class="">
                                        <label>Fertilizer Calculations</label>
                                        <div class="table-responsive">
                                            <table class="table" id="inventory_table">
                                                <tr>
                                                    <th>Fertilizer</th>
                                                    <th>Current Stock</th>
                                                    <th>Recommendation</th>
                                                    <th>Applied</th>
                                                    <th>Deficiency</th>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="my-3">
                                        <label>Fertilizer Application History</label>
                                        <div class="table-responsive">
                                            <table class="table" id="fertilizer_history">
                                                <tr>
                                                    <th>Date Applied</th>
                                                    <th>Fertilizer</th>
                                                    <th>Description</th>
                                                    <th>Amount</th>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-xxl-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="background: #332C1F;height: auto;">
                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Soil Data&nbsp;</h6>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item"><span>Soil Texture</span><span class="float-end" id="soil_texture"></span></li>
                                        <li class="list-group-item"><span>pH Lvl</span><span class="float-end" id="ph_lvl">{{detailed_data.pH_lvl}}</span></li>
                                        <li class="list-group-item"><span>N</span><span class="float-end" id="n_lvl">{{detailed_data.n_val}}</span></li>
                                        <li class="list-group-item"><span>P205</span><span class="float-end" id="p_lvl">{{detailed_data.p_val}}</span></li>
                                        <li class="list-group-item"><span>K20</span><span class="float-end" id="k_lvl">{{detailed_data.k_val}}</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="background: #332C1F;height: auto;">
                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Soil Nutrient Requirements (kg/ha)<br></h6>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item"><span>N</span><span class="float-end">{{detailed_data.n_lvl}}</span></li>
                                        <li class="list-group-item"><span>P205 (mg/100)</span><span class="float-end">{{detailed_data.p_lvl}}</span></li>
                                        <li class="list-group-item"><span>K2O (mg/100)</span><span class="float-end">{{detailed_data.k_lvl}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xxl-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3" style="background: #939C1F;height: auto;">
                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Recommendation<br></h6>
                                </div>
                                <div class="card-body">
                                    <table class="table" id="schedule_table">
                                        <tr>
                                            <th>Application Date</th>
                                            <th>Fertilizer</th>
                                            <th>Description</th>
                                            <th>Amount</th>
                                            <th></th>
                                        </tr>
                                    </table>

                                    <button class="btn btn-success float-right hide mb-3" type="button" id="generate_wo">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var type = 'Soil Detailed';
    var id = {{detailed_data.farm_id}};
    var area = {{detailed_data.farm_area}};
    var farm_name = '{{detailed_data.farm_name}}';
    var results;
</script>

<script src="../../js/nutrient_management.js"></script>