<style>
    table td, th {
        color:#332C1F;
    } 

    label {
        color: #332C1F;
    }

    #seedTable, #fertilizerTable, #pesticideTable {
    /*margin-left: 0px;*/
    border-radius: 10px;
}

#seedTable th, #seedTable td, #seedTable tr, 
#fertilizerTable th, #fertilizerTable td, #fertilizerTable tr,
#pesticideTable th, #pesticideTable td, #pesticideTable tr {

    padding: 10px;
}

    @media print {
  body * {
    visibility: hidden;
  }

  #section-to-print, #section-to-print * {
    visibility: visible !important;
    color: #332C1F;
  }
  
  #section-to-print {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }

    html, body {
      height:100vh; 
      margin: 0 !important; 
      padding: 0 !important;
      overflow: hidden;
    }
}
}
</style>

<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Farms &gt; Crop Calendar</h3><a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
    </div>
    <div class="card shadow" style="max-width: 1350px; margin: 0px auto">
        <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;color: #ffffff; height: auto">
              <div class="col" style="padding-top: 10px;">
                        <h6>Active Crop Calendar</h6>
            
                </div>
            {{!-- <p class="d-inline-flex m-0 font-weight-bold" style="color: rgb(255,255,255);">Active Crop Calendar</p> --}}
            {{!-- <button onclick='window.location="/crop_calendar/add"' class="btn btn-primary d-inline-flex float-right shadow" type="button" style="border-radius: 20px;padding: 5px 18px;background: #EDD172;border-style: none;color: rgb(51,44,31);font-size: 12px;"><span>Create Crop Calendar<i class="fa fa-plus-circle" style="margin-left: 5px;"></i></span></button> --}}
            <div class="dropdown no-arrow" style="padding-top: 5px">
                        <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                            <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                        </button>
                        <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in" style="vertical-align: top;">
                            
                            {{#if writeable}}
                            <a class="dropdown-item notSidebar" onclick='window.location="/crop_calendar/add"' style="color: white;">&nbsp;Create Crop Calendar</a>
                            <div class="dropdown-divider"></div>
                            {{/if}}
                            <a class="dropdown-item notSidebar" href="#" type="button" value="print" id="print">&nbsp;View Required Materials Summary</a>
                            {{!-- <a class="dropdown-item notSidebar" href="#">&nbsp;Cancel Crop Calendar</a> --}}
                        </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th style="text-align: center;padding: 10px 12px;background: #212529;color: rgb(255,255,255);">Land Preparation</th>
                            <th style="text-align: center;padding: 10px 12px;background: #212529;color: rgb(255,255,255);">Sowing</th>
                            <th style="text-align: center;padding: 10px 12px;background: #212529;color: rgb(255,255,255);">Vegetation</th>
                            <th style="text-align: center;padding: 10px 12px;background: #212529;color: rgb(255,255,255);">Reproductive</th>
                            <th style="text-align: center;padding: 10px 12px;background: #212529;color: rgb(255,255,255);">Ripening</th>
                            <th style="text-align: center;padding: 10px 12px;background: #212529;color: rgb(255,255,255);">Harvest</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {{#if empty_plan}}
                        <tr>
                            <td colspan="6" style="padding: 50px">NO ACTIVE CROP CALENDARS</td>
                        </tr>
                        {{else}}
                        <tr class="text-center">
                            <!-- Land Prep -->
                            <td class="text-center" style="width: 170px;">
                                {{#each calendar_list.land_prep}}
                                <div class="text-center" style="background: #ffffff;border-radius: 5px;padding: 2px;min-height: 45px;box-shadow: 0px 0px 1px;border: 1px solid rgb(88,76,51);margin-bottom: 10px; width: auto">
                                    <p class="text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-weight: bold;">{{this.crop_plan}}</p>
                                    <p class="text-center" style="margin-bottom: 0px;color: #332C1F;text-align: center;font-size: 12px;">{{this.farm_name}}</p>
                                    
                                    {{#each this.wo_list}}
                                    <p class="text-center calendar-wo" style="margin-bottom: 0px;color: #332C1F;text-align: center;font-size: 12px;background: #EEEEEE;">
                                        {{this.type}} on {{this.date_start}}
                                    </p>
                                    {{/each}}
                                    <button class="btn btn-primary btn-sm text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-size: 12px; margin-top: 10px; margin-bottom: 5px" href="/crop_calendar/details?id={{this.calendar_id}}">View Details</button>

                                </div>
                                
                                {{/each}}
                                

                            </td>

                            <!-- Sowing -->
                            <td class="text-center" style="width: 170px;">
                                <!-- <div class="text-center" style="background: #ffffff;border-radius: 5px;padding: 2px;min-height: 45px;box-shadow: 0px 0px 1px;border: 1px solid rgb(88,76,51);margin-bottom: 10px;">
                                    <p class="text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-weight: bold;">Dinorado 2021</p>
                                    <p class="text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-size: 12px;">Farm 3</p>
                                    <p class="text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-size: 12px;background: #ffea79;">Transplanting on October 1, 2021</p>
                                </div> -->
                                {{#each calendar_list.sowing}}
                                <div class="text-center" style="background: #ffffff;border-radius: 5px;padding: 2px;min-height: 45px;box-shadow: 0px 0px 1px;border: 1px solid rgb(88,76,51);margin-bottom: 10px;">
                                    <p class="text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-weight: bold;">{{this.crop_plan}}</p>
                                    <p class="text-center" style="margin-bottom: 0px;color: #332C1F;text-align: center;font-size: 12px;">{{this.farm_name}}</p>
                                    
                                    {{#each this.wo_list}}
                                    <p class="text-center calendar-wo" style="margin-bottom: 0px;color: #332C1F;text-align: center;font-size: 12px;background: #EEEEEE;">
                                        {{this.type}} on {{this.date_start}}
                                    </p>
                                    {{/each}}
                                    <button class="btn btn-primary btn-sm text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-size: 12px; margin-top: 10px; margin-bottom: 5px" href="/crop_calendar/details?id={{this.calendar_id}}">View Details</button>

                                </div>
                                {{/each}}
                            </td>

                            <!-- Vegetation -->
                            <td class="text-center" style="width: 170px;">
                                {{#each calendar_list.vegetation}}
                                <div class="text-center" style="background: #ffffff;border-radius: 5px;padding: 2px;min-height: 45px;box-shadow: 0px 0px 1px;border: 1px solid rgb(88,76,51);margin-bottom: 10px;">
                                    <p class="text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-weight: bold;">{{this.crop_plan}}</p>
                                    <p class="text-center" style="margin-bottom: 0px;color: #332C1F;text-align: center;font-size: 12px;">{{this.farm_name}}</p>
                                    
                                    {{#each this.wo_list}}
                                    <p class="text-center calendar-wo" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-size: 12px;background: #EEEEEE;">
                                        {{this.type}} on {{this.date_start}}
                                    </p>
                                    {{/each}}
                                    <button class="btn btn-primary btn-sm text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-size: 12px; margin-top: 10px; margin-bottom: 5px" href="/crop_calendar/details?id={{this.calendar_id}}">View Details</button>

                                </div>
                                {{/each}}
                            </td>

                            <!-- Reproductive -->
                            <td class="text-center" style="width: 170px;">
                                {{#each calendar_list.reproductive}}
                                <div class="text-center" style="background: #ffffff;border-radius: 5px;padding: 2px;min-height: 45px;box-shadow: 0px 0px 1px;border: 1px solid rgb(88,76,51);margin-bottom: 10px;">
                                    <p class="text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-weight: bold;">{{this.crop_plan}}</p>
                                    <p class="text-center" style="margin-bottom: 0px;color: #332C1F;text-align: center;font-size: 12px;">{{this.farm_name}}</p>
                                    
                                    {{#each this.wo_list}}
                                    <p class="text-center calendar-wo" style="margin-bottom: 0px;color: #332C1F;text-align: center;font-size: 12px;background: #EEEEEE;">
                                        {{this.type}} on {{this.date_start}}
                                    </p>
                                    {{/each}}
                                    <button class="btn btn-primary btn-sm text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-size: 12px; margin-top: 10px; margin-bottom: 5px" href="/crop_calendar/details?id={{this.calendar_id}}">View Details</button>

                                </div>
                                {{/each}}
                            </td>

                            <!-- Ripening -->
                            <td class="text-center" style="width: 170px;">
                                {{#each calendar_list.ripening}}
                                <div class="text-center" style="background: #ffffff;border-radius: 5px;padding: 2px;min-height: 45px;box-shadow: 0px 0px 1px;border: 1px solid rgb(88,76,51);margin-bottom: 10px;">
                                    <p class="text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-weight: bold;">{{this.crop_plan}}</p>
                                    <p class="text-center" style="margin-bottom: 0px;color: #332C1F;text-align: center;font-size: 12px;">{{this.farm_name}}</p>
                                    
                                    {{#each this.wo_list}}
                                    <p class="text-center calendar-wo" style="margin-bottom: 0px;color: #332C1F;text-align: center;font-size: 12px;background: #EEEEEE;">
                                        {{this.type}} on {{this.date_start}}
                                    </p>
                                    {{/each}}
                                    <button class="btn btn-primary btn-sm text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-size: 12px; margin-top: 10px; margin-bottom: 5px" href="/crop_calendar/details?id={{this.calendar_id}}">View Details</button>

                                </div>
                                {{/each}}
                            </td>

                            <!-- Harvest -->
                            <td class="text-center" style="width: 170px;">
                                {{#each calendar_list.harvesting}}
                                <div class="text-center" style="background: #ffffff;border-radius: 5px;padding: 2px;min-height: 45px;box-shadow: 0px 0px 1px;border: 1px solid rgb(88,76,51);margin-bottom: 10px;">
                                    <p class="text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-weight: bold;">{{this.crop_plan}}</p>
                                    <p class="text-center" style="margin-bottom: 0px;color: #332C1F;text-align: center;font-size: 12px;">{{this.farm_name}}</p>
                                    
                                    {{#each this.wo_list}}
                                    <p class="text-center calendar-wo" style="margin-bottom: 0px;color: #332C1F;text-align: center;font-size: 12px;background: #EEEEEE;">
                                        {{this.type}} on {{this.date_start}}
                                    </p>
                                    {{/each}}
                                    <button class="btn btn-primary btn-sm text-center" style="margin-bottom: 0px;color: rgb(88,76,51);text-align: center;font-size: 12px; margin-top: 10px; margin-bottom: 5px" href="/crop_calendar/details?id={{this.calendar_id}}">View Details</button>

                                </div>
                                {{/each}}
                            </td>

                        </tr>
                        {{/if}}
                    </tbody>
                </table>
               
            </div>
        </div>
    </div>

    <div class="card shadow" style="max-width: 1350px; margin: 20px auto">
        <div class="card-header py-3" style="background: #939C1F;padding: 16px 20px;height: auto;">
            <p class="m-0 font-weight-bold" style="color: rgb(255,255,255);">Past Crop Calendars</p>
        </div>
        <div class="card-body">
                {{!-- <div class="row table-topper align-items-center">
                    <div class="col-4 text-left" style="margin: 0px;padding: 5px 15px;"><button class="btn btn-primary btn-sm reset" type="button" style="padding: 5px;margin: 2px;">Reset Filters</button><button class="btn btn-warning btn-sm" id="zoom_in-1" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-plus"></i></button><button class="btn btn-warning btn-sm" id="zoom_out-1" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-minus"></i></button></div>
                    <div class="col-4 text-center" style="margin: 0px;padding: 5px 10px;">
                        <h6 id="counter-1">Showing: <strong id="rowCount">ALL</strong>&nbsp;Row(s)</h6>
                    </div>
                    <div class="col-4 text-right" style="margin: 0px;padding: 5px 10px;"><a href="#" data-toggle="modal" data-target="#tablehelpModal"><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Custom Sort Details" aria-hidden="true" style="padding: 5px 15px;margin: 2px;"></i></a></div>
                </div> --}}
                <div class="row">
                    <div class="col-12">
                        <div style="width: auto;">
                            <table class="table table-striped table-bordered tablesorter" id="ipi-table" style="table-layout: fixed; width: 100%">
                                <thead class="thead-dark">
                                    <tr style="background: #332C1F;">
                                        <th style="">Crop Plan</th>
                                        <th style="">Farm Name</th>
                                        <th style="">Seed</th>
                                        <th style="">Sow Date</th>
                                        <th style="">Method</th>
                                        <th style="">Status</th>
                                    </tr>
                                </thead>
                                <tbody aria-live="polite" aria-relevant="all">
                                    {{#each past_calendars}}
                                    <tr role="row">
                                        <td style="">{{this.crop_plan}}</td>
                                        <td style="">{{this.farm_name}}</td>
                                        <td style="">{{this.seed_name}}</td>
                                        <td style="">{{this.sowing_date}}</td>
                                        <td style="">{{this.method}}</td>
                                        <td class="{{this.status}}"> {{this.status}} 
                                            <span>
                                            <div class="dropdown no-arrow" style="display:inline-block; float: right">
                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle dropdown no-arrow" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                    </button>
                                                    <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                        <a class="dropdown-item notSidebar" href="/crop_calendar/details?id={{this.calendar_id}}">View Details</a>
                                                        {{!-- <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a> --}}
                                                    </div>
                                                </div>
                                            </span> 
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        {{!-- <nav class="float-right" style="margin-right: 10px;">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                </ul>
                            </nav>        --}}
                    </div>

                </div>

        </div>
    </div>
</div>

{{!-- MATERIALS PDF --}}
<div id="section-to-print" style="display: none; visibility: hidden">
    <div class="container-fluid" style="margin-top: 10px">
        
        <h1 style="font-size: 80px; font-weight: bold; color: #939C1F">{{crop_plan_details.crop_plan}}</h1>
    
        <h4 style="font-size: 30px; margin-bottom: 70px; margin-left: 10px">{{crop_plan_details.farm_name}}</h4>

        {{!-- No more space for this part :< --}}
        {{!-- <div class="container-fluid" style="background-color: white; padding: 20px; border-radius: 10px; width:auto; margin-top: 30px;">      
       
            <div class="row" style="padding-left: 5px; margin-bottom: 30px">                         
                <h5 class="text-dark mb-0" style="font-size: 20px;"><span style="font-weight: bold; margin-right: 80px">Land Preparation Date:</span> dd/mm/yyyy</h5>
            </div>

            <div class="row" style="padding-left: 5px; margin-bottom: 30px">                         
                <h5 class="text-dark mb-0" style="font-size: 20px;"><span style="font-weight: bold; margin-right: 170px">Planting Dates:</span> dd/mm/yyyy to dd/mm/yyyy</h5>
            </div>

            <div class="row" style="padding-left: 5px; margin-bottom: 30px">                         
                <h5 class="text-dark mb-0" style="font-size: 20px;"><span style="font-weight: bold; margin-right: 76px">Pest Application Dates:</span> dd/mm/yyyy to dd/mm/yyyy</h5>
            </div>

             <div class="row" style="padding-left: 5px; margin-bottom: 50px">                         
                <h5 class="text-dark mb-0" style="font-size: 20px;"><span style="font-weight: bold; margin-right: 175px;">Harvest Dates:</span> dd/mm/yyyy to dd/mm/yyyy</h5>
            </div>
        </div> --}}

        <h4 style="font-size: 30px; font-weight: bold; margin-top: 30px; margin-bottom: 30px; margin-left: 20px; color: #939C1F">Required Materials Summary Report</h4>
        
        {{!-- SEEDS --}}
        <div class="container" style="position: relative;">
        <label for="" style="font-weight: bold; font-size: 25px; margin-bottom: 10px">Seeds</label>    
            <table class="table" style="border-style: none; padding: 20px; table-layout:fixed; width: 100%" id="seedTable">
                <thead class="thead" style="max-height: 0px;">
                    <tr>
                        <th style="border-color: #EEEEEE; text-align:left; background-color: #212529 !important; color: white">Seed Name</th>
                        <th style="border-color: #EEEEEE; text-align:right; background-color: #212529 !important; color: white">Requirement</th>
                        <th style="border-color: #EEEEEE; text-align:right; background-color: #212529 !important; color: white">Inventory</th>
                        <th style="border-color: #EEEEEE; text-align:right; background-color: #212529 !important; color: white">Deficient Amount</th>
                    </tr>
                </thead>

                <tbody>
                    {{#if materials.seed.rows}}
                    {{#each materials.seed.rows}}
                    <tr>
                        <td style="background-color: #EEEEEE !important">{{this.item_name}}</td>
                        <td class="text-right" style="background-color: #EEEEEE !important">{{this.total_req}}</td>
                        <td class="text-right" style="background-color: #EEEEEE !important"></td>
                        <td class="text-right" style="background-color: #EEEEEE !important">{{this.total_deficient}} bags</td>
                    </tr>
                        {{#each this.list}}
                        <tr>
                            <td>{{this.farm}}</td>
                            <td class="text-right">{{this.requirement}}</td>
                            <td class="text-right">{{this.inventory}}</td>
                            
                            <td class="text-right">{{this.deficient}}</td>
                        </tr>
                        {{/each}}
                    {{/each}}
                    {{else}}
                    <tr>
                        <td style="word-wrap:break-word;">N/A</td>
                        <td class="text-right">N/A</td>
                        <td class="text-right">N/A</td>
                        <td class="text-right">N/A</td>
                    </tr>
                    {{/if}}
                                                         
                </tbody>
            </table>
            <!-- <span  style="position:absolute; width: fit-content; right:0; margin-right: 0px; margin-top: 10px; padding: 10px; background-color: #7D7D7D; color: white; font-weight:bold;">
            Total Seeds Required: 0 bags
            </span>  -->
        </div>
        <br>
        {{!-- END OF SEEDS --}}
       
        {{!-- FERTILIZERS --}}
        <div class="container" style="position: relative;">
        <label for="" style="font-weight: bold; font-size: 25px; margin-bottom: 10px; margin-top: 30px">Fertilizers</label>
         <table class="table" style="border-style: none; padding: 20px; table-layout:fixed; width: 100%" id="fertilizerTable">
                <thead class="thead" style="max-height: 0px;">
                    <tr>
                        <th style="border-color: #EEEEEE; text-align:left; word-wrap:break-word; background-color: #212529 !important; color: white">Fertilizer Name</th>
                        <th style="border-color: #EEEEEE; text-align:right; background-color: #212529 !important; color: white">Requirement</th>
                        <th style="border-color: #EEEEEE; text-align:right; background-color: #212529 !important; color: white">Inventory</th>
                        <th style="border-color: #EEEEEE; text-align:right; background-color: #212529 !important; color: white">Deficient Amount</th>
                    </tr>
                </thead>

                <tbody>
                    {{#if materials.fertilizer.rows}}
                    {{#each materials.fertilizer.rows}}
                    <tr>
                        <td style="background-color: #EEEEEE !important">{{this.item_name}}</td>
                        <td class="text-right" style="background-color: #EEEEEE !important">{{this.total_req}}</td>
                        <td class="text-right" style="background-color: #EEEEEE !important"></td>
                        <td class="text-right" style="background-color: #EEEEEE !important">{{this.total_deficient}} bags</td>
                    </tr>
                        {{#each this.list}}
                        <tr>
                            <td>{{this.farm}}</td>
                            <td class="text-right">{{this.requirement}}</td>
                            <td class="text-right">{{this.inventory}}</td>
                                                        <td class="text-right">{{this.deficient}}</td>
                        </tr>
                        {{/each}}
                    {{/each}}
                    {{else}}
                    <tr>
                        <td style="word-wrap:break-word;">N/A</td>
                        <td class="text-right">N/A</td>
                        <td class="text-right">N/A</td>
                        <td class="text-right">N/A</td>
                    </tr>
                    {{/if}}
                                                         
                </tbody>
            </table>
            <!-- <span  style="position:absolute; width: fit-content; right:0; margin-right: 0px; margin-top: 10px; padding: 10px; background-color: #7D7D7D; color: white; font-weight:bold;">
            Total Fertilizers Required: 0 bags
            </span>  -->
        </div>
        <br>
        {{!-- END OF FERTILIZERS --}}

        {{!-- PESTICIDES --}}
        <div class="container" style="position: relative;">
        <label for="" style="font-weight: bold; font-size: 25px; margin-bottom: 10px; margin-top: 30px">Pesticides</label>
         <table class="table" style="border-style: none; padding: 20px; table-layout:fixed; width: 100%" id="pesticideTable">
                <thead class="thead" style="max-height: 0px;">
                    <tr>
                        <th style="border-color: #EEEEEE; text-align:left; word-wrap:break-word; background-color: #212529 !important; color: white">Pesticide Name</th>
                        <th style="border-color: #EEEEEE; text-align:right; background-color: #212529 !important; color: white">Requirement</th>
                        <th style="border-color: #EEEEEE; text-align:right; background-color: #212529 !important; color: white">Inventory</th>
                        <th style="border-color: #EEEEEE; text-align:right; background-color: #212529 !important; color: white">Deficient Amount</th>
                    </tr>
                </thead>

                <tbody>
                    {{#if materials.pesticide.rows}}
                    {{#each materials.pesticide.rows}}
                    <tr>
                        <td style="background-color: #EEEEEE !important">{{this.item_name}}</td>
                        <td class="text-right" style="background-color: #EEEEEE !important">{{this.total_req}}</td>
                        <td class="text-right"></td>
                        <td class="text-right" style="background-color: #EEEEEE !important">{{this.total_deficient}} bags</td>
                    </tr>
                        {{#each this.list}}
                        <tr>
                            <td class="">{{this.farm}}</td>
                            <td class="text-right">{{this.requirement}}</td>
                            <td class="text-right">{{this.inventory}}</td>
                            
                            <td class="text-right">{{this.deficient}}</td>
                        </tr>
                        {{/each}}
                    {{/each}}
                    {{else}}
                    <tr>
                        <td style="word-wrap:break-word;">N/A</td>
                        <td class="text-right">N/A</td>
                        <td class="text-right">N/A</td>
                        <td class="text-right">N/A</td>
                    </tr>
                    {{/if}}

                                                         
                </tbody>
            </table>
            <!-- <span  style="position:absolute; width: fit-content; right:0; margin-right: 0px; margin-top: 10px; padding: 10px; background-color: #7D7D7D; color: white; font-weight:bold;">
            Total Pesticides Required: 0 bags
            </span>  -->
        </div>
        <br>
        {{!-- END OF PESTICIDES --}}
        <br> <br> 
    </div>
    
    <!-- <div style="float:right; width: 500px; background-color: #D6CD41; color: #584C33; padding: 20px; border-radius: 10px; margin-top: 10px;">
    <span style="font-size: 20px; font-weight: bold;">REQUIRED MATERIALS SUMMARY:</span> <br><br>
    <span style="font-size: 18px; font-weight: bold;">Seeds:</span> <span style="font-size: 18px; float:right">0 bags</span><br>
    <span style="font-size: 18px; font-weight: bold;">Fertilizers:</span> <span style="font-size: 18px; float:right">0 bags</span><br>
    <span style="font-size: 18px; font-weight: bold;">Pesticides:</span> <span style="font-size: 18px; float:right">0 bags</span>
    </div> -->
  
</div> 
{{!-- END OF MATERIALS PDF --}}

<script>
    var view = 'crop_calendar_tab';

    document.querySelector("#print").addEventListener("click", function() {
        $('#section-to-print').toggle(); //removes the display:none
        window.print();
        $('#section-to-print').hide(); //brings back the display:none
        
    });
</script>