<style>
    table td, table th {
        color: #332c1f;
        border-style: none !important;
    }
</style>

<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Farms &gt; Work Order</h3><a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
    </div>
    <div class="card shadow mb-4"  style="max-width: 1150px; margin: 0px auto;">
        <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;color: #ffffff;">
            
            <div class="col" style="max-width: 70px; padding-top: 2px">
                <button type="submit" class="btn btn-primary btn-md" id="back" onclick="history.back()"> 
                    <i class="far fa-long-arrow-left d-lg-flex justify-content-lg-center" id="backIcon"></i>
                </button>        
            </div>

            <div class="col" style="margin-right: 650px; padding-top: 15px">
                <h6>Detailed Work Order {{work_order.work_order_id}}</h6>
            </div>
        </div>
        <div class="card-body">
            <form method="post" action="/edit_work_order" id="edit_wo_form">
                <input type="hidden" name="wo_id" value="{{work_order.work_order_id}}" class="hide">
                <div class="">
                    <table class="table table-sm detailed_cont">
                        <thead>
                            <tr>
                                <td style="width: 1px;">Status</td>
                                <td style="width: 50px;">
                                    <select class="form-select" style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 200px;" id="status" name="status" readonly>
                                        <option value="Pending" {{#compareTwoValues work_order.status 'Pending' operator='==='}}selected{{/compareTwoValues}}>Pending</option>
                                        <option value="In-Progress" {{#compareTwoValues work_order.status 'In-Progress' operator='==='}}selected{{/compareTwoValues}}>In-Progress</option>
                                        <option value="Completed" {{#compareTwoValues work_order.status 'Completed' operator='==='}}selected{{/compareTwoValues}}>Completed</option>
                                        {{#if isCancellable}}
                                        <option value="Cancelled" {{#compareTwoValues work_order.status 'Cancelled' operator='==='}}selected{{/compareTwoValues}}>Cancelled</option>
                                        {{/if}}
                                    </select>
                                </td>
                                <td></td>
                                <td>
                                    {{#if writeable}}
                                    {{#if editable}}
                                    <button class="btn btn-primary float-right" type="button" id="wo_edit">Edit</button>
                                    {{/if}}
                                    {{/if}}
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="4"></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Farm Information</td>
                                <td style="width: 50px;"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="font-weight: normal;">Farm</td>
                                <td style="padding-right: 100px;"><input type="text" class="form-select" required="" readonly id="farm_name" name="farm_name" value="{{work_order.farm_name}}"></td>
                                <td>Crop Calendar</td>
                                <td>
                                    <input type="text" class="form-control" id="crop_plan" name="crop_plan" value="{{work_order.crop_plan}}" readonly>
                                    <input type="hidden" name="crop_calendar_id" id="crop_calendar_id" value="{{work_order.crop_calendar_id}}">
                                    <input type="hidden" name="farm_id" id="farm_id" value="{{farm_id}}">
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: normal;">Type</td>
                                <td style="padding-right: 100px;">
                                    <!-- <select style="height: 28px;padding-top: 3px;padding-bottom: 3px;font-size: 12px;width: 200px;" required="" readonly id="type" name="type">
                                        <option value="">Pesticide Application</option>
                                        <option value="">Fertilizer Application</option>
                                    </select> -->
                                    <input class="form-select" type="text" required="" readonly id="type" name="type" value="{{work_order.type}}">
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="font-weight: normal;">Description</td>
                                <td colspan="3">
                                    <textarea type="text" class="form-control" readonly id="notes" name="notes"  rows="3" style="resize: none;" value="{{work_order.notes}}">{{work_order.notes}}</textarea>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;"></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Order Details</td>
                                <td style="width: 0px;"></td>
                                <td style="width: 0px;font-weight: bold;"></td>
                                <td style="width: 0px;"></td>
                            </tr>
                            <tr>
                                <td style="font-weight: normal;">Start Date</td>
                                <td style="width: 100px; padding-right: 100px">
                                    <input class="form-control" type="date" required="" readonly id="date_start" name="date_start" value="{{work_order.date_start}}">
                                    <input type="hidden" id="date_created" name="date_created" value="{{work_order.date_created}}">
                                </td>
                                <td style="width: 100px;">Completion Date</td>
                                <td style="width: 100px;">
                                    {{#if work_order.date_completed}}
                                    <input class="form-control" type="date" required="" readonly id="date_completed" name="date_completed" value="{{work_order.date_completed}}">
                                    {{else}}
                                    N/A
                                    {{/if}}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: normal;">Due Date</td>
                                <td style="padding-right: 100px;"><input class="form-control" type="date" required="" readonly id="date_due" name="date_due" value="{{work_order.date_due}}"></td>
                                <td ></td>
                                <td>
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight: normal;"></td>
                                <td style="width: 100px;"></td>
                                <td style="width: 100px;"></td>
                                <td style="width: 100px;"></td>
                            </tr>

                            <!-- <td style="width: 0px;font-weight: bold;">Harvest Details</td> -->
                            <!-- <td style="width: 100px;">Rice Yield</td>
                                <td style="width: 100px;"><input type="number" style="width: 80px;"><span style="margin-left: 5px;">sacks</span></td> -->

                            {{#if harvest_details}}
                            <tr>
                                <td colspan="4" style="font-weight: bold;">Harvest Details</td>

                            </tr>
                            <tr>
                                <td colspan="3" id="harvest_details_row">
                                    {{#each harvest_details}}
                                    <div class="d-flex">
                                        <div class="d-flex flex-column" style="padding-right: 10px;">
                                            <label class="text-center">Cavans Harvested</label>
                                            <input class="form-control" type="number" name="sacks_harvested" id="sacks_harvested" value="{{this.sacks_harvested}}" readonly min="0">
                                            <input type="hidden" name="true_sacks" id="true_sacks">
                                            <label id="true_harvest_lbl" class="text-muted ml-3" style="font-size: 12px;"></label>
                                        </div>
                                        
                                        <div class="d-flex flex-column" style="min-width: 150px;">
                                            <label class="text-center">Harvest Type</label>
                                            <select class="form-control" name="harvest_type" class="ml-3" readonly id="harvest_type">
                                                <option>...</option>
                                                <option value="Full Harvest" {{#compareTwoValues this.type 'Full Harvest' operator='==='}}selected{{/compareTwoValues}}>Full Harvest</option>
                                                <option value="Early Harvest" {{#compareTwoValues this.type 'Early Harvest' operator='==='}}selected{{/compareTwoValues}}>Early Harvest</option>
                                            </select>
                                        </div> 
                                    </div>
                                    {{/each}}
                                    
                                </td>
                                <td>
                                    
                                </td>
                            </tr>
                            {{/if}}

                            {{#if resources}}
                            <tr>
                                <td style="font-weight: normal;"><strong>{{resources.title}}</strong><br></td>
                                <td style="width: 100px;"><strong class="text-danger" id="err_msg"></strong></td>
                                <td style="width: 100px;"></td>
                                <td style="width: 100px;"></td>
                            </tr>
                                {{#each resources}}
                                <tr>
                                    <td></td>
                                    <td colspan="3">
                                        <div class="d-flex">
                                            <input class="form-control" type="text" required="" readonly id="{{../resources.lbl.name}}" name="{{../resources.lbl.name}}" value="{{this.material_name}}" style="width: 375px">
                                            <input class="hide" style="" type="text" id="{{../resources.lbl.item}}" name="{{../resources.lbl.item}}" value="{{this.item_id}}" readonly="true">
                                            <div class="d-flex flex-column" style="">
                                                <input class="form-control mx-2" style="width: 100px;" type="number" id="{{../resources.lbl.qty}}" name="{{../resources.lbl.qty}}" step="any" value="{{this.qty}}" readonly>
                                            </div>
                                        </div>
                                            
                                    </td>

                                </tr>
                                {{/each}}
                            {{/if}}

                        </tbody>
                    </table>
                </div>

                <div id="btn_cont">
        
                </div>
                <div class="w-100">
                    <div class="mr-5 text-right hide text-danger" id="general_err" style="margin-top: 100px;"></div>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    var resource = '{{resources.lbl.name}}';
    var status_editable = {{status_editable}};
    var harvest = {{harvest_editable}};
    var stage = '{{stage}}';
    var farm_area = {{farm_area}};
    var true_harvest;
    console.log(`${resource} - ${status_editable} - ${harvest}`);
    function addHarvestDetails() {
        var last = $("[name='harvest_type']").last();
        var parent = $('#harvest_details_row');
        var opts = ['...','Full Harvest','Early Harvest'];
        var sack_inp, select_inp, option, div;
        var sack_attr = {
            type: 'number',
            id: 'dummy_id',
            name: 'sacks_harvested',
            form: 'edit_wo_form'
        }
        var select_attr = {
            name: 'harvest_type',
            id: 'dummy_id',
            form: 'edit_wo_form'
        }

        var opt_attr = {
            value: null
        };

        div = createDOM({ type: 'div', class: 'd-flex', style: 'max-width: 919.97px !important;', html: '' });
        sack_inp = createDOM({ type: 'input', class: 'mt-2 form-control', style: 'max-width: 221.77px !important; margin-right: 10px;', html: '', attr: sack_attr });
        select_inp = createDOM({ type: 'select', class: 'mt-2 form-control', style: 'max-width: 135.1px !important;', html: '', attr: select_attr });

        for (var i = 0; i < opts.length; i++) {
            if (i != 0)
                opt_attr.value = opts[i]
            option = createDOM({ type: 'option', class: '', style: '', html: opts[i], attr: opt_attr });
            select_inp.appendChild(option);
        }

        div.appendChild(sack_inp);
        div.appendChild(select_inp);

        parent.append(div);
    }

    function createDOM(obj) {
        var ele;

        ele = document.createElement(obj.type);
        ele.setAttribute('class', obj.class);
        ele.setAttribute('style', obj.style);
        ele.innerHTML = obj.html;

        for (prop in obj.attr) {
            if (Object.prototype.hasOwnProperty.call(obj.attr, prop)) {
                ele.setAttribute(prop, obj.attr[prop]);
            }
        }

        return ele;
    }

    function addHarvestDetailButton(show) {
        if (show) {
            var last = $("[name='harvest_type']").last();
            var parent = $($(last).parent()).parent();
            var btn = createDOM({ type: 'i', class: 'fas fa-plus-circle ml-3 fa-2x add_details', style: 'margin-top: 35px', html: '' });

            parent.append(btn);
        }
        else {
            $('.add_details').remove();
            $('#dummy_id[name="sacks_harvested"]').remove();
            $('#dummy_id[name="harvest_type"]').remove();
        }
    }

    function toggleEditState(show) {
        var editable = ['#status', '#date_due', '#notes', '#'+resource+'_qty'];
        if (!status_editable)
            editable = editable.filter(ele => ele != '#status');

        if (harvest) {
            editable.push('#sacks_harvested');
            editable.push('#harvest_type');
            //addHarvestDetailButton(show);
        }

        var eles = $(editable.join()).attr('readonly', !show);

        if (show) {

            //Create save button
            var target = $('#btn_cont');
            var cont, btn_submit, btn_cancel;
            var btn_attr = {
                type: 'submit',
                id: 'btn_submit',
                form: 'edit_wo_form'
            }
            var btn_cancel_attr = {
                type: 'button',
                id: 'btn_cancel'
            }

            cont = createDOM({ type: 'div', class: 'mr-5 mt-5', style: '', html: '', attr: null });
            btn_submit = createDOM({ type: 'button', class: 'btn round btn-primary float-right', style: '', html: 'Save', attr: btn_attr });
            btn_cancel = createDOM({ type: 'button', class: 'btn round btn-secondary float-right mr-2', style: '', html: 'Cancel', attr: btn_cancel_attr });

            cont.appendChild(btn_submit);
            cont.appendChild(btn_cancel);
            target.append(cont);
        }
        else {
            $('#btn_cont').empty();
        }
    }

    $(document).ready(function() {

        $('tr').on('click', '.add_details', function() {
            addHarvestDetails();
        });

        $('#wo_edit').on('click', function() {
            toggleEditState(true);
            $('#wo_edit').addClass('hide');
        });

        $('#btn_cont').on('click', '#btn_cancel', function() {
            toggleEditState(false);
            $('#wo_edit').removeClass('hide');
            window.top.location = window.top.location
        });

        $('#harvest_type').on('change', function() {
            var status_form = $('#status').val();
            if ($(this).val() != '...') {
                $('#status').val('Completed');
            }
            else {
                $('#status').val(status_form);
            }
        });

        $('#sacks_harvested').on('change', function() {
            true_harvest = ($('#sacks_harvested').val() / farm_area);
            $('#true_harvest_lbl').html(`${true_harvest.toFixed(2)} cavans/ha`);
        });

        if (stage != 'Harvesting') {
            $('#harvest_type option[value="Full Harvest"]').remove();
        }
        else {
            $('#harvest_type option[value="Early Harvest"]').remove();
        }

        $('#edit_wo_form').on('submit', function(e) {
            e.preventDefault();
            $('#general_err').addClass('hide');
            $('#general_err').html('');
            var err = '';

            if ($('#date_start').val() > $('#date_due').val()) {
                err += `Due date must be after start date!`;
            }
            else {
                if (resource == 'Seed') {
                    var qtys = $('[name="Seed_qty"]');
                    var qty_arr = [];
                    for (var i = 0; i < qtys.length; i++) {
                        qty_arr.push($(qtys[i]).val());
                    }
                    qty_arr = qty_arr.filter(e => e > 0);

                    if (qty_arr.length > 1) {
                        err += ` Only one seed item with quantity > 0 is allowed!`;
                    }
                    else {
                        e.currentTarget.submit();
                    }
                }
                else if (resource == 'Fertilizer') {
                    var item_qty = [];

                    $(`[name='Fertilizer_qty']`).each(function() {
                       item_qty.push($(this).val());
                    });
                    
                    if (item_qty.filter(e => e == '').length == 0) {
                        e.currentTarget.submit();
                    }
                }
                else {
                    if (harvest) {
                        var sacks_harvested = [];
                        var types = [];
                        
                        $(`[name='sacks_harvested']`).each(function() {
                           sacks_harvested.push($(this).val());
                        });
                        $(`[name='harvest_type']`).each(function() {
                           types.push($(this).val());
                        });
                        if (sacks_harvested.filter(e => e == '').length != 0 && types.filter(e => e == 'null' || e == null || e == '...').length != 0) {
                            err += `Fill in cavans harvested and harvest type!`;
                        }
                        else if (sacks_harvested.filter(e => e == '').length != 0) {
                            err += `Missing cavans harvested!`;
                        }
                        else if (types.filter(e => e == 'null' || e == null || e == '...').length != 0) {
                            err += 'Please select harvest type!';
                        }

                        if (err != '') {
                            
                        }
                        else {
                            $('#true_sacks').val(true_harvest);
                            e.currentTarget.submit();
                        }
                    }
                    else {
                        //console.log('Error handling!!');
                        e.currentTarget.submit();
                    }
                }

                if (err != '') {
                    $('#general_err').html(err);
                    $('#general_err').removeClass('hide');
                }
            }           

                

        });
    });

</script>