<style>

table td{
    color:#332C1F;
} 

thead {
    background-color: #212529 !important;
    color: white;
}

li > span {
    color:#332C1F;
}

div.card-body h6, div.card-body p {
    color:#332C1F;
}

.table.table.tablesorter > thead > tr, .table.table.tablesorter > thead > tr > td {
  font-size: .9em;
  font-weight: 400;
  background: white !important;
  text-transform: capitalize !important;
  color: #ffffff;
}

.table.table.tablesorter th {
    background-color: white;
    color: #BD9E4B;
    border-style: none;
}

.table.table.tablesorter td {
    background-color: white;
}

#seedTable, #fertilizerTable, #pesticideTable {
    /*margin-left: 0px;*/
    border-radius: 10px;
}

#seedTable th, #seedTable td, #seedTable tr, 
#fertilizerTable th, #fertilizerTable td, #fertilizerTable tr,
#pesticideTable th, #pesticideTable td, #pesticideTable tr {
    background-color: #EEEEEE !important;
    border-style: none !important;
    font-size: 20px !important;
    padding: 20px;
}

label {
    color: #332C1F;
}

@media print {
  body * {
    visibility: hidden;
  }

  #section-to-print, #section-to-print * {
    visibility: visible !important;
    color: #332C1F;
  }
  
  #section-to-print {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
  }
  
}

</style>

<div class="container-fluid" style="color: #332C1F;">

     <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Farms &gt; {{title}}</h3><a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
    </div>
    <!-- {{!-- HEADER --}}
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0" style="font-family: Roboto, sans-serif;color: #584c33;font-weight: 500;">Farms</h3>
    </div> -->

    <div class="row">
        <div class="col-lg-12 col-lg-12 col-xxl-12">

            {{!-- CARD --}}
            <div class="card shadow mb-4" style="max-width: 1150px; margin: 0px auto;">

                {{!-- START CARD HEADER --}}
                <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;color: #ffffff;">
                    
                    <div class="col" style="max-width: 70px; padding-top: 2px">

                        <button type="submit" class="btn btn-primary btn-md" id="back" onclick='window.location="/crop_calendar"'> <!-- Replaced the javascript back function because the page top function is also being considered in the window history -->
                            <i class="far fa-long-arrow-left d-lg-flex justify-content-lg-center" id="backIcon"></i>
                        </button>        

                    </div>

                    <div class="col" style="margin-right: 650px; padding-top: 15px">
                        <h6>{{crop_plan_details.crop_plan}}</h6>
            
                    </div>


                    {{!-- <div class="btn-group" role="group"><button class="btn btn-primary" type="button" style="background: #BDBE14;font-weight: bold;border-style: none;border-left-color: rgba(78,115,223,0);border-radius: 10px;padding: 4px 10px;">Farms</button><a class="btn btn-primary" role="button" style="margin-left: 10px;background: rgba(189,190,20,0);border-style: none;border-color: var(--bs-pink);padding: 4px 10px;" href="Materials.html">Materials</a></div> --}}
                    <div class="dropdown no-arrow" style="padding-top: 5px">
                        <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                            <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                        </button>
                        <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                            <a class="dropdown-item notSidebar" href="#" type="button" value="print" id="print">&nbsp;View Required Materials</a>
                            {{#if writeable}}
                            <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                            {{/if}}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item notSidebar" href="#">&nbsp;Cancel Crop Calendar</a>
                        </div>
                    </div>
                </div>
                {{!-- END CARD HEADER --}}

                {{!-- START CARD BODY --}}
                <div class="card-body">
                    
                    <div class="row">
                                <div class="col" style="padding-top: 5px;">
                                            <div class="card" style="margin-bottom: 10px; border-style: none">
                                                <div class="card-header mini py-3" style="background-color: white !important; border-style: none;">
                                                    <h5 class="fw-bold m-0" style="color: #332C1F;">Crop Calendar Information<br></h5>
                                                </div>

                                                <div class="card-body">
                                                    <div class="table-responsive" style="border-style: none;">
                                                        <table class="table">
                                                            <thead>
                                                                {{!-- <tr></tr> --}}
                                                            </thead>
                                                            <tbody>
                                                                <tr style="border-style: none; height: 90px;">
                                                                    <td style="border-style: none; padding-left: 50px; padding-right: 120px"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Name<br></span> <span class="d-xxl-flex justify-content-xxl-start">{{crop_plan_details.crop_plan}}<br></span></td>
                                                                    <td style="border-style: none; padding-left: 50px;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Farm<br></span><span class="d-xxl-flex justify-content-xxl-start">{{crop_plan_details.farm_name}}<br></span></td>
                                                                </tr>
                                                                <tr style="border-style: none;">
                                                                    <td style="border-style: none; padding-left: 50px"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Land Preparation Date<br></span><span class="d-xxl-flex justify-content-xxl-start">{{crop_plan_details.land_prep_date}}<br></span></td>
                                                                    <td style="border-style: none; padding-left: 50px"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Current Stage<br></span><span class="d-xxl-flex justify-content-xxl-start">{{crop_plan_details.stage2}}<br></span></td>
                                                                </tr>
                                          
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                    <div class="container-fluid" style="background-color: #EEEEEE; padding: 20px; border-radius: 10px;  outline: 1px solid #e3e6f0; width:auto">      
                                                    
                                                    <label for="" style="font-weight: bold">Soil Data</label>
                                                    <center>
                                                    <div class="row" style="padding-left: 5px;">
                                                    
                                                    <div class="col">
                                                    <label for="soil_texture" style="font-weight: bold;">Soil Texture</label>
                                                    <div id="soil_texture">
                                                    N/A
                                                    </div>
                                                    </div>

                                                    <div class="col">
                                                    <label for="ph_lvl" style="font-weight: bold;">pH Lvl</label>
                                                    <div id="ph_lvl">
                                                    {{soil_record.pH_lvl}}
                                                    </div>
                                                    </div>

                                                    <div class="col">
                                                    <label for="n_lvl" style="font-weight: bold;">N</label>
                                                    <div id="n_lvl">
                                                    {{soil_record.n_lvl}}
                                                    </div>
                                                    </div>

                                                    <div class="col">
                                                    <label for="p_lvl" style="font-weight: bold;">P</label>
                                                    <div id="p_lvl">
                                                    {{soil_record.p_lvl}}
                                                    </div>
                                                    </div>

                                                    <div class="col">
                                                    <label for="k_lvl" style="font-weight: bold;">K</label>
                                                    <div id="k_lvl">
                                                    {{soil_record.k_lvl}}
                                                    </div>
                                                    </div>

                                                    </div>
                                                    </center>

                                                    </div>
                                                </div>
                                            </div>
                                
                                {{!-- CARD TABS --}}
                                <div class="card shadow mb-4"  style="max-width: 1150px; margin: 0px auto">
 
                                <div class="card-header d-flex justify-content-between align-items-center" style="height:auto; background-color: #212529 !important;">

                                    <ul class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                                        <li class="nav-item"><a id="sowing-plan-tab" class="nav-link active" data-toggle="tab" href="#sowing-plan"role="tab" aria-controls="sowing-plan" aria-selected="true" 
                                            style="background: #F0F0F0;">Sowing Plan</a></li>

                                        <li class="nav-item"><a id="fertilizer-plan-tab" class="nav-link" data-toggle="tab" href="#fertilizer-plan"role="tab" aria-controls="fertilizer-plan" aria-selected="false" 
                                            style="background: #F0F0F0;">Fertilizer Plan</a></li>

                                        <li class="nav-item"><a id="pesticide-application-plan-tab" class="nav-link" data-toggle="tab" href="#pesticide-application-plan"role="tab" aria-controls="pesticide-application-plan" aria-selected="false" 
                                            style="background: #F0F0F0;">Pesticide Application Plan</a></li>
                                            
                                        <li class="nav-item"><a id="work-orders-tab" class="nav-link" data-toggle="tab" href="#work-orders"role="tab" aria-controls="work-orders" aria-selected="false" 
                                            style="background: #F0F0F0;">Work Orders</a></li>
                                    </ul>
                                        {{!-- <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v d-xxl-flex justify-content-xxl-end text-gray-400"></i></button>
                                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                                            </div>
                                        </div> --}}

                                </div>

                                <div class="card-body" style="background-color: #FCFCFC !important;">
                                        
                                        {{!-- TAB CONTENT --}}

                                        <div class="tab-content" id="nav-tabContent">

                                            {{!-- TAB 1 --}}
                                            <div class="tab-pane fade show active" id="sowing-plan" role="tabpanel" aria-labelledby="sowing-plan-tab">
                                            
                                            <div class="card" style="margin-bottom: 10px; border-style: none; background-color: #FCFCFC !important;">
                                           

                                                <div class="card-body" style="background-color: #FCFCFC !important;">
                                                    <div class="table-responsive" style="border-style: none;">
                                                        <table class="table">
                                                            <thead>
                                                                {{!-- <tr></tr> --}}
                                                            </thead>
                                                            <tbody>
                                                                <tr style="border-style: none; height: 90px;">
                                                                    <td style="border-style: none; padding-left: 30px; padding-right: 260px"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Seed<br></span> <span class="d-xxl-flex justify-content-xxl-start">{{crop_plan_details.seed_name}}<br></span></td>
                                                                    <td style="border-style: none; padding-left: 30px;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Seed Rate (kg/ha)<br></span><span class="d-xxl-flex justify-content-xxl-start">{{crop_plan_details.seed_rate}}<br></span></td>
                                                                </tr>
                                                                <tr style="border-style: none; height: 90px">
                                                                    <td style="border-style: none; padding-left: 30px"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Planting Method<br></span><span class="d-xxl-flex justify-content-xxl-start">{{crop_plan_details.method}}<br></span></td>
                                                                    <td style="border-style: none; padding-left: 30px"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Planting Date<br></span><span class="d-xxl-flex justify-content-xxl-start">{{crop_plan_details.sowing_date}}<br></span></td>
                                                                </tr>

                                                                <tr style="border-style: none;">
                                                                    <td style="border-style: none; padding-left: 30px"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Harvest Date<br></span><span class="d-xxl-flex justify-content-xxl-start">{{crop_plan_details.harvest_date}}<br></span></td>
                                                                    <td style="border-style: none; padding-left: 30px"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Expected Yield (cavans/ha)<br></span><span class="d-xxl-flex justify-content-xxl-start">{{forecasted_yield}}<br></span></td>
                                                                </tr>
                                          
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                            </div>
                                            {{!-- END OF TAB 1 --}}

                                            {{!-- TAB 2 --}}
                                            <div class="tab-pane fade" id="fertilizer-plan" role="tabpanel" aria-labelledby="fertilizer-plan-tab">                               
                            
                                                <div class="card shadow mb-4">
                                                    <div class="card-header mini2 py-3" style="height: auto; border-style: none">
                                                        <h6 class="fw-bold m-0">Fertilizer Application History<br></h6>
                                                    </div>
                                                    <div class="card-body">
                                                            <div>
                                                                <table class="table table-striped table-bordered tablesorter" id="fertilizer_history">
                                                                    <thead class="thead-dark" style="max-height: 0px;">
                                                                    <tr>
                                                                        <th>Target Date</th>
                                                                        <th>Date Completed</th>
                                                                        <th>Fertilizer</th>
                                                                        <th>Amount</th>
                                                                        <th>Status</th>
                                                                    </tr>
                                                                    </thead>

                                                                    <tbody id="materials_table">
                                                                    {{#each fertilizer_wos}}
                                                                    <tr>
                                                                        <td>{{this.target_application_date}}</td>
                                                                        <td>{{this.date_completed}}</td>
                                                                        <td>{{this.fertilizer_name}}</td>
                                                                        <td>{{this.amount}}</td>
                                                                        <td>{{this.status}}
                                                                               <span>
                                                                                <div class="dropdown no-arrow" style="display:inline-block; float: right">
                                                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle dropdown no-arrow" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                                                    </button>
                                                                                    <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                                                        <a class="dropdown-item notSidebar" href="/farms/work_order&id={{this.work_order_id}}">View Details</a>
                                                                                            {{!-- <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                                                            <div class="dropdown-divider"></div>
                                                                                            <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a> --}}
                                                                                    </div>
                                                                                </div>
                                                                            </span> 
                                                                        </td>
                                                                    </tr>
                                                                    {{/each}}
                                                                    </tbody>

                                                                </table>
                                                            </div>
                                                      
                                                    </div>
                                                </div>
          
                                                {{!-- <div class="row">
                                                <div class="col">
                                                    <div class="card shadow mb-4">
                                                        <div class="card-header mini2 py-3" style="height: auto; border-style: none">
                                                            <h6 class="fw-bold m-0" style="color: #FFFFFF;">Optimal Recommendation<br></h6>
                                                        </div>
                                                        <div class="card-body">
                                                            <table class="table" id="schedule_table">
                                                                <tr>
                                                                    <th>Application Date</th>
                                                                    <th>Fertilizer</th>
                                                                    <th>Description</th>
                                                                    <th>Amount</th>
                                                                    <th></th>
                                                                </tr>
                                                            </table>

                                                            <button class="btn btn-success float-right hide mb-3" type="button" id="generate_wo">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> --}}

                           
                                                
                                            </div>
                                            {{!-- END OF TAB 2 --}}

                                            {{!-- TAB 3 --}}
                                            <div class="tab-pane fade" id="pesticide-application-plan" role="tabpanel" aria-labelledby="pesticide-application-tab">
                                            
                                            {{!-- <h6 style="font-weight: bold; margin-bottom: 10px; margin-top: 20px">Recently Detected Pests</h6> --}}
                                         
                                
                                                    <div class="card shadow mb-4">
                                                        <div class="card-header mini2 py-3" style="height: auto; border-style: none">
                                                            <h6 class="fw-bold m-0">Pest/Disease Workorder History<br></h6>
                                                        </div>
                                                        <div class="card-body">
                                                                <div>
                                                                    <table class="table table-striped table-bordered tablesorter" id="pesticideApplicationTable">
                                                                         <thead class="thead-dark" style="max-height: 0px;">
                                                                        <tr>
                                                                            <th>Target Date</th>
                                                                            <th>Date Completed</th>
                                                                            <th>Action</th>
                                                                            <th>Description</th>
                                                                            <th>Status</th>
                                                                        </tr>
                                                                        </thead>

                                                                        <tbody id="materials_table">
                                                                        {{#each pd_wos}}
                                                                        <tr>
                                                                            <td>{{this.date_start}}</td>
                                                                            <td>{{this.date_completed}}</td>
                                                                            <td>{{this.type}}</td>
                                                                            <td>{{this.notes}}</td>
                                                                            <td>{{this.status}}
                                                                            <span>
                                                                                <div class="dropdown no-arrow" style="display:inline-block; float: right">
                                                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle dropdown no-arrow" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                                                    </button>
                                                                                    <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                                                        <a class="dropdown-item notSidebar" href="/farms/work_order&id={{this.work_order_id}}">View Details</a>
                                                                                            {{!-- <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                                                            <div class="dropdown-divider"></div>
                                                                                            <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a> --}}
                                                                                    </div>
                                                                                </div>
                                                                            </span> 
                                                                            </td>
                                                                        </tr>
                                                                        {{/each}}
                                                                    </tbody>
                                                                    </table>
                                                                </div>
                                                        
                                                        </div>
                                                    </div>
             
                                            {{!-- START CARDS --}}

                                            {{!-- Maybe the for each handlebar could be used for each detected pest? --}}
                                            
                                            {{!-- END CARDS --}}
 
                                            {{!-- <h6 style="font-weight: bold; margin-bottom: 20px">Recently Detected Diseases</h6> --}}

                                            {{!-- If none detected --}}
                                            {{!-- <p>No Detected Diseases Yet</p> --}}

                                            {{!-- Else, add for each row of cards like the one above --}}
                                            </div>
                                            
                                            {{!-- END OF TAB 3 --}}

                                            {{!-- TAB 4 --}}
                                            <div class="tab-pane fade" id="work-orders" role="tabpanel" aria-labelledby="work-orders-tab">
                                                {{!-- Table styles subject to change...made it white 
                                                    cause it looks weird if it has the same color as the parent card div --}}
                                                <div class="card shadow mb-4" style="padding: 10px">
                                                      <div class="card-header mini2 py-3" style="height: auto; border-style: none">
                                                            <h6 class="fw-bold m-0">Work Order History<br></h6>
                                                        </div>

                                                    <div class="card-body">
                                                    <table class="table table-striped table-bordered tablesorter" id="ipi-table">
                                                        <thead class="thead-dark" style="max-height: 0px;">
                                                            <tr>
                                                                <th style="border-color: #dee2e6">WO ID</th>
                                                                <th style="border-color: #dee2e6">Type</th>
                                                                <th style="border-color: #dee2e6">Date Start</th>
                                                                <th style="border-color: #dee2e6">Date Completed</th>
                                                                <th style="border-color: #dee2e6">Notes</th>
                                                                <th style="border-color: #dee2e6">Status</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="materials_table">
                                                            {{#each workorders}}
                                                                <tr>
                                                                    <td>WO-{{this.work_order_id}}</td>
                                                                    <td>{{this.type}}</td>
                                                                    <td>{{this.date_start}}</td>
                                                                    <td>{{this.date_completed}}</td>
                                                                  
                                                                    <td>{{this.notes}}</td>
                                                                    <td>{{this.status}}
                                                                    <span>
                                                                        <div class="dropdown no-arrow" style="display:inline-block; float: right">
                                                                            <button id="more" class="btn btn-primary btn-sm dropdown-toggle dropdown no-arrow" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                                                <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                                            </button>
                                                                             <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                                                <a class="dropdown-item notSidebar" href="/farms/work_order&id={{this.work_order_id}}">View Details</a>
                                                                                    {{!-- <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                                                    <div class="dropdown-divider"></div>
                                                                                    <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a> --}}
                                                                            </div>
                                                                        </div>
                                                                    </span> 
                                                            </td>
                                                                </tr>
                                                            {{/each}}
                                      
                                                                {{#each wo_list}}
                                                                <tr role="row">
                                                                        <td>{{this.status}}</td>
                                                                        <td>{{this.farm_name}}</td>
                                                                        <td>{{this.type}}</td>
                                                                        <td>{{this.crop_plan}}</td>
                                                                        <td>{{this.date_created}}</td>
                                                                        <td><a href="/farms/work_order&id={{this.work_order_id}}">{{this.work_order_id}}</a></td>
                                                                        <td>{{this.notes}}</td>
                                                                        <td style="text-align: center"> 
                                                                        <div class="dropdown no-arrow">
                                                                            <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                                                <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                                            </button>
                                                                            <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                                                <a class="dropdown-item notSidebar" href="#" onclick='window.location=""'>&nbsp;View Details</a>
                                                                                <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                                                <div class="dropdown-divider"></div>
                                                                                <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a>
                                                                            </div>
                                                                        </div>
                                                                        </td> 
                                                                    </tr>
                                                                {{/each}}
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    </div>

                                                </div>
    
                                            </div>
                                            
                                            {{!-- END OF TAB 4 --}}

                                        </div>
                                        {{!-- END OF TAB CONTENT --}}

                                </div>
                                </div>
                                {{!-- END OF CARD TABS --}}
                                            
                            </div>
                               
                    </div>

                </div>
                {{!-- END CARD BODY --}}

            </div>
        </div>
    </div>
</div>

{{!-- MATERIALS PDF --}}
<div id="section-to-print" style="display: none; visibility: hidden">
    <div class="container-fluid" style="margin-top: 10px">
        
        <h1 style="font-size: 70px; font-weight: bold; color: #939C1F">{{crop_plan_details.crop_plan}}</h1>
    
        <h4 style="font-size: 30px; margin-bottom: 70px; margin-left: 10px">{{crop_plan_details.farm_name}}</h4>

        {{!-- No more space for this part :< --}}
        {{!-- <div class="container-fluid" style="background-color: white; padding: 20px; border-radius: 10px; width:auto; margin-top: 30px;">      
       
            <div class="row" style="padding-left: 5px; margin-bottom: 30px">                         
                <h5 class="text-dark mb-0" style="font-size: 20px;"><span style="font-weight: bold; margin-right: 80px">Land Preparation Date:</span> dd/mm/yyyy</h5>
            </div>

            <div class="row" style="padding-left: 5px; margin-bottom: 30px">                         
                <h5 class="text-dark mb-0" style="font-size: 20px;"><span style="font-weight: bold; margin-right: 170px">Planting Dates:</span> dd/mm/yyyy to dd/mm/yyyy</h5>
            </div>

            <div class="row" style="padding-left: 5px; margin-bottom: 30px">                         
                <h5 class="text-dark mb-0" style="font-size: 20px;"><span style="font-weight: bold; margin-right: 76px">Pest Application Dates:</span> dd/mm/yyyy to dd/mm/yyyy</h5>
            </div>

             <div class="row" style="padding-left: 5px; margin-bottom: 50px">                         
                <h5 class="text-dark mb-0" style="font-size: 20px;"><span style="font-weight: bold; margin-right: 175px;">Harvest Dates:</span> dd/mm/yyyy to dd/mm/yyyy</h5>
            </div>
        </div> --}}

        <h4 style="font-size: 30px; font-weight: bold; margin-top: 30px; margin-bottom: 30px; margin-left: 20px">Required Materials Report</h4>
        
        {{!-- SEEDS --}}
        <div class="container" style="position: relative;">
        <label for="" style="font-weight: bold; font-size: 25px; margin-bottom: 10px">Seeds</label>    
            <table class="table" style="border-style: none; padding: 20px; table-layout:fixed; width: 100%" id="seedTable">
                <thead class="thead" style="max-height: 0px;">
                    <tr>
                        <th style="border-color: #EEEEEE; text-align:left">Seed Name</th>
                        <th style="border-color: #EEEEEE; text-align:right">Inventory</th>
                        <th style="border-color: #EEEEEE; text-align:right">Deficient Amount</th>
                    </tr>
                </thead>

                <tbody>
                    {{#if materials.seed}}
                    {{#each materials.seed}}
                    <tr>
                        <td style="word-wrap:break-word;">{{this.item_name}}</td>
                        <td class="text-right">{{this.inventory}} bags</td>
                        <td class="text-right">{{this.deficient_qty}}</td>
                    </tr>
                    {{/each}}
                    {{else}}
                    <tr>
                        <td style="word-wrap:break-word;">N/A</td>
                        <td class="text-right">N/A</td>
                        <td class="text-right">N/A</td>
                    </tr>
                    {{/if}}
                                                         
                </tbody>
            </table>
            <!-- <span  style="position:absolute; width: fit-content; right:0; margin-right: 0px; margin-top: 10px; padding: 10px; background-color: #7D7D7D; color: white; font-weight:bold;">
            Total Seeds Required: 0 bags
            </span>  -->
        </div>
        <br>
        {{!-- END OF SEEDS --}}
       
        {{!-- FERTILIZERS --}}
        <div class="container" style="position: relative;">
        <label for="" style="font-weight: bold; font-size: 25px; margin-bottom: 10px; margin-top: 30px">Fertilizers</label>
         <table class="table" style="border-style: none; padding: 20px; table-layout:fixed; width: 100%" id="fertilizerTable">
                <thead class="thead" style="max-height: 0px;">
                    <tr>
                        <th style="border-color: #EEEEEE; text-align:left; word-wrap:break-word;">Fertilizer Name</th>
                        <th style="border-color: #EEEEEE; text-align:right;">Inventory</th>
                        <th style="border-color: #EEEEEE; text-align:right">Deficient Amount</th>
                    </tr>
                </thead>

                <tbody>
                    {{#if materials.fertilizer}}
                    {{#each materials.fertilizer}}
                    <tr>
                        <td>{{this.item_name}}</td>
                        <td class="text-right">{{this.inventory}} bags</td>
                        <td class="text-right">{{this.deficient_qty}} {{#compareTwoValues this.deficient_qty 'N/A' operator='!='}} bags{{/compareTwoValues}}</td>
                    </tr>
                    {{/each}}
                    {{else}}
                    <tr>
                        <td style="word-wrap:break-word;">N/A</td>
                        <td class="text-right">N/A</td>
                        <td class="text-right">N/A</td>
                    </tr>
                    {{/if}}
                                                         
                </tbody>
            </table>
            <!-- <span  style="position:absolute; width: fit-content; right:0; margin-right: 0px; margin-top: 10px; padding: 10px; background-color: #7D7D7D; color: white; font-weight:bold;">
            Total Fertilizers Required: 0 bags
            </span>  -->
        </div>
        <br>
        {{!-- END OF FERTILIZERS --}}

        {{!-- PESTICIDES --}}
        <div class="container" style="position: relative;">
        <label for="" style="font-weight: bold; font-size: 25px; margin-bottom: 10px; margin-top: 30px">Pesticides</label>
         <table class="table" style="border-style: none; padding: 20px; table-layout:fixed; width: 100%" id="pesticideTable">
                <thead class="thead" style="max-height: 0px;">
                    <tr>
                        <th style="border-color: #EEEEEE; text-align:left; word-wrap:break-word;">Pesticide Name</th>
                        <th style="border-color: #EEEEEE; text-align:right">Inventory</th>
                        <th style="border-color: #EEEEEE; text-align:right">Deficient Amount</th>
                    </tr>
                </thead>

                <tbody>
                    {{#if materials.pesticide}}
                    {{#each materials.pesticide}}
                        <tr>
                            <td>{{this.item_name}}</td>
                            <td class="text-right">{{this.inventory}} bags</td>
                            <td class="text-right">{{this.deficient_qty}}</td>
                        </tr>
                    {{/each}}
                    {{else}}
                    <tr>
                        <td style="word-wrap:break-word;">N/A</td>
                        <td class="text-right">N/A</td>
                        <td class="text-right">N/A</td>
                    </tr>
                    {{/if}}

                                                         
                </tbody>
            </table>
            <!-- <span  style="position:absolute; width: fit-content; right:0; margin-right: 0px; margin-top: 10px; padding: 10px; background-color: #7D7D7D; color: white; font-weight:bold;">
            Total Pesticides Required: 0 bags
            </span>  -->
        </div>
        <br>
        {{!-- END OF PESTICIDES --}}
        <br> <br> 
    
    
    <!-- <div style="float:right; width: 500px; background-color: #D6CD41; color: #584C33; padding: 20px; border-radius: 10px; margin-top: 10px;">
    <span style="font-size: 20px; font-weight: bold;">REQUIRED MATERIALS SUMMARY:</span> <br><br>
    <span style="font-size: 18px; font-weight: bold;">Seeds:</span> <span style="font-size: 18px; float:right">0 bags</span><br>
    <span style="font-size: 18px; font-weight: bold;">Fertilizers:</span> <span style="font-size: 18px; float:right">0 bags</span><br>
    <span style="font-size: 18px; font-weight: bold;">Pesticides:</span> <span style="font-size: 18px; float:right">0 bags</span>
    </div> -->
  
</div> 
{{!-- END OF MATERIALS PDF --}}

<script>

var view = "crop_calendar_detailed";   

function goBack() {
  window.history.back();
}

document.querySelector("#print").addEventListener("click", function() {
	$('#section-to-print').toggle(); //removes the display:none
    window.print();
    $('#section-to-print').hide(); //brings back the display:none
    
});



</script>

{{!-- <script src="../js/crop_calendar.js"></script> --}}