
<div class="container-fluid">
	<div class="d-sm-flex justify-content-between align-items-center mb-4">
		<h3 class="text-dark mb-0">Disaster Management</h3><a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
	</div>

	<div class="row py-3" style="margin: 0px;">
		<div class="col-lg-7 col-xl-8">
			<div class="h-100 w-100 border border-secondary d-flex flex-column rounded" style="">
                <div class="text-white w-100 py-2 text-center rounded-top bg-dark">
                    Precipitation Data
                </div>
                <div class="h-100 w-100">
                     <canvas id="precip_chart" style="width: 500px; height: 100% !important;"></canvas>     
                </div>
               
            </div>
		</div>

		<div class="col-lg-5 col-xl-4">
			<div class="w-100 h-100 border border-secondary d-flex flex-column rounded" style="">
                <div class="text-white w-100 py-2 text-center rounded-top bg-dark">
                    Weather Data
                </div>
                <div class="w-100 d-flex">
                    <div class="form-row ml-3 mt-2">
                        <div class="form-group">
                            <label class="form-check-label">From: </label>
                            <div class="">
                              <input class="form-control " type="date" id="weather_start" name="weather_start" value="">
                            </div>
                        </div>
                        <div class="form-group ml-2">
                            <label class="form-check-label">To: </label>
                            <div class="">
                              <input class="form-control " type="date" id="weather_end" name="weather_end" value="">
                            </div>
                        </div>
                        <div class="form-group align-bottom ml-3">
                            <div class="h-100 align-bottom align-text-bottom mt-2">
                                <button type="button" id="weather_filter" class="btn btn-primary float-right mt-3">Filter</button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                    
                <canvas id="weather_chart" style="width: 500px; height: 100%;"></canvas>
            </div>
		</div>
	</div>

	<div class="col-lg-7 col-xl-12">
		<div class="card shadow mb-4">
			<div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;height: auto;padding: 16px 20px;">
				<h6 class="font-weight-bold m-0" style="color: #FFFFFF;">Active Disaster Warnings</h6>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<div style="width: auto;">

							<table class="table table-striped table-bordered tablesorter dataTable no-footer" id="ipi-table" style="table-layout: fixed; width: 100%;" aria-describedby="ipi-table_info">
								<thead class="thead-dark">

								</thead>
								<tbody aria-live="polite" aria-relevant="all">
									<tr>
										<td colspan="3" class="bg-dark text-white">Storm/Typhoon/Heavy Rainfall</td>
									</tr>
									{{#if active_rainfall}}
									{{#each active_rainfall}}
									<tr>
											
										<td colspan="3">
											<div class="d-flex flex-column">
												<div>Category: {{this.details.type}}</div>
												<div>Classification: {{this.details.classification}}</div>
												<div>ETA: {{this.details.target_date}} <small class="text-muted">({{this.details.days}} days from now)</small></div>

												<div>Pressure: {{this.details.pressure}}</div>
												<div>Humidity: {{this.details.humidity}}</div>
												<div>Expected Rainfall: {{this.details.rainfall}}</div>
												<div>Wind Speed: {{this.details.mph}} mph</div>
												<div>Direction: {{this.details.wind_direction}}°</div>
											</div>
										</td>
									</tr>
									{{#if this.farms}}
									<tr>
										<th>Impacted Farm</th>
										<th>Crop Details</th>
										<th>Risk Level</th>
										<!-- <th>Potential Damages</th> -->
									</tr>
										
										{{#each this.farms}}
										<tr>
											<td>{{this.farm_name}}</td>
											<td>
												<div class="d-flex flex-column">
													<label>{{this.seed_name}}</label>
													<small class="text-muted">{{this.stage}} (Expected stage on target date)</small>
												</div>
											</td>
											<td class="{{{this.severity.color}}}">
												{{this.severity.val}}
											</td>
											<!-- <td class="{{{this.severity.damage_color}}}">
												{{this.severity.damage}}
											</td> -->
										</tr>
										<tr>
											<td colspan="3">
												<div class="d-flex flex-column">
													<label>Recommendation</label>
													<div>{{this.recommendation}}</div>
												</div>
											</td>
										</tr>											
										{{/each}}
										{{else}}
										<tr>
											<td colspan="3" class="text-center">No Impacted Farms</td>
										</tr>
										{{/if}}
										<tr>
											<td colspan="3"></td>
										</tr>
									{{/each}}
									{{else}}
									<tr>
										<td colspan="3" class="text-center">N/A</td>
									</tr>
									{{/if}}
									<tr>
										<td colspan="3" class="bg-dark text-white">Drought</td>
									</tr>
									{{#if active_drought}}
										{{#each active_drought}}
										<tr>
											<td colspan="3">
												<div class="d-flex flex-column">
													<div>Classification: {{this.type}}</div>
													<div>Summary:</div>

													<div>{{this.description}}</div>
													<div>Date Recorded: {{this.date_recorded}}</div>
												</div>
											</td>
										</tr>
										{{/each}}
									{{else}}
										<tr>
											<td colspan="3" class="text-center">N/A</td>
										</tr>
									{{/if}}
									
									<tr>
										<td colspan="3"></td>
									</tr>
									
								</tbody>
							</table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="ipi-table_info" role="status" aria-live="polite">Showing 1 to 5 of 5 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="ipi-table_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="ipi-table_previous"><a href="#" aria-controls="ipi-table" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="ipi-table" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="ipi-table_next"><a href="#" aria-controls="ipi-table" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div>
						</div>
							  
					</div>

	</div>

	<div class="col-lg-7 col-xl-12">
		<div class="card shadow mb-4">
			<div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;height: auto;padding: 16px 20px;">
				<h6 class="font-weight-bold m-0" style="color: #FFFFFF;">Inactive Disaster Warnings</h6>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<div style="width: auto;">

							<table class="table table-striped table-bordered tablesorter dataTable no-footer" id="ipi-table" style="table-layout: fixed; width: 100%;" aria-describedby="ipi-table_info">
								<thead class="thead-dark">

								</thead>
								<tbody aria-live="polite" aria-relevant="all">
									<tr>
										<td colspan="3" class="bg-dark text-white">Storm/Typhoon/Heavy Rainfall</td>
									</tr>
									{{#if inactive_rainfall}}
									{{#each inactive_rainfall}}
									<tr>
											
										<td colspan="3">
											<div class="d-flex flex-column">
												<div>Category: {{this.details.type}}</div>
												<div>Classification: {{this.details.classification}}</div>
												<div>ETA: {{this.details.target_date}} <small class="text-muted">({{this.details.days}} days from now)</small></div>

												<div>Pressure: {{this.details.pressure}}</div>
												<div>Humidity: {{this.details.humidity}}</div>
												<div>Expected Rainfall: {{this.details.rainfall}}</div>
												<div>Wind Speed: {{this.details.mph}} mph</div>
												<div>Direction: {{this.details.wind_direction}}°</div>
											</div>
										</td>
									</tr>
									{{#if this.farms}}
									<tr>
										<th>Impacted Farm</th>
										<th>Crop Details</th>
										<th>Risk Level</th>
										<!-- <th>Potential Damages</th> -->
									</tr>
										
										{{#each this.farms}}
										<tr>
											<td>{{this.farm_name}}</td>
											<td>
												<div class="d-flex flex-column">
													<label>{{this.seed_name}}</label>
													<small class="text-muted">{{this.stage}} (Expected stage on target date)</small>
												</div>
											</td>
											<td class="{{{this.severity.color}}}">
												{{this.severity.val}}
											</td>
											<!-- <td class="{{{this.severity.damage_color}}}">
												{{this.severity.damage}}
											</td> -->
										</tr>
										<tr>
											<td colspan="3">
												<div class="d-flex flex-column">
													<label>Recommendation</label>
													<div>{{this.recommendation}}</div>
												</div>
											</td>
										</tr>											
										{{/each}}
										{{else}}
										<tr>
											<td colspan="3" class="text-center">No Impacted Farms</td>
										</tr>
										{{/if}}
										<tr>
											<td colspan="3"></td>
										</tr>
									{{/each}}
									{{else}}
									<tr>
										<td colspan="3" class="text-center">N/A</td>
									</tr>
									{{/if}}
									<tr>
										<td colspan="3" class="bg-dark text-white">Drought</td>
									</tr>
									{{#if inactive_drought}}
										{{#each inactive_drought}}
										<tr>
											<td colspan="3">
												<div class="d-flex flex-column">
													<div>Classification: {{this.type}}</div>
													<div>Summary:</div>

													<div>{{this.description}}</div>
													<div>Date Recorded: {{this.date_recorded}}</div>
												</div>
											</td>
										</tr>
										{{/each}}
									{{else}}
										<tr>
											<td colspan="3" class="text-center">N/A</td>
										</tr>
									{{/if}}
									
									<tr>
										<td colspan="3"></td>
									</tr>

								</tbody>
							</table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="ipi-table_info" role="status" aria-live="polite">Showing 1 to 5 of 5 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="ipi-table_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="ipi-table_previous"><a href="#" aria-controls="ipi-table" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="ipi-table" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="ipi-table_next"><a href="#" aria-controls="ipi-table" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div>
						</div>
							  
					</div>

	</div>


			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var view = '';

	$(document).ready(function() {
		var weather_chart_data = [];
        var precip_chart_data = {{#if precip_data}} {{{precip_data}}} {{else}} [] {{/if}};

        var canvas = document.getElementById('weather_chart');
        var date = new Date().toISOString().split('T')[0];
        var start = new Date();
        start.setDate(start.getDate() - 30);
        start = start.toISOString().split('T')[0];

        var weather_chart = new Chart(canvas, {
          type: 'line',
          data: weather_chart_data,
          options: {
            scales: {
                y: {
                    type: 'linear',
                    display: true,
                    position: 'left',
                    ticks: {
                        // Include a dollar sign in the ticks
                        callback: function(value, index, values) {
                            return value+' ℃';
                        }
                    }
                },
                // y1: {
                //  type: 'linear',
                //  display: true,
                //  position: 'right',
                //  ticks: {
       //                  // Include a dollar sign in the ticks
       //                  callback: function(value, index, values) {
       //                      return value+' mm';
       //                  }
       //              }
                // }
            }
          }
        });

        var precipitation_chart = new Chart(document.getElementById('precip_chart'), {
            type: 'line',
            data: precip_chart_data,
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        type: 'linear',
                        display: true,
                        position: 'left',
                        ticks: {
                            // Include a dollar sign in the ticks
                            callback: function(value, index, values) {
                                return value+' mm';
                            }
                        }
                    }
                }
            }
        });

        $('#weather_start').val(start);
        $('#weather_end').val(date);

        function updateWeatherChart() {
            var start = new Date($('#weather_start').val()), date = new Date($('#weather_end').val());
            $.get('/ajax_weather_chart', { start_date: start, end_date: date }, function(result) {
                weather_chart.data = result.stringify;
                weather_chart.update();
            });
        }

        updateWeatherChart();

        $('#weather_filter').on('click', function() {
            updateWeatherChart();
        });
	});
</script>