<style>
	table td, label {
		color: #332c1f;
	}

	#farmTable {
    /*margin-left: 0px;*/
    border-radius: 10px;
	}

	/*
	#farmTable th, #farmTable td, #farmTable tr {
		background-color: #EEEEEE !important;
		border-style: none !important;
		font-size: 20px !important;
		padding: 20px;
	}
	*/

	#totalSummary td {
		background-color: #EEEEEE !important;
	}

	@media print {
	body * {
		visibility: hidden;
	}

	#section-to-print1, #section-to-print1 *, 	#section-to-print2, #section-to-print2 * {
		visibility: visible !important;
		color: #332C1F;
	}
	
	#section-to-print1, #section-to-print2  {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
	}
	}
	
</style>

<div class="container-fluid">
					<div class="d-sm-flex justify-content-between align-items-center mb-4">
						<h3 class="text-dark mb-0">Farm Productivity Reports</h3><a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
					</div>

				  <div class="row" style="margin: 0px;">
   
</div>
 <div class="col-lg-7 col-xl-12">
			    <div class="card shadow mb-4"  style="max-width: 1150px; margin: 0px auto">
				

				<div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;height: auto;padding: 16px 20px;">
					
					<div class="col" style="padding-top: 5px;">
                    	<h6 class="font-weight-bold m-0" style="color: #FFFFFF;">Farm Productivity Overview</h6>
                	</div>
				
					<div class="dropdown no-arrow" style="padding-top: 5px">
                        <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                            <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                        </button>
                        <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in" style="vertical-align: top;">

                            <a class="dropdown-item notSidebar" href="#" type="button" value="print1" id="print1">&nbsp;View Summary Report</a>

                        </div>
           			</div>
				</div>

				<div class="card-body">
							   
								{{!-- <div class="row table-topper align-items-center">

									<div class="col-4 text-left" style="margin: 0px;padding: 5px 15px;"><button class="btn btn-primary btn-sm reset" type="button" style="padding: 5px;margin: 2px;">Reset Filters</button><button class="btn btn-warning btn-sm" id="zoom_in-1" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-plus"></i></button><button class="btn btn-warning btn-sm" id="zoom_out-1" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-minus"></i></button></div>
									<div class="col-4 text-center" style="margin: 0px;padding: 5px 10px;">
										<h6 id="counter-1">Showing: <strong id="rowCount">ALL</strong>&nbsp;Row(s)</h6>
									</div>
									<div class="col-4 text-right" style="margin: 0px;padding: 5px 10px;"><a href="#" data-toggle="modal" data-target="#tablehelpModal"><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Custom Sort Details" aria-hidden="true" style="padding: 5px 15px;margin: 2px;"></i></a></div>
								</div> --}}

								<div class="row">
									<div class="col-12">
										<div style="width: auto;">
											<table class="table table-striped table-bordered tablesorter" id="ipi-table">
												<thead class="thead-dark">
													<tr style="background: #212529;">
														<th style="">Farm</th>
														<th style="">Crop Plan</th>
														<th style="text-align: right;">Current Yield</th>
														<th style="text-align: right">Productivity (Current / Previous)</th>
														<th style="">Status</th>
													</tr>
												</thead>
												<tbody aria-live="polite" aria-relevant="all">
													{{#each farm_productivity}}
													<tr role="row">
														<td>{{this.farm_name}}</td>
														<td>
															<div class="d-flex flex-column">
																{{this.crop_plan}}
																<small>({{this.status}})</small>
															</div>
														</td>
														<td class="" style="text-align: right;">{{{this.current_yield}}}</td>
														<td style="text-align: right;">
														
															<big class="text-right">{{{this.current_productivity}}}</big>

															<big class="mx-2">/</big>

															<small class="mt-2" style="margin-right: 10px">{{this.prev_productivity}}</small>

															<span class="{{this.change.color}} mr-2">
																({{{this.change.val}}}%)
															</span>
														</td>

														<td class="{{this.change.color}}">
														
															{{this.outlook}}
					

															<span style="margin-left: 30px;">
																<div class="dropdown no-arrow" style="display:inline-block; float: right">
																	<button id="more" class="btn btn-primary btn-sm dropdown-toggle dropdown no-arrow" aria-expanded="false" data-bs-toggle="dropdown" type="button">
																		<i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
																	</button>
																	<div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
																		<a class="dropdown-item notSidebar" href="/farm_productivity/detailed?calendar_id={{this.calendar_id}}">View Details</a>
																	</div>
																</div>
															</span> 

															</td>

															{{!-- Note: Changed to allow text-align: right of td --}}

															{{!-- <div class="d-flex">
																<div class="d-flex w-75">
																	<big class="w-50 text-right">{{this.current_productivity}}</big>
																	<big class="mx-3">/</big>
																	<small class="mt-2" style="margin-right: 10px">{{this.prev_productivity}}</small>
																	<div class="d-flex">
																		<!-- <div class="">
																			<i class=" fas fa-arrow-alt-circle-{{this.change.arrow}} fa-2x"></i>
																		</div> -->
																		<div class="mt-1 {{this.change.color}}">
																			({{this.change.val}}%)
																		</div>
																		<div>{{this.outlook}}</div>
																	</div>
																	
																</div>
																<span class="w-25">
																	<div class="dropdown no-arrow" style="display:inline-block; float: right">
																		<button id="more" class="btn btn-primary btn-sm dropdown-toggle dropdown no-arrow" aria-expanded="false" data-bs-toggle="dropdown" type="button">
																			<i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
																		</button>
																		<div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
																			<a class="dropdown-item notSidebar" href="/farm_productivity/detailed?calendar_id={{this.calendar_id}}">View Details</a>
																		</div>
																	</div>
																</span> 
															</div> --}}
															
												
													</tr>
													{{/each}}
												  
												</tbody>
											</table>
										</div>
											  
									</div>

								</div>

								{{!-- <div class="modal fade" role="dialog" tabindex="-1" id="tablehelpModal-1" aria-labeledby="tablehelpModal" aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">Table Filtering Options</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
											</div>
											<div class="modal-body">
												<div class="table-responsive">
													<table class="table">
														<thead>
															<tr>
																<th style="width:1%">Priority</th>
																<th style="width:9%">Operator</th>
																<th style="width:30%">Description</th>
																<th style="width:60%">Examples</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>1</td>
																<td><code>|</code>&nbsp;or&nbsp;&nbsp;<code>OR</code><br></td>
																<td>Logical "or" (Vertical bar). Filter the column for content that matches text from either side of the bar.<br></td>
																<td><code>&lt;20 | &gt;40</code>&nbsp;(matches a column cell with either "&lt;20" or "&gt;40")<br></td>
															</tr>
															<tr>
																<td>2</td>
																<td><code>&amp;&amp;</code>&nbsp;or <code>AND</code><br></td>
																<td>Logical "and". Filter the column for content that matches text from either side of the operator.<br></td>
																<td><code>&gt;20 &amp;&amp; &gt;40</code>&nbsp;(matches a column cell that contains both "&gt;20" and "&lt;40")<br></td>
															</tr>
															<tr>
																<td>3</td>
																<td><code>/\d/</code><br></td>
																<td>Add any regex to the query to use in the query ("mig" flags can be included&nbsp;<code>/\w/mig</code>)<br></td>
																<td><code>/b[aeiou]g/i</code>&nbsp;(finds "bag", "beg", "BIG", "Bug", etc);<code>&gt;/r$/</code>&nbsp;(matches text that ends with an "r")<br></td>
															</tr>
															<tr>
																<td>4</td>
																<td><code>&lt; &lt;= &gt;= &gt;</code><br></td>
																<td>Find alphabetical or numerical values less than or greater than or equal to the filtered query .<br></td>
																<td><code>&lt;=10</code>&nbsp;(find values greater than or equal to 10)<br></td>
															</tr>
															<tr>
																<td>5</td>
																<td><code>!</code>&nbsp;or&nbsp;<code>!=</code><br></td>
																<td>Not operator, or not exactly match. Filter the column with content that&nbsp;<strong>do not</strong>&nbsp;match the query. Include an equal (<code>=</code>), single (<code>'</code>) or double quote (<code>"</code>) to exactly&nbsp;<em>not</em>&nbsp;match a filter.<br><br><br></td>
																<td><code>!e</code>&nbsp;(find text that doesn't contain an "e");<code>!"ELISA"</code>&nbsp;(find content that does not exactly match "ELISA")<br></td>
															</tr>
															<tr>
																<td>6</td>
																<td><code>"</code>&nbsp;or&nbsp;<code>=</code><br></td>
																<td>To exactly match the search query, add a quote, apostrophe or equal sign to the beginning and/or end of the query<br></td>
																<td><code>abc"</code>&nbsp;or&nbsp;<code>abc=</code>&nbsp;(exactly match "abc")<br></td>
															</tr>
															<tr>
																<td>7</td>
																<td><code>-</code>&nbsp;or <code>to</code><br></td>
																<td>Find a range of values. Make sure there is a space before and after the dash (or the word "to").<br></td>
																<td><code>10 - 30</code>&nbsp;or&nbsp;<code>10 to 30</code>&nbsp;(match values between 10 and 30)<br></td>
															</tr>
															<tr>
																<td>8</td>
																<td><code>?</code><br></td>
																<td>Wildcard for a single, non-space character.<br></td>
																<td><code>S?c</code>&nbsp;(finds "Sec" and "Soc", but not "Seec")<br></td>
															</tr>
															<tr>
																<td>8</td>
																<td><code>*</code><br></td>
																<td>Wildcard for zero or more non-space characters.<br></td>
																<td><code>B*k</code>&nbsp;(matches "Black" and "Book")<br></td>
															</tr>
															<tr>
																<td>9</td>
																<td><code>~</code><br></td>
																<td>Perform a fuzzy search (matches sequential characters) by adding a tilde to the beginning of the query<br></td>
																<td><code>~bee</code>&nbsp;(matches "Bruce Lee" and "Brenda Dexter"), or&nbsp;<code>~piano</code>&nbsp;(matches "Philip Aaron Wong")<br></td>
															</tr>
															<tr>
																<td>10</td>
																<td>text<br></td>
																<td>Any text entered in the filter will&nbsp;<strong>match</strong>&nbsp;text found within the column<br></td>
																<td><code>abc</code>&nbsp;(finds "abc", "abcd", "abcde", etc);<code>SEC</code>&nbsp;(finds "SEC" and "Analytical SEC")<br></td>
															</tr>
														</tbody>
													</table>
												  
												</div>
											</div>
											<div class="modal-footer"><button class="btn btn-danger" type="button" data-dismiss="modal">Close</button></div>
										</div>
									</div>
								</div> --}}
					
				</div>
			</div>
		</div> 
		<div class="col-lg-7 col-xl-12">
			<div class="card shadow mb-4"  style="max-width: 1150px; margin: 0px auto">
				<div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;height: auto;padding: 16px 20px;">
					<div class="col" style="padding-top: 5px;">
                    	<h6 class="font-weight-bold m-0" style="color: #FFFFFF;">Harvest Reports</h6>
                	</div>
				
					<div class="dropdown no-arrow" style="padding-top: 5px">
                        <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                            <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                        </button>
                        <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in" style="vertical-align: top;">
                            {{!-- <a class="dropdown-item notSidebar" onclick='window.location="/crop_calendar/add"' style="color: white;">&nbsp;Create Crop Calendar</a>
                            <div class="dropdown-divider"></div> --}}
                            <a class="dropdown-item notSidebar" href="#" type="button" value="print2" id="print2">&nbsp;View Summary Report</a>

                        </div>
           			</div>
				</div>
				<div class="card-body">

							{{!-- Activate later if filtering per farm will be used --}}
							{{!-- <form class="d-flex" style="margin-left: 0px; margin-bottom: 20px;">
								<div class="form-row">
									<div class="col" style="padding-top: 5px;"><label>Farm</label>
										<div class="dropdown d-flex"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="color: rgb(28,30,31);background: rgba(38,83,212,0);border-style: solid;border-color: rgb(209,211,226);">Farm</button>
											<div class="dropdown-menu"><a class="dropdown-item" href="#">Farm 1 </a><a class="dropdown-item" href="#">Farm 2</a><a class="dropdown-item" href="#">Farm 3</a><a class="dropdown-item" href="#">All Farms</a></div>
										</div>
									</div>
									<div class="col" style="padding-top: 5px;"><label>Start Date</label><input class="form-control" type="date" style="margin-left: 0px;" name="startDate" required /></div>
									<div class="col" style="padding-top: 5px;"><label>End Date</label><input class="form-control" type="date" required style="margin-left: 0px;" /></div>
									<div class="col" style="padding-top: 5px; position: relative;"><button class="btn btn-primary btn-sm reset" type="submit" style="padding: 5px;margin: 2px;width: 70px; position:absolute; bottom:0">Filter</button></div>
								</div>
							</form> --}}

								{{!-- <div class="row table-topper align-items-center">

									<div class="col-4 text-left" style="margin: 0px;padding: 5px 15px;"><button class="btn btn-primary btn-sm reset" type="button" style="padding: 5px;margin: 2px;">Reset Filters</button><button class="btn btn-warning btn-sm" id="zoom_in-1" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-plus"></i></button><button class="btn btn-warning btn-sm" id="zoom_out-1" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-minus"></i></button></div>
									<div class="col-4 text-center" style="margin: 0px;padding: 5px 10px;">
										<h6 id="counter-1">Showing: <strong id="rowCount">ALL</strong>&nbsp;Row(s)</h6>
									</div>
									<div class="col-4 text-right" style="margin: 0px;padding: 5px 10px;"><a href="#" data-toggle="modal" data-target="#tablehelpModal"><i class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title="Custom Sort Details" aria-hidden="true" style="padding: 5px 15px;margin: 2px;"></i></a></div>
								</div> --}}

								<div class="row">
									<div class="col-12">
										<div style="width: auto;">
											<table class="table table-striped table-bordered tablesorter" id="ipi-table">
												<thead class="thead-dark">
													<tr style="background: #212529;">
														<th style="">Report</th>
														<th style="">Date</th>
														<th style="">CROP PLAN</th>
														<th style="">Status</th>
													</tr>
												</thead>
												<tbody aria-live="polite" aria-relevant="all">
												 	
													{{#each harvest_reports}}
													<tr role="row">
														<td>Harvest Report</td>
														<td>{{this.min_start}} - {{this.max_end}}</td>
														<td>{{this.crop_plan}}</td>
														<td>
															{{this.status}}
															<span>
																<div class="dropdown no-arrow" style="display:inline-block; float: right">
																	<button id="more" class="btn btn-primary btn-sm dropdown-toggle dropdown no-arrow" aria-expanded="false" data-bs-toggle="dropdown" type="button">
																		<i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
																	</button>
																	<div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
																		<a class="dropdown-item notSidebar" href="/harvest_report/{{this.crop_plan}}/summary?id={{this.calendar_ids}}">View Details</a>
																	</div>
																</div>
															</span> 
														</td>

													</tr>
													{{/each}}

												   <!-- <tr role="row">
														<td> Farm Productivity Report</td>
														<td> October 1, 2021 - March 1, 2021</td>
														<td> Palay 2021 </td>
														<td> Ongoing
															<span>
															<div class="dropdown no-arrow" style="display:inline-block; float: right">
																	<button id="more" class="btn btn-primary btn-sm dropdown-toggle dropdown no-arrow" aria-expanded="false" data-bs-toggle="dropdown" type="button">
																		<i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
																	</button>
																	<div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
																		<a class="dropdown-item notSidebar" href="/test_report">View Details</a>
																		{{!-- <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
																		<div class="dropdown-divider"></div>
																		<a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a> --}}
																	</div>
																</div>
															</span> 
														</td>
													</tr> -->
													<!-- <tr role="row">
														<td> Harvest Report</td>
														<td> October 1, 2021 - March 1, 2021</td>
														<td> Palay 2021 </td>
														<td> Completed
															<span>
															<div class="dropdown no-arrow" style="display:inline-block; float: right">
																	<button id="more" class="btn btn-primary btn-sm dropdown-toggle dropdown no-arrow" aria-expanded="false" data-bs-toggle="dropdown" type="button">
																		<i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
																	</button>
																	<div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
																		<a class="dropdown-item notSidebar" href="/farms/work_order&id={{this.work_order_id}}">View Details</a>
																		{{!-- <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
																		<div class="dropdown-divider"></div>
																		<a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a> --}}
																	</div>
																</div>
															</span> 
														</td>
													</tr> -->
												</tbody>
											</table>
										</div>
											   {{!-- <nav class="float-right" style="margin-right: 10px;">
														<ul class="pagination">
															<li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
															<li class="page-item"><a class="page-link" href="#">1</a></li>
															<li class="page-item"><a class="page-link" href="#">2</a></li>
															<li class="page-item"><a class="page-link" href="#">3</a></li>
															<li class="page-item"><a class="page-link" href="#">4</a></li>
															<li class="page-item"><a class="page-link" href="#">5</a></li>
															<li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
														</ul>
													</nav>        --}}
									</div>

								</div>

								{{!-- <div class="modal fade" role="dialog" tabindex="-1" id="tablehelpModal-1" aria-labeledby="tablehelpModal" aria-hidden="true">
									<div class="modal-dialog modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title">Table Filtering Options</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
											</div>
											<div class="modal-body">
												<div class="table-responsive">
													<table class="table">
														<thead>
															<tr>
																<th style="width:1%">Priority</th>
																<th style="width:9%">Operator</th>
																<th style="width:30%">Description</th>
																<th style="width:60%">Examples</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td>1</td>
																<td><code>|</code>&nbsp;or&nbsp;&nbsp;<code>OR</code><br></td>
																<td>Logical "or" (Vertical bar). Filter the column for content that matches text from either side of the bar.<br></td>
																<td><code>&lt;20 | &gt;40</code>&nbsp;(matches a column cell with either "&lt;20" or "&gt;40")<br></td>
															</tr>
															<tr>
																<td>2</td>
																<td><code>&amp;&amp;</code>&nbsp;or <code>AND</code><br></td>
																<td>Logical "and". Filter the column for content that matches text from either side of the operator.<br></td>
																<td><code>&gt;20 &amp;&amp; &gt;40</code>&nbsp;(matches a column cell that contains both "&gt;20" and "&lt;40")<br></td>
															</tr>
															<tr>
																<td>3</td>
																<td><code>/\d/</code><br></td>
																<td>Add any regex to the query to use in the query ("mig" flags can be included&nbsp;<code>/\w/mig</code>)<br></td>
																<td><code>/b[aeiou]g/i</code>&nbsp;(finds "bag", "beg", "BIG", "Bug", etc);<code>&gt;/r$/</code>&nbsp;(matches text that ends with an "r")<br></td>
															</tr>
															<tr>
																<td>4</td>
																<td><code>&lt; &lt;= &gt;= &gt;</code><br></td>
																<td>Find alphabetical or numerical values less than or greater than or equal to the filtered query .<br></td>
																<td><code>&lt;=10</code>&nbsp;(find values greater than or equal to 10)<br></td>
															</tr>
															<tr>
																<td>5</td>
																<td><code>!</code>&nbsp;or&nbsp;<code>!=</code><br></td>
																<td>Not operator, or not exactly match. Filter the column with content that&nbsp;<strong>do not</strong>&nbsp;match the query. Include an equal (<code>=</code>), single (<code>'</code>) or double quote (<code>"</code>) to exactly&nbsp;<em>not</em>&nbsp;match a filter.<br><br><br></td>
																<td><code>!e</code>&nbsp;(find text that doesn't contain an "e");<code>!"ELISA"</code>&nbsp;(find content that does not exactly match "ELISA")<br></td>
															</tr>
															<tr>
																<td>6</td>
																<td><code>"</code>&nbsp;or&nbsp;<code>=</code><br></td>
																<td>To exactly match the search query, add a quote, apostrophe or equal sign to the beginning and/or end of the query<br></td>
																<td><code>abc"</code>&nbsp;or&nbsp;<code>abc=</code>&nbsp;(exactly match "abc")<br></td>
															</tr>
															<tr>
																<td>7</td>
																<td><code>-</code>&nbsp;or <code>to</code><br></td>
																<td>Find a range of values. Make sure there is a space before and after the dash (or the word "to").<br></td>
																<td><code>10 - 30</code>&nbsp;or&nbsp;<code>10 to 30</code>&nbsp;(match values between 10 and 30)<br></td>
															</tr>
															<tr>
																<td>8</td>
																<td><code>?</code><br></td>
																<td>Wildcard for a single, non-space character.<br></td>
																<td><code>S?c</code>&nbsp;(finds "Sec" and "Soc", but not "Seec")<br></td>
															</tr>
															<tr>
																<td>8</td>
																<td><code>*</code><br></td>
																<td>Wildcard for zero or more non-space characters.<br></td>
																<td><code>B*k</code>&nbsp;(matches "Black" and "Book")<br></td>
															</tr>
															<tr>
																<td>9</td>
																<td><code>~</code><br></td>
																<td>Perform a fuzzy search (matches sequential characters) by adding a tilde to the beginning of the query<br></td>
																<td><code>~bee</code>&nbsp;(matches "Bruce Lee" and "Brenda Dexter"), or&nbsp;<code>~piano</code>&nbsp;(matches "Philip Aaron Wong")<br></td>
															</tr>
															<tr>
																<td>10</td>
																<td>text<br></td>
																<td>Any text entered in the filter will&nbsp;<strong>match</strong>&nbsp;text found within the column<br></td>
																<td><code>abc</code>&nbsp;(finds "abc", "abcd", "abcde", etc);<code>SEC</code>&nbsp;(finds "SEC" and "Analytical SEC")<br></td>
															</tr>
														</tbody>
													</table>
												  
												</div>
											</div>
											<div class="modal-footer"><button class="btn btn-danger" type="button" data-dismiss="modal">Close</button></div>
										</div>
									</div>
								</div> --}}
						 
			</div>
		</div>           
				   
	</div>

	{{!-- PRINT FARM PRODUCTIVITY SUMMARY REPORT --}}
	<div id="section-to-print1" style="display: none; visibility: hidden">
		<div class="container" style="font-size: 16px !important;">
		
		{{!-- HEADER --}}
			<div class="row" style="margin-bottom: 20px;">
		        <div class="col" style="background: #657429; padding: 20px">
		            <div class="d-xxl-flex align-items-xxl-center">
						<center style="margin-bottom: 20px;">
							<img src="assets/img/LA_logo.png" style="width: 150px;margin-left: auto;margin-right: auto;">
						</center>
					</div>

		            <div>
		                <h1 style="text-align: center;font-size: 22px;color: #F1E8D7;margin-bottom: 0px;">LA Rice Mill</h1>
		            </div>
		            <div>
		                <h1 style="text-align: center;font-size: 22px;color: #F1E8D7;margin-bottom: 0px;">Farm Productivity Report</h1>
		            </div>
		            <div>
		                <h1 style="text-align: center;font-size: 22px;color: #F1E8D7;margin-bottom: 8px;">For the Crop Cycle on October 2021 - March 2022</h1>
		            </div>
		        </div>
		    </div>
	{{!-- END OF HEADER --}}

	{{!-- FOR EACH FARM --}}
	{{#each farm_productivity}}
    <div class="row">
        <div class="col" style="background-color:#212529;margin-top: 15px; height: auto">
            <h4 style="color:white; font-weight: bold; margin-bottom: 15px">{{this.farm_name}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table" id="farmTable">
                    <thead>
                        <tr>
                        	<th style="text-align: left;">Crop Plan</th>
                        	<th style="text-align: left;">Crop Name</th>
							<th style="text-align: right;">Forecasted Harvest</th>
							<th style="text-align: right;">Actual Harvest</th>
                            <th style="text-align: right;">Total Harvest</th>
                            <th style="text-align: right;">Total Inputs</th>
                            {{!-- <th>Column 2</th>
                            <th>Column 2</th> --}}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        	<td style="text-align: left;">{{this.crop_plan}}</td>
                            <td style="text-align: left;">{{this.seed_name}}</td>
                            <td style="text-align: right;">{{this.forecast_yield}}</td>
                            <td style="text-align: right;">{{this.current_yield}}</td>
                            <td style="text-align: right;">{{this.total_harvest}}</td>
                            <td style="text-align: right;">{{this.net_spend}}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color:#EEEEEE; padding: 5px">
            <div style="padding: 10px;">
			<span class="float-end" style="color:#332C1F;margin-left: 20px;font-weight: bold;">{{this.current_productivity}}%</span>
			<span class="float-end" style="color: #332C1F;font-weight: bold;">Overall Productivity Rating</span></div>
        </div>
    </div>
	{{/each}}
	{{!-- END OF FOR EACH FARM --}}

		</div>

	</div>
	
	{{!-- END OF PRINT FARM PRODUCTIVITY SUMMARY REPORT --}}

	{{!-- PRINT HARVEST SUMMARY REPORT --}}
	<div id="section-to-print2" style="display: none; visibility: hidden">
		<div class="container" style="margin-top: 10px;">

		{{!-- HEADER --}}
		<div class="row" style="margin-bottom: 20px;">
        <div class="col" style="background: #657429; padding: 20px">
            <div class="d-xxl-flex align-items-xxl-center">
				<center style="margin-bottom: 20px;">
					<img src="assets/img/LA_logo.png" style="width: 150px;margin-left: auto;margin-right: auto;">
				</center>
			</div>

            <div>
                <h1 style="text-align: center;font-size: 22px;color: #F1E8D7;margin-bottom: 0px;">LA Rice Mill</h1>
            </div>
            <div>
                <h1 style="text-align: center;font-size: 22px;color: #F1E8D7;margin-bottom: 0px;">Harvest Report</h1>
            </div>
            <div>
                <h1 style="text-align: center;font-size: 22px;color: #F1E8D7;margin-bottom: 8px;">For the Crop Cycle on October 2021 - March 2022</h1>
            </div>
        </div>
    	</div>
		{{!-- END OF HEADER --}}

    <div class="row">
        <div class="col" style="background-color:#212529;margin-top: 15px; height: auto">
            <h4 style="color:white; font-weight: bold; margin-bottom: 15px">Crop Plan Name</h4>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Farm</th>
                            <th style="text-align: left;">Seed Name</th>
                            <th style="text-align: center;">Land Area</th>
							<th style="text-align: right;">Historical Yield</th>
                            <th style="text-align: right;">Actual Yield&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Farm 1</td>
                            <td>Dinorado 2021</td>
                            <td style="text-align: center;">2 ha</td>
                            <td style="text-align: right;">80 cavans/ha</td>
							<td style="text-align: right;">80 cavans/ha</td>
                        </tr>
                        <tr>
                            <td>Farm 1</td>
                            <td>Dinorado 2021</td>
                            <td style="text-align: center;">2 ha</td>
                            <td style="text-align: right;">80 cavans/ha</td>
							<td style="text-align: right;">80 cavans/ha</td>
                        </tr>
                        <tr>
                            <td>Farm 1</td>
                            <td>Dinorado 2021</td>
                            <td style="text-align: center;">2 ha</td>
                            <td style="text-align: right;">80 cavans/ha</td>
							<td style="text-align: right;">80 cavans/ha</td>
                        </tr>
                        <tr>
                            <td>Farm 1</td>
                            <td>Dinorado 2021</td>
                            <td style="text-align: center;">2 ha</td>
                            <td style="text-align: right;">80 cavans/ha</td>
							<td style="text-align: right;">80 cavans/ha</td>
                        </tr>
                        <tr>
                            <td>Farm 1</td>
                            <td>Dinorado 2021</td>
                            <td style="text-align: center;">2 ha</td>
                            <td style="text-align: right;">80 cavans/ha</td>
							<td style="text-align: right;">80 cavans/ha</td>
                        </tr>
                        <tr>
                            <td>Farm 1</td>
                            <td>Dinorado 2021</td>
                            <td style="text-align: center;">2 ha</td>
                            <td style="text-align: right;">80 cavans/ha</td>
						    <td style="text-align: right;">80 cavans/ha</td>
                        </tr>
                        <tr>
                            <td>Farm 1</td>
                            <td>Dinorado 2021</td>
                            <td style="text-align: center;">2 ha</td>
							<td style="text-align: right;">80 cavans/ha</td>
                            <td style="text-align: right;">80 cavans/ha</td>
                        </tr>
                        <tr>
                            <td>Farm 1</td>
                            <td>Dinorado 2021</td>
                            <td style="text-align: center;">2 ha</td>
                            <td style="text-align: right;">80 cavans/ha</td>
						    <td style="text-align: right;">80 cavans/ha</td>
                        </tr>
                        <tr>
                            <td>Farm 1</td>
                            <td>Dinorado 2021</td>
                            <td style="text-align: center;">2 ha</td>
                            <td style="text-align: right;">80 cavans/ha</td>
						    <td style="text-align: right;">80 cavans/ha</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="background-color: #EEEEEE;">
            <div class="table">
                <table class="table" id="totalSummary">
            
                    <tbody style="border-style: none;">
                        <tr style="border-style: none;">
                            <td style="width: 150px;border-style: none;padding: 0px;"></td>
                            <td style="text-align: left;width: 100px;border-style: none;font-weight: bold;">Average Harvested Crops</td>
                            <td style="text-align: right;width: 100px;border-style: none;font-weight: bold; padding-right: 5px">60 cavans/ha</td>
                        </tr>
                        <tr style="border-style: none;font-weight: bold;">
                            <td style="width: 150px;border-style: none;padding: 0px;font-weight: bold;"></td>
                            <td style="text-align: left;width: 100px;border-style: none;font-weight: bold;">Total Harvested Crops</td>
                            <td style="text-align: right;width: 100px;border-style: none;font-weight: bold; padding-right: 5px">60 cavans/ha</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
		</div>

	</div>

<script>
	var view = "farm_productivity_report";

	document.querySelector("#print1").addEventListener("click", function() {
	$('#section-to-print1').toggle(); //removes the display:none
    window.print();
    $('#section-to-print1').hide(); //brings back the display:none    
	});

	
	document.querySelector("#print2").addEventListener("click", function() {
	$('#section-to-print2').toggle(); //removes the display:none
    window.print();
    $('#section-to-print2').hide(); //brings back the display:none    
	});

</script>


