<style>
     table td, table th, strong, span {
        color: #332c1f;
    }

    h3 {
        color: white;
    }

    h5, div.col {
        color: #657429;
    }

    a.btn.multisteps-form__progress-btn.js-active, a.btn.multisteps-form__progress-btn {
        color: #657429;
    }

    a.btn.multisteps-form__progress-btn.js-active::before {
        background: #BDBE14;
    }
</style>

{{!-- <div class="container-fluid">
    <h3 class="text-dark mb-4" style="font-weight: bold;color: #332c1f;">Farms</h3>
    <!-- Weather Forecast -->
    <div class="row" style="padding: 0px 12px;">
        <div class="col-xxl-7">
            <div class="table-responsive" style="border-style: none;">
                <table class="table weather_table" id="weather_table">
                    
                </table>
            </div>
        </div>
    </div>
    <!-- Weather Data -->
    <div class="row mb-3">
        <div class="col-xxl-6" >
            <div class="card d-xxl-flex align-items-xxl-start h-100" style="">
                <!-- Map -->
                <div class="card-body w-100 h-100" id="monitor_map">
                    
                </div>
            </div>
        </div>
        <!-- Imagery Data -->
        <div class="col-xxl-3">
            <div class="card d-xxl-flex align-items-xxl-start">
                <div class="card-body">
                    <h4 class="card-title" style="color: #332c1f;font-weight: bold;">Current Weather</h4>
                    <div>
                        <div></div>
                        <div class="row">
                            <div class="col-xxl-6">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-clouds" style="font-size: 100px;color: #332c1f;">
                                    <path d="M16 7.5a2.5 2.5 0 0 1-1.456 2.272 3.513 3.513 0 0 0-.65-.824 1.5 1.5 0 0 0-.789-2.896.5.5 0 0 1-.627-.421 3 3 0 0 0-5.22-1.625 5.587 5.587 0 0 0-1.276.088 4.002 4.002 0 0 1 7.392.91A2.5 2.5 0 0 1 16 7.5z"></path>
                                    <path d="M7 5a4.5 4.5 0 0 1 4.473 4h.027a2.5 2.5 0 0 1 0 5H3a3 3 0 0 1-.247-5.99A4.502 4.502 0 0 1 7 5zm3.5 4.5a3.5 3.5 0 0 0-6.89-.873.5.5 0 0 1-.51.375A2 2 0 1 0 3 13h8.5a1.5 1.5 0 1 0-.376-2.953.5.5 0 0 1-.624-.492V9.5z"></path>
                                </svg>
                                <!-- <div class="" id="monitor_icon">
                                    
                                </div> -->
                            </div>
                            <div class="col" style="color: #332c1f;"><span class="d-xxl-flex justify-content-xxl-end" style="color: #332c1f;" id="monitor_temp"></span><span class="d-xxl-flex justify-content-xxl-end align-items-xxl-center" style="color: #332c1f;" id="monitor_desc"></span></div>
                        </div>
                    </div>
                    <!-- Don't have this yet -->
                    <!-- <div class="row" style="color: #332c1f;">
                        <div class="col" style="color: #332c1f;">
                            <h6 class="text-muted mb-2" style="color: #332c1f;">Precipitation will start within 41 minutes.</h6>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- Temp -->
            <div class="hide d-flex flex-column w-25 mx-3 bg-secondary rounded px-3 py-2" id="statistics_ndvi">
                <label>NDVI</label>
                <table class="table monitor_statistics">
                    <tr>
                        <th id="ndvi_date" colspan="2">date</th>
                    </tr>
                    <tr>
                        <td>Max</td>
                        <td id="statistics_max"></td>
                    </tr>
                    <tr>
                        <td>Mean</td>
                        <td id="statistics_mean"></td>
                    </tr>
                    <tr>
                        <td>Median</td>
                        <td id="statistics_median"></td>
                    </tr>
                    <tr>
                        <td>Min</td>
                        <td id="statistics_min"></td>
                    </tr>
                    <tr>
                        <td>Deviation</td>
                        <td id="statistics_deviation"></td>
                    </tr>
                </table>
            </div>
            <div class="card" style="margin-top: 24PX;">
                <div class="card-body">
                    <h4 class="card-title" style="color: #332c1f;font-weight: bold;">Current Soil Data</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="color: #332c1f;">Temperature at the surface</td>
                                    <td style="color: #332c1f;" id="monitor_surface_temp"><br></td>
                                </tr>
                                <tr style="color: #332c1f;">
                                    <td style="color: #332c1f;">Temperature at the depth of 10cm</td>
                                    <td style="color: #332c1f;" id="monitor_ground_temp"><br></td>
                                </tr>
                                <tr style="color: #332c1f;">
                                    <td style="color: #332c1f;">Soil Moisture</td>
                                    <td style="color: #332c1f;" id="monitor_soil_moisture"><br></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3">
            <div class="card" style="height: 480PX;">
                <div class="card-body">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h4 class="text-dark mb-0">All Farms</h4>
                        <button class="btn btn-primary d-inline-block float-end" type="button" style="background: #EDD172;color: #584C33;font-weight: bold;padding: 2PX 12PX;font-size: 12PX;border-radius: 20PX;" onclick='window.location="/farms/add"'>Add Farm &nbsp;<i class="fa fa-plus"></i></button>

                    </div>
                   
                    <ul class="list-group" id="monitor_farm_list">

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Farm Details -->
    <div class="row mb-3">
        <div class="col-lg-8 col-xxl-9 offset-xxl-0">
            <div class="card mb-3">
                <div class="card-body text-center shadow">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h4 class="text-dark mb-0">Farm 1</h4><a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="Pests-Diseases.html" style="background: #EDD172;color: #332c1f;font-size: 16px;border-radius: 20px;padding: 8px 12px;border-style: none;">View Details</a>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="username"><strong>Description</strong></label><label class="form-label d-xxl-flex justify-content-xxl-start" for="username" style="color: rgb(0,0,0);"><strong id="monitor_desc"></strong></label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name"><strong>Address</strong></label><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name" style="color: rgb(0,0,0);"><strong>Zone 4, Barangay 1, Leuteboro 1</strong></label></div>
                        </div>
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="last_name"><strong>Farm Type</strong></label><label class="form-label d-xxl-flex justify-content-xxl-start" for="last_name" style="color: rgb(0,0,0);"><strong id="monitor_land_type"></strong></label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name"><strong>Farm Area</strong></label><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name" style="color: rgb(0,0,0);"><strong id="monitor_farm_area"></strong></label></div>
                        </div>
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="last_name"><strong>Farm Manager</strong></label><label class="form-label d-xxl-flex justify-content-xxl-start" for="last_name" style="color: rgb(0,0,0);font-size: 16px;"><strong id="monitor_farm_mngr"></strong></label></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name"><strong>Crop Cycle</strong></label></div>
                            <div class="accordion d-flex justify-content-xxl-center" role="tablist" id="accordion-1" style="width: auto;">
                                <div class="accordion-item" style="width: auto;">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="false" aria-controls="accordion-1 .item-1"><img class="d-xxl-flex justify-content-xxl-center" src="../../images/image27.png"></button><span class="d-xxl-flex justify-content-xxl-center" style="font-size: 16px;font-weight: bold;">Land Preparation</span></h2>
                                    <div class="accordion-collapse collapse item-1" role="tabpanel" data-bs-parent="#accordion-1">
                                        <div class="accordion-body">
                                            <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Column 1</th>
                                                            <th>Column 2</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Cell 1</td>
                                                            <td>Cell 2</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Cell 3</td>
                                                            <td>Cell 4</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item" style="width: auto;">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" aria-expanded="false" aria-controls="accordion-1 .item-2"><img class="d-xxl-flex justify-content-xxl-center" src="../../images/image25.png"></button><span class="d-xxl-flex justify-content-xxl-center" style="font-size: 16px;font-weight: bold;">Sowing Stage</span></h2>
                                    <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                                        <div class="accordion-body">
                                            <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>Column 1</th>
                                                            <th>Column 2</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Cell 1</td>
                                                            <td>Cell 2</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Cell 3</td>
                                                            <td>Cell 4</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item" style="width: auto;">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-3" aria-expanded="false" aria-controls="accordion-1 .item-3"><img class="d-xxl-flex justify-content-xxl-center" src="../../images/image25.png"></button><span class="d-xxl-flex justify-content-xxl-center" style="font-size: 16px;font-weight: bold;">Fertilizing Stage</span></h2>
                                    <div class="accordion-collapse collapse item-3" role="tabpanel" data-bs-parent="#accordion-1">
                                        <div class="accordion-body">
                                            <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item" style="width: auto;">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-4" aria-expanded="false" aria-controls="accordion-1 .item-4" style="background: rgb(237,209,114);"><img class="d-xxl-flex justify-content-xxl-center" src="../../images/image28.png"></button><span class="d-xxl-flex justify-content-xxl-center" style="font-size: 16px;font-weight: bold;">Pesticide Application</span></h2>
                                    <div class="accordion-collapse collapse item-4" role="tabpanel" data-bs-parent="#accordion-1">
                                        <div class="accordion-body">
                                            <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="accordion-item" style="width: auto;">
                                    <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-5" aria-expanded="false" aria-controls="accordion-1 .item-5"><img class="d-xxl-flex justify-content-xxl-center" src="../../images/image29.png"></button><span class="d-xxl-flex justify-content-xxl-center" style="font-size: 16px;font-weight: bold;">Harvest</span></h2>
                                    <div class="accordion-collapse collapse item-5" role="tabpanel" data-bs-parent="#accordion-1">
                                        <div class="accordion-body">
                                            <p class="mb-0">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name"><strong>Farm Resources (CONNECTED)</strong></label></div>
                            <div class="row space-rows">
                                <div class="col offset-xxl-0">
                                    <div class="card cards-shadown cards-hover aos-init" data-aos="flip-left" data-aos-duration="950">
                                        <div class="card-header" style="background: rgba(255,165,0,0);"><span class="space"><a href="#"></a></span>
                                            <div class="cardheader-text">
                                                <h4 id="heading-card-1" style="font-weight: bold;color: rgb(0,0,0);font-size: 16px;">Seeds</h4>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr></tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each seed}}
                                                            <tr style="min-height: 50px;">
                                                                <td>{{this.item_name}}</td>
                                                                <td>{{this.current_amount}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card cards-shadown cards-hover aos-init" data-aos="slide-right" data-aos-duration="950">
                                        <div class="card-header" style="background: rgba(255,165,0,0);"><span class="space"><a href="#"></a></span>
                                            <div class="cardheader-text">
                                                <h4 id="heading-card-2" style="font-weight: bold;color: rgb(0,0,0);font-size: 16px;">Fertilizer</h4>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr></tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each fertilizer}}
                                                            <tr>
                                                                <td>{{this.item_name}}</td>
                                                                <td>{{this.current_amount}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card cards-shadown cards-hover aos-init" data-aos="flip-up" data-aos-duration="950">
                                        <div class="card-header cards-header-hover" style="background: rgba(255,165,0,0);"><span class="space"><a href="#"></a></span>
                                            <div class="cardheader-text">
                                                <h4 id="heading-card-3" style="font-weight: bold;color: rgb(0,0,0);font-size: 16px;">Pesticides</h4>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr></tr>
                                                    </thead>
                                                    <tbody>
                                                        {{#each pesticide}}
                                                            <tr style="min-height: 50px;">
                                                                <td>{{this.item_name}}</td>
                                                                <td>{{this.current_amount}}</td>
                                                            </tr>
                                                        {{/each}}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="card-body"><a class="btn btn-primary d-flex float-end" role="button" style="background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px;padding: 10px 12px;" href="/farm_resources">View more</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name"><strong>Pest and Diseases (CONNECTED)</strong></label></div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="text-align: left;">Name</th>
                                            <th>Type</th>
                                            <th>Probability</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each probability}}
                                            <tr class="clickable">
                                                <td style="text-align: left;">{{this.pd_name}}</td>
                                                <td>{{this.type}}</td>
                                                <td class="probability_value">{{this.probability}}</td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-body"><a class="btn btn-primary d-flex float-end" role="button" style="background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px;padding: 10px 12px;" href="/farm_pestdisease">View more</a></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label d-xxl-flex justify-content-xxl-start" for="first_name"><strong>Farmer Queries</strong></label></div>
                                <div class="scrollmenu" id="detail_table">
                                        {{#each queries}}
                                            <div class="card-body card cards-shadown aos-init mini-card symptom-card details" data-aos="flip-left" data-aos-duration="350" >
                                                    <h4 class="card-title">FROM: {{this.first_name}} {{this.last_name}}</h4>
                                                    <p>{{this.message}}</p>
                                            </div>
                                        {{/each}}
                                        
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="color: #332c1f;font-weight: bold;">Warning Log</h4>
                    <div class="row">
                        <div class="col">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div><span style="color: rgb(255,15,0);font-weight: bold;">Incoming Typhoon.</span><span style="color: rgb(58,59,69);font-weight: bold;">&nbsp;Harvest Now!</span><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></div>
                                    <div><span>October 7, 2021</span></div>
                                </li>
                                <li class="list-group-item">
                                    <div><span style="color: rgb(255,15,0);font-weight: bold;">Incoming Typhoon.</span><span style="color: rgb(58,59,69);font-weight: bold;">&nbsp;Harvest Now!</span><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></div>
                                    <div><span>October 7, 2021</span></div>
                                </li>
                                <li class="list-group-item">
                                    <div><span style="color: rgb(255,15,0);font-weight: bold;">Incoming Typhoon.</span><span style="color: rgb(58,59,69);font-weight: bold;">&nbsp;Harvest Now!</span><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></div>
                                    <div><span>October 7, 2021</span></div>
                                </li>
                                <li class="list-group-item">
                                    <div><span style="color: rgb(255,15,0);font-weight: bold;">Incoming Typhoon.</span><span style="color: rgb(58,59,69);font-weight: bold;">&nbsp;Harvest Now!</span><i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;"></i></div>
                                    <div><span>October 7, 2021</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> --}}
<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Farms &gt; Farm Monitoring</h3><a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
    </div>
    <div class="row">
        <div class="col-xl-3">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;height: auto;padding: 16px 20px;">
                    <h6 class="font-weight-bold m-0" style="color: #FFFFFF;">Farms</h6>
                    <button class="btn-sm btn-primary float-right" type="button" style="margin-top : 0px; border-radius: 20px;padding: 2px 10px;background: #EDD172;border-style: none;color: rgb(94,83,61);" id="" href="/farms/add">Add Farm <i class="fa fa-plus-circle" style="margin-left: 5px;"></i></button>
                </div>
                <div class="card-body" style="padding: 0px;">
                    <div class="table-responsive" style="border-style: none;">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td style="border-style: none;" id="monitor_farm_list">
                                        {{!-- LIST OF FARMS --}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-xl-6">
            <div class="card shadow mb-4 w-100" style="height : 95%;">
                <div class="card-body w-100"  id="monitor_map">
                    
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-xl-3">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h6 class="font-weight-bold m-0" style="color: #584c33;font-size: 20px;">Current Weather</h6>
                    <div class="row">
                        <div class="col justify-content-xl-center align-items-xl-center"><img class="hide" src="" style="width: 88px; height: 60px;" id="monitor_icon"><!-- <i class="d-xl-flex justify-content-xl-center" style="font-size: 70px;color: rgb(88,76,51);"> --></i></div>
                        <div class="col">
                            <div><span class="text-right d-block d-xl-flex justify-content-xl-end" id="monitor_temp"><br></span></div>
                            <div><span class="text-right d-block d-xl-flex justify-content-xl-end" id="monitor_desc"><br></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-body">
                    <h6 class="font-weight-bold m-0" style="color: #584c33;font-size: 20px;">Current Soil Data</h6>
                    <div class="table-responsive" style="margin-top: 20px; margin-bottom: 24px">
                        <table class="table">
                            {{!-- <thead>
                                <tr></tr>
                            </thead> --}}
                            <tbody>
                                <tr>
                                    <td style="padding: 8px;">Temperature at the surface</td>
                                    <td style="padding: 8px;" id="monitor_surface_temp"><br></td>
                                </tr>
                                <tr>
                                    <td style="padding: 8px;">Temperature at the depth of 10cm</td>
                                    <td style="padding: 8px;" id="monitor_ground_temp"><br></td>
                                </tr>
                                <tr>
                                    <td style="padding: 8px;">Soil Moisture</td>
                                    <td style="padding: 8px;" id="monitor_soil_moisture"><br></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-7 col-xl-12">
            <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;height: auto;padding: 16px 20px;">
                    <div class="flex-container row" style="width: 100%; display:flex; flex-flow : horizontal">
                        <div class="col-xl-10"><span class="font-weight-bold farm_name" style="color: #FFFFFF;font-size: 20px;">Farm</span></div>
                        {{!-- <div  class="col-xl-2"><button class="btn btn-primary float-right" type="button" style="margin-top : 0px; border-radius: 20px;padding: 2px 10px;background: #EDD172;border-style: none;color: rgb(94,83,61);" id="" href="/farms/add">Add new Farm</button></div> --}}
                    </div>
                </div>
                <div class="card-body" id="mntr_card_body">
                    <div class="row">
                        <div class="col-xl-6" id="farm_information">
                            <div class="card shadow" style="margin-bottom: 10px; height: 260px; max-height: 260px">
                                <div class="card-body">
                                    <h6 class="font-weight-bold m-0" style="color: #584c33;font-size: 20px;">Farm Information</h6>
                                    <div class="table-responsive" style="margin-top: 20px;">
                                        <table class="table">
                                            {{!-- <thead>
                                                <tr></tr>
                                            </thead> --}}
                                            <tbody>
                                                <tr>
                                                    <td style="width: 170px;padding: 0px;border-style: none;"><span class="d-table-cell" style="font-weight: bold;border-style: none;" >Farm ID</span><span style="border-style: none;" id="farm_id">F-05</span></td>
                                                    <td style="width: 170px;padding: 0px;border-style: none;"><span class="d-table-cell" style="font-weight: bold;border-style: none;" >Farm Type</span><span style="border-style: none;" id="farm_type">Rain Fed</span></td>
                                                </tr>
                                                <tr style="border-style: none;">
                                                    <td style="width: 170px;padding: 0px;border-style: none;"><span class="d-table-cell" style="font-weight: bold;border-style: none;" >Name</span><span style="border-style: none;" id="farm_name"></span></td>
                                                    <td style="width: 170px;padding: 0px;border-style: none;"><span class="d-table-cell" style="font-weight: bold;border-style: none;" >Farm Manager</span><span style="border-style: none;" id="farm_manager"></span></td>
                                                </tr>
                                                <tr style="border-style: none;">
                                                    <td style="width: 170px;padding: 0px;border-style: none;"><span class="d-table-cell" style="font-weight: bold;border-style: none;" >Description</span><span style="border-style: none;" id="farm_desc"></span></td>
                                                    <td style="width: 170px;padding: 0px;border-style: none;"><span class="d-table-cell" style="font-weight: bold;border-style: none;" >Address</span><span style="border-style: none;" id="farm_area"></span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card shadow" style="margin-bottom: 0px; height: 260px; max-height: 260px">
                                <div class="card-body h-100">
                                    <h6 class="font-weight-bold m-0" style="color: #584c33;font-size: 20px;">Forecasted Yield</h6>
                                    <div class="table-responsive" style="border-style: none; margin-top:20px">
                                        <table class="table">
                                            {{!-- <thead style="border-style: none;">
                                                <tr style="border-style: none;"></tr>
                                            </thead> --}}
                                            <tbody style="border-style: none;">
                                                <tr style="border-style: none;">
                                                    <td style="width: 170px;border-style: none;text-align: left;line-height: 18px;" colspan="2">Forecasted yield is based on the historical performance of the individual farm</td>
                                                </tr>
                                                <tr style="border-style: none;">
                                                    <td style="width: 170px;border-style: none;text-align: left;">Forecasted</td>
                                                    <!-- <td style="width: 170px;border-style: none;text-align: left;">Expected</td> -->
                                                </tr>
                                                <tr style="border-style: none;">
                                                    <td style="width: 170px;border-style: none;padding: 0px 12px;font-size: 40px;line-height: 40px;text-align: left;"><span id="forecast_yield"></span></td>
                                                    <!-- <td style="width: 170px;border-style: none;padding: 0px 12px;font-size: 40px;line-height: 40px;text-align: left;">80&nbsp;<span style="font-size: 16px;">sacks/ha</span></td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-xl-12">
                            <div class="card shadow" style="margin-bottom: 10px;">
                                <div class="card-body calendar_based" id="detailed_cont">
                                    <div class="row">
                                        <div class="col-xl-2"><h6 class="font-weight-bold m-0" style="color: #584c33;font-size: 20px; margin : 20px;">Current Crop Cycle </h6></div>
                                        <div class="col-xl-8">
                                            
                                        </div>
                                        <div class="col-xl-2">
                                            <select class="form-select" id="crop_calendar_list" name="" form="" style="width: auto; float: right;">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 20px;;">
                                        <div class="col-xl-4" style="margin: 0px;padding-left: 10px;">
                                            <div class="mb-3" style="text-align: center;"><label class="form-label" for="" style="text-align: left; padding-left : 20px;"><strong >Calendar Name: </strong></label><span class="calendar_info calendar_name"></span></div>
                                        </div>
                                        <div class="col-xl-4" style="margin: 0px;padding-left: 10px;">
                                            <div class="mb-3" style="text-align: center;"><label class="form-label" for="" style="text-align: left; padding-left : 20px;"><strong>Seed: </strong></label><span class="calendar_info calendar_seed"></span></div>
                                        </div>
                                        <div class="col-xl-4" style="margin: 0px;padding-left: 10px;">
                                            <div class="mb-3" style="text-align: center;"><label class="form-label" for="" style="text-align: left; padding-left : 20px;"><strong>Start Date: </strong></label><span class="calendar_info calendar_start"></span></div>
                                        </div>
                                    </div>
                                   <div class="row">
                                        <div class="col-xl-4" style="margin: 0px;padding-left: 10px;">
                                            <div class="mb-3" style="text-align: center;"><label class="form-label" for="" style="text-align: left; padding-left : 20px;"><strong>Planting Method: </strong></label><span class="calendar_info calendar_planting"></span></div>
                                        </div>
                                        <div class="col-xl-4" style="margin: 0px;padding-left: 10px;">
                                            <div class="mb-3" style="text-align: center;"><label class="form-label" for="" style="text-align: left; padding-left : 20px;"><strong>Expected Harvest Date: </strong></label><span class="calendar_info calendar_harvest" ></span></div>
                                        </div>
                                        <div class="col-xl-4" style="margin: 0px;padding-left: 10px;">
                                            <div class="mb-3" style="text-align: center;"><label class="form-label" for="" style="text-align: left; padding-left : 20px;"><strong>Status: </strong></label><span class="calendar_info calendar_status"></span></div>
                                        </div>
                                    </div>
                                    
                                    <div class="multisteps-form__progress" style="margin-top: 20px;"><a class="btn multisteps-form__progress-btn js-active" role="button" title="User Info">Land Preparation</a><a class="btn multisteps-form__progress-btn" role="button" title="User Info">Sowing</a><a class="btn multisteps-form__progress-btn" role="button" title="User Info">Vegetation&nbsp;</a><a class="btn multisteps-form__progress-btn" role="button" title="User Info">Reproduction</a><a class="btn multisteps-form__progress-btn" role="button" title="User Info">Ripening</a><a class="btn multisteps-form__progress-btn" role="button" title="User Info">Harvest</a></div>
                                    <form id="main-form" class="multisteps-form__form" style="margin-top: 10px;">
                                        <div id="single-form-next" class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn" style="background-color: #212529 !important;">
                                            <h3 class="text-center multisteps-form__title">Land Preparation</h3>
                                            
                                            <div id="form-content-3" class="multisteps-form__content">
                                                <div class="scrollmenu" style="">
                                                    <div class="scrollmenu calendar-wos" id="landprep-wo" style="">
                                                        
                                                    </div>
                                                </div>    
                                            </div>
                                                
                                            {{!-- <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align: left;">Status</th>
                                                        <th>Type</th>
                                                        <th>Start Date</th>
                                                        <th>Complete Date</th>
                                                        <th>Notes</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="table-details" id="land-prep-table">
                                                    <tr class="clickable">
                                                        <td style="text-align: left;">Status</td>
                                                        <td>Type</td>
                                                        <td>Start Date</td>
                                                        <td>Complete Date</td>
                                                        <td>Notes</td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table> --}}
                                            <div id="form-content" class="multisteps-form__content">
                                                <div id="next-button" class="button-row d-flex mt-4"><button class="btn btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button></div>
                                            </div>
                                        </div>
                                        <div id="single-form-next-prev-3" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn" style="background-color: #212529 !important;">
                                            <h3 class="text-center multisteps-form__title">Sowing</h3>
                                            <div id="form-content-3" class="multisteps-form__content">
                                                <div class="scrollmenu" style="">
                                                    <div class="scrollmenu calendar-wos" id="sowing-wo" style="">
                                                        
                                                    </div>
                                                </div>  
                                                <div id="next-prev-buttons-3" class="button-row d-flex mt-4"><button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button><button class="btn btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button></div>
                                            </div>
                                        </div>
                                        <div id="single-form-next-prev-2" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn" style="background-color: #212529 !important;">
                                            <h3 class="text-center multisteps-form__title">Vegetation</h3>
                                            <div id="form-content-3" class="multisteps-form__content">
                                                <div class="scrollmenu" style="">
                                                    
                                                    <div class="scrollmenu calendar-wos" id="vegetation-wo" style="">
                                                        
                                                    </div>
                                                </div>  
                                                <div id="next-prev-buttons-2" class="button-row d-flex mt-4"><button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button><button class="btn btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button></div>
                                            </div>
                                        </div>
                                        <div id="single-form-next-prev-1" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn" style="background-color: #212529 !important;">
                                            <h3 class="text-center multisteps-form__title">Reproduction</h3>
                                            <div id="form-content-2" class="multisteps-form__content">
                                                <div class="scrollmenu" style="">
                                                    <div class="scrollmenu calendar-wos" id="reproduction-wo" style="">
                                                        
                                                    </div>
                                                </div> 
                                                <div id="next-prev-buttons-1" class="button-row d-flex mt-4"><button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button><button class="btn btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button></div>
                                            </div>
                                        </div>
                                        <div id="single-form-next-prev-4" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn" style="background-color: #212529 !important;">
                                            <h3 class="text-center multisteps-form__title">Ripening</h3>
                                            <div id="form-content-5" class="multisteps-form__content">
                                                <div class="scrollmenu" style="">
                                                    <div class="scrollmenu calendar-wos" id="ripening-wo" style="">
                                                        
                                                    </div>
                                                </div> 
                                                <div id="next-prev-buttons-4" class="button-row d-flex mt-4"><button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button><button class="btn btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button></div>
                                            </div>
                                        </div>
                                        <div id="single-form-next-prev" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn" style="background-color: #212529 !important;">
                                            <h3 class="text-center multisteps-form__title">Harvest</h3>
                                            <div id="form-content-1" class="multisteps-form__content">
                                                <div class="scrollmenu" style="">
                                                    <div class="scrollmenu calendar-wos" id="harvest-wo" style="">
                                                        
                                                    </div>
                                                </div> 
                                                <div id="next-prev-buttons" class="button-row d-flex mt-4"><button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6" id="soil_data">
                            <div class="card shadow" style="margin-bottom: 10px;">
                                <div class="card-body" style="height: 320px; max-height: 320px; position: relative">
                                    <h6 class="font-weight-bold m-0" style="color: #584c33;font-size: 20px;">Soil Data</h6>
                                    <div>
                                        {{!-- <canvas data-bss-chart="{&quot;type&quot;:&quot;pie&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Seeds&quot;,&quot;Pesticides&quot;,&quot;Fertilizer&quot;,&quot;Salary&quot;,&quot;Fuel/Electricity&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Data&quot;,&quot;backgroundColor&quot;:[&quot;rgb(255,179,102)&quot;,&quot;rgb(39,121,163)&quot;,&quot;rgb(126,179,59)&quot;,&quot;rgb(255,182,177)&quot;,&quot;rgb(86,197,255)&quot;],&quot;borderColor&quot;:[&quot;rgba(0,0,0,0.1)&quot;,&quot;rgba(0,0,0,0.1)&quot;,&quot;rgba(0,0,0,0.1)&quot;,&quot;rgba(0,0,0,0.1)&quot;,&quot;rgba(0,0,0,0.1)&quot;],&quot;data&quot;:[&quot;2000&quot;,&quot;3000&quot;,&quot;3000&quot;,&quot;5000&quot;,&quot;6000&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:true,&quot;labels&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;},&quot;position&quot;:&quot;bottom&quot;,&quot;reverse&quot;:false},&quot;title&quot;:{&quot;fontStyle&quot;:&quot;bold&quot;,&quot;display&quot;:true,&quot;text&quot;:&quot;Total Consumption of the Farm&quot;,&quot;position&quot;:&quot;top&quot;}}}">
                                        </canvas> --}}
                                        <ul class="list-group" style="margin-top: 20px;">
                                            <li class="list-group-item"><span>Soil Texture</span><span class="float-end" id="soil_texture"></span></li>
                                            <li class="list-group-item"><span>pH Lvl</span><span class="float-end" id="ph_lvl">0.00 {{detailed_data.pH_lvl}}</span></li>
                                            <li class="list-group-item"><span>N</span><span class="float-end" id="n_lvl">0.00 {{detailed_data.n_val}}</span></li>
                                            <li class="list-group-item"><span>P205</span><span class="float-end" id="p_lvl">0.00 {{detailed_data.p_val}}</span></li>
                                            <li class="list-group-item"><span>K20</span><span class="float-end" id="k_lvl">0.00 {{detailed_data.k_val}}</span></li>
                                        </ul>
                                    </div>
                                    <div></div>
                                    <button class="btn btn-primary float-right" type="button" style="border-radius: 20px;padding: 2px 10px;background: #EDD172;border-style: none;color: rgb(94,83,61);position: absolute; bottom: 10px; right: 10px" id="soil-data-btn" href="/nutrient_management">View more</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6" style="">
                            <div class="card shadow" style="margin-bottom: 10px;">
                                <div class="card-body" style="height: 320px; max-height: 320px; position: relative">
                                    <h6 class="font-weight-bold m-0" style="color: #584c33;font-size: 20px;">Pest and Diseases</h6>
                                    {{!-- <div><canvas data-bss-chart="{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;Land Prep&quot;,&quot;Sowing&quot;,&quot;Vegetation&quot;,&quot;Reproduction&quot;,&quot;Ripening&quot;,&quot;Harvest&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Pest&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;1&quot;,&quot;2&quot;,&quot;1&quot;,&quot;1&quot;,&quot;1&quot;,&quot;1&quot;]},{&quot;label&quot;:&quot;Disease&quot;,&quot;backgroundColor&quot;:&quot;rgb(255,179,102)&quot;,&quot;borderColor&quot;:&quot;rgb(255,179,102)&quot;,&quot;data&quot;:[&quot;1&quot;,&quot;1&quot;,&quot;1&quot;,&quot;1&quot;,&quot;1&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:true,&quot;labels&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;},&quot;position&quot;:&quot;bottom&quot;},&quot;title&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;,&quot;display&quot;:true,&quot;text&quot;:&quot;Pest and Disesase Occurence in the Farm&quot;},&quot;scales&quot;:{&quot;xAxes&quot;:[{&quot;gridLines&quot;:{&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:true,&quot;drawOnChartArea&quot;:true},&quot;ticks&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;,&quot;beginAtZero&quot;:true}}],&quot;yAxes&quot;:[{&quot;gridLines&quot;:{&quot;drawBorder&quot;:false,&quot;drawTicks&quot;:true},&quot;ticks&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;,&quot;beginAtZero&quot;:true}}]}}}"></canvas></div><button class="btn btn-primary float-right" type="button" style="border-radius: 20px;padding: 2px 10px;background: #EDD172;border-style: none;color: rgb(94,83,61);margin-top: 15px;">View more</button> --}}
                                    <div class="d-block d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-top: 10px;">
                                        {{!-- <div style="dispaly: absolute; width :100px; bottom: 100%;">LOW RANGE</div> --}}
                                        <i class="fa fa-circle d-xl-flex" style="color: rgb(214, 204, 19);" title="0% - 35%"></i>
                                            <span class="d-xl-flex align-items-xl-center" style="font-size: 14px;color: rgb(3,52,97);margin-left: 5px;" title="0% - 35%">Low</span>
                                        <i class="fa fa-circle d-xl-flex" style="color: rgb(214, 134, 19);margin-left: 10px;" title="36% - 65%"></i>
                                            <span class="d-xl-flex align-items-xl-center" style="font-size: 14px;color: rgb(3,52,97);margin-left: 5px;" title="36% - 65%">Medium</span>
                                        <i class="fa fa-circle d-xl-flex" style="color: rgb(214, 30, 19);margin-left: 10px;" title="66% - 100%"></i>
                                            <span class="d-xl-flex align-items-xl-center" style="font-size: 14px;color: rgb(3,52,97);margin-left: 5px;" title="66% - 100%">High</span>
                                    </div>
                                    <div class="table-responsive" style="margin-top: 20px; max-height: 208px; overflow-y:auto !important">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: left;">Name</th>
                                                    <th>Type</th>
                                                    <th>Probability</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-details" id="probability_table">
                                                {{#each probability}}
                                                    <tr class="clickable">
                                                        <td style="text-align: left;">{{this.pd_name}}</td>
                                                        <td>{{this.type}}</td>
                                                        <td class="probability_value">{{this.probability}}</td>
                                                    </tr>
                                                {{/each}}

                                            </tbody>
                                        </table>
                                    </div>
                                    <button class="btn btn-primary float-right" type="button" style="border-radius: 20px;padding: 2px 10px;background: #EDD172;border-style: none;color: rgb(94,83,61);position: absolute; bottom: 10px; right: 10px" id="view_more_pd" href="/pest_and_disease/frequency">View more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="card shadow mb-4" style="margin-bottom: 10px;">
                                <div class="card-body">
                                    <h6 class="font-weight-bold m-0" style="color: #584c33;font-size: 20px;">Recommendations</h6>

                                    <div class="table-responsive" style="bottom: 20px; margin-top: 20px; height: 400px; overflow-y:auto !important;">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th colspan="2">Type</th>
                                                    <th colspan="3">Description</th>
                                                    <th colspan="4" style="text-align: left;">Recommendation</th>
                                                    <th colspan="1" class="text-center">WO Generated?</th>
                                                </tr>
                                            </thead>
                                            <tbody class="table-details" id="recommendation_table" style="overflow: auto">
                                                <!-- <tr class="clickable">
                                                    <td colspan="3">Pest/Disease</td>
                                                    <td class="" colspan="9" style="text-align: left;">Remove weeds found on the farm</td>
                                                </tr>
                                                <tr class="clickable">
                                                    <td colspan="3">Pest/Disease</td>
                                                    <td class="" colspan="9" style="text-align: left;">Remove weeds found on the farm</td>
                                                </tr>
                                                <tr class="clickable">
                                                    <td colspan="3">Pest/Disease</td>
                                                    <td class="" colspan="9" style="text-align: left;">Remove weeds found on the farm</td>
                                                </tr>
                                                <tr class="clickable">
                                                    <td colspan="3">Pest/Disease</td>
                                                    <td class="" colspan="9" style="text-align: left;">Remove weeds found on the farm</td>
                                                </tr> -->

                                                <script id="template" type="text/x-handlebars-template">
                                                  {{#each disasters}}
                                                  
                                                <tr class="clickable">
                                                    <td colspan="2" class="text-left">Disaster Warning</td>
                                                    <td colspan="3" class="text-left">{{this.description}}</td>
                                                    <td colspan="4" class="text-left">
                                                        {{#each this.recommendation}}
                                                        {{this}}
                                                        {{/each}}
                                                    </td>
                                                    <td colspan="1" class="text-center">N/A</td>
                                                </tr>
                                                {{/each}}

                                                {{#each nutrients}}
                                                <tr class="clickable">
                                                    <td colspan="2" class="text-left">Nutrient Recommendation</td>
                                                    <td colspan="3" class="text-left">Recommended {{this.description}}</td>
                                                    <td colspan="4" class="text-left">
                                                        Apply {{this.amount}} bags of {{this.fertilizer_name}} on {{this.target_application_date}}
                                                    </td>
                                                    <td colspan="1" class="text-center">
                                                        {{#if this.isCreated}}
                                                        Yes
                                                        {{else}}
                                                        No
                                                        {{/if}}
                                                    </td>
                                                </tr>
                                                {{/each}}  
                                                </script>                                                                                   
                                            </tbody>
                                        </table>
                                    </div>
                                    <button class="btn btn-primary float-right" type="button" style="border-radius: 20px;padding: 2px 10px;background: #EDD172;border-style: none;color: rgb(94,83,61);position: absolute; bottom: 10px; right: 10px;" id="view_more_pd" href="/farms">Create Work Order</button>
                                    {{!-- <h6 class="font-weight-bold m-0" style="color: #584c33;font-size: 20px;">Farm Resources</h6>
                                    <div class="row space-rows" style="margin-top: 20px;margin-right: 0px;margin-bottom: 0px;margin-left: 0px;">
                                        <div class="col" style="padding: 0px;margin-right: 10px;">
                                            <div class="card cards-shadown cards-hover" data-aos="flip-left" data-aos-duration="950">
                                                <div class="card-body">
                                                    <h6 class="font-weight-bold" style="color: #332C1F;font-size: 16px;text-align: center;margin-bottom: 5px;border-style: none;border-color: #D6CD41;background: #D6CD41;">Seed</h6>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center" style="padding: 2px;width: 170px;">Type</th>
                                                                    <th class="text-center" style="padding: 2px;width: 170px;">Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="table-details" id="seed-table">
                                                                {{#each seed}}
                                                                    <tr style="min-height: 50px;">
                                                                        <td class="text-center" style="padding: 2px;">{{this.item_name}}</td>
                                                                        <td style="padding: 2px;text-align: center;">{{this.current_amount}} <i class="fa fa-warning" data-toggle="tooltip" data-bss-tooltip="" style="margin-left: 5px;color: var(--orange);" title="Low in Stock. Replenish now."></i>&nbsp;</td>
                                                                    </tr>
                                                                {{/each}}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col" style="padding: 0px;margin-right: 10px;">
                                            <div class="card cards-shadown cards-hover" data-aos="slide-right" data-aos-duration="950">
                                                <div class="card-body">
                                                    <h6 class="font-weight-bold" style="color: #332C1F;font-size: 16px;text-align: center;margin-bottom: 5px;border-style: none;border-color: #D6CD41;background: #D6CD41;">Fertilizer</h6>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center" style="padding: 2px;width: 170px;">Type</th>
                                                                    <th class="text-center" style="padding: 2px;width: 170px;">Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="table-details" id="fertilizer-table">
                                                                {{#each fertilizer}}
                                                                    <tr style="min-height: 50px;">
                                                                        <td class="text-center" style="padding: 2px;">{{this.item_name}}</td>
                                                                        <td style="padding: 2px;text-align: center;">{{this.current_amount}} <i class="fa fa-warning" data-toggle="tooltip" data-bss-tooltip="" style="margin-left: 5px;color: var(--orange);" title="Low in Stock. Replenish now."></i>&nbsp;</td>
                                                                    </tr>
                                                                {{/each}}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col" style="padding: 0px;">
                                            <div class="card cards-shadown cards-hover" data-aos="flip-up" data-aos-duration="950">
                                                <div class="card-body">
                                                    <h6 class="font-weight-bold" style="color: #332C1F;font-size: 16px;text-align: center;margin-bottom: 5px;border-style: none;border-color: #D6CD41;background: #D6CD41;">Pesticide</h6>
                                                    <div class="table-responsive">
                                                        <table class="table">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center" style="padding: 2px;width: 170px;">Type</th>
                                                                    <th class="text-center" style="padding: 2px;width: 170px;">Amount</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody class="table-details" id="pesticide-table">
                                                                {{#each pesticide}}
                                                                    <tr style="min-height: 50px;">
                                                                        <td class="text-center" style="padding: 2px;">{{this.item_name}}</td>
                                                                        <td style="padding: 2px;text-align: center;">{{this.current_amount}} <i class="fa fa-warning" data-toggle="tooltip" data-bss-tooltip="" style="margin-left: 5px;color: var(--orange);" title="Low in Stock. Replenish now."></i>&nbsp;</td>
                                                                    </tr>
                                                                {{/each}}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center" style="margin-top: 5px;"><span class="mr-2"><i class="fa fa-warning" style="color: var(--orange);"></i>&nbsp;Low Stock</span></div><button href="/farm_resources" id="vmore_resources" class="btn btn-primary float-right" type="button" style="border-radius: 20px;padding: 2px 10px;background: #EDD172;border-style: none;color: rgb(94,83,61);margin-top: 15px;">View more</button> --}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input hidden id="default_farm_id" value="{{farm_id}}">
<script>
    var view = 'farm_monitoring';
    var type = 'Weather';
    var selected_farm_id = $("#default_farm_id").val();
    var bawal_galawin_na_view = 'farm_monitoring';
    console.log(view);
</script>

<div class="loader" style="visibility : visible;"></div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>