<style>
    table td, th {
        color:#332C1F;
    } 

    label {
        color: #332C1F;
    }

    h4.card-title {
        font-weight: bold;
    }
</style>

<div class="container-fluid">
 <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Material Management > Inventory</h3><a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
                    </div>
    {{!-- <div class="row" style="padding: 0px 12px;">
        <div class="col-xxl-7">
            <div class="table-responsive" style="border-style: none;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Mon</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-showers-heavy justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Tue</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-meatball justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Wed</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Thu</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-poo-storm justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Fri</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Sat</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Sun</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Mon</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-showers-heavy justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div> --}}


    <div class="row" style="padding: 0px 12px;">
        <div class="col-xxl-9">
            {{!-- <label class="form-label d-xxl-flex justify-content-xxl-start" for="username" style="color: #332c1f;"><strong>All Farms</strong></label> --}}
            
                <div class="card shadow mb-4">
                <div class="card-header" style="height: auto;background: rgba(255,165,0,0);">
                    <a class="btn btn-primary btn-sm d-flex float-end" role="button" style="background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px; font-size: 12px; margin-top: 4px" data-toggle="modal" data-target="#addMaterialModal"><span>Add New Item<i class="fa fa-plus-circle" style="margin-left: 5px;"></i></span></a>
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item"><a id="all_farms" class="nav-link materials_tab active" href="#" style="background: #F0F0F0;">All</a></li>
                        <li class="nav-item"><a id="per_farm" class="nav-link materials_tab" href="#">Farms</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div id="all_farm_materials" >
                        {{!-- <div class="row table-topper align-items-center">
                            <div class="col-4 text-start" style="margin: 0px;padding: 5px 15px;"><button class="btn btn-primary btn-sm reset" type="button" style="padding: 5px;margin: 2px;">Reset Filters</button><button class="btn btn-warning btn-sm" id="zoom_in" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-plus"></i></button><button class="btn btn-warning btn-sm" id="zoom_out" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-minus"></i></button></div>
                            <div class="col-4 text-center" style="margin: 0px;padding: 5px 10px;">
                                <h6 id="counter">Showing: <strong id="rowCount">ALL</strong>&nbsp;Row(s)</h6>
                            </div>
                            <div class="col-4 text-end" style="margin: 0px;padding: 5px 10px;"><a href="#" data-bs-toggle="modal" data-bs-target="#tablehelpModal"><i class="fa fa-question-circle" title="Custom Sort Details" aria-hidden="true" style="padding: 5px 15px;margin: 2px;" data-bs-toggle="tooltip" data-bs-placement="top"></i></a></div>
                        </div> --}}
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <table class="table table-striped table-bordered tablesorter" id="ipi-table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Farm</th>
                                                <th>Name</th>
                                                <th>Material type</th>
                                                <th>stock level</th>
                                                <th>unit</th>
                                                {{!-- <th></th> --}}
                                            </tr>
                                        </thead>
                                        <tbody id="materials_table">
                                                {{#each materials}}
                                                    <tr class="">
                                                        <td>{{this.farm_name}}</td>
                                                        <td>{{this.item_name}}</td>
                                                        <td>{{this.item_type}}</td>
                                                        <td>{{this.current_amount}}</td>
                                                        <td>{{this.units}}</td>
                                                        {{!-- <td>{{#if blank}}{{else}}<i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;">{{/if}}</i></td> --}}
                                                    </tr>
                                                {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- <nav class="float-right">
                                  <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                     <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                                        </ul>
                                                    </nav> --}}
                            </div>
                              
                        </div>
                    </div>
                    </div>

                <div id="per_farm_materials" hidden>
                    {{#each farms}}
                        <div class="row farm_inventory aos-init" data-aos="flip-up" data-aos-duration="450" style="margin: 1rem 1rem; color:#332C1F">
                            <div class="col-xl-3" style="padding: 2rem;">
                                <div class="">
                                    <div class="">
                                        <h4 class="card-title">{{this.farm_name}}</h4>
                                        <p class="">{{this.farm_desc}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col" style="padding: 1rem;">
                                <div class="table-responsive" style="height: 200px;">
                                    <table class="table" style="width : 100%">
                                        <thead style="">
                                            <tr>
                                                <th>Name</th>
                                                <th>Material Type</th>
                                                <th>Stock Level</th>
                                                <th>Units</th>
                                            </tr>
                                        </thead>
                                        <tbody style="overflow: auto">
                                            {{#each this.farm_materials}}
                                                <tr>
                                                    <td>{{this.item_name}}</td>
                                                    <td>{{this.item_type}}</td>
                                                    <td>{{this.current_amount}}</td>
                                                    <td>{{this.units}}</td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    {{!-- <div class="row farm_inventory aos-init" data-aos="flip-up" data-aos-duration="450" style="margin: 1rem 1rem; ">
                        <div class="col-xl-3" style="padding: 2rem;">
                            <div class="" >
                                <div class="">
                                    <h4 class="card-title">Farm Name</h4>
                                    <p class="">Farm Description </p>
                                </div>
                            </div>
                        </div>
                        <div class="col" style="padding: 1rem;">
                            <div class="table-responsive" style="height: 200px;">
                                <table class="table" style="width : 100%">
                                    <thead style="">
                                        <tr>
                                            <th>Name</th>
                                            <th>Material Type</th>
                                            <th>Stock Level</th>
                                            <th>Units</th>
                                        </tr>
                                    </thead>
                                    <tbody style="overflow: auto">
                                        
                                        <tr>
                                            <td>Cell 1</td>
                                            <td>Cell 2</td>
                                            <td>Cell 3</td>
                                            <td>Cell 3</td>
                                        </tr>
                                        <tr>
                                            <td>Cell 3</td>
                                            <td>Cell 4</td>
                                            <td>Cell 3</td>
                                            <td>Cell 3</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> --}}
                </div>
                
            </div>
            
        </div>
        <div class="col" style="padding-top: 0px;">
            <div class="card shadow mb-4">
                {{!-- <div class="card-header " style="height: auto;background: rgba(255,165,0,0);">
                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Low Stocks</h6>
                </div> --}}
                <div class="card-header py-3" style="background: #939C1F;padding: 16px 20px;height: auto;">
                    <p class="m-0 font-weight-bold" style="color: rgb(255,255,255);">Low Stocks</p>
                </div>
                <div class="card-body" style="padding: 10px; height : 565px; overflow-x : hidden; overflow-y : auto">
                    {{#each low_stocks}}
                        <div class="card " style="border-color: rgb(78,79,85);margin-bottom: 10px; padding-left :20px;padding-right :20px;" href="">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3"><label class="form-label">{{this.item_name}}</label></div>
                                </div>
                                <div class="col">
                                    <div class="mb-3 text-right"><label class="form-label">{{this.current_amount}} {{this.units}}</label></div>
                                    <div class="mb-3 text-right"><label class="form-label">{{this.farm_name}}</label></div>
                                </div>
                            </div>
                        </div>
                    {{else}}
                    <div class="card " style="border-color: rgb(78,79,85);margin-bottom: 10px; padding-left :20px;padding-right :20px;" href="">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3 text-center"><label class="form-label">No low stock materials</label></div>
                                </div>
                            </div>
                        </div>

                    {{/each}}
                        
                </div>
                
            </div>
        </div>
    </div>

    
    {{!-- <div class="row" style="padding: 0 12px; margin-top: 1rem">
        <div class="col-xxl-9"><label class="form-label d-xxl-flex justify-content-xxl-start" for="username" style="color: #332c1f;"><strong>Farm Inventory</strong></label>
            
        </div>
    </div>
    <div class="row" style="padding: 0px 12px; margin-top : 2rem;">
    </div> --}}
</div>

<div class="modal fade" id="addMaterialModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content" style="color: #332c1f;">
            <div class="modal-header" ><h4 class="modal-title">Add New Item</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
            <div class="card-body" id="step1_add" >
                <form id="new_mat_form" action="/addMaterial" method="post">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label" for="username"><strong>Name</strong><br /></label><input class="form-control" type="text" placeholder="name" id="item_name" name="item_name" form="new_mat_form"/></div>
                        </div>
                        <div class="col">
                            <div class="mb-3"><label class="form-label" for="username"><strong>Type</strong><br /></label>
                                <div class="dropdown">
                                    <select class="form-select" id="item_type" name="item_type" form="new_mat_form">
                                        <option value="Seed" selected>Seed</option>
                                        <option value="Pesticide">Pesticide</option>
                                        <option value="Fertilizer">Fertilizer</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label" for="first_name"><strong>Description</strong><br /></label><input class="form-control" type="text" placeholder="description" id="item_desc" name="item_desc" form="new_mat_form" /></div>
                        </div>
                    </div>
                </form>
                    <div class="mb-3"><button class="btn btn-primary btn-sm add-material-btn" style="float : right" id="step1">Next</button></div>
                
            </div>
            <div class="card-body" id="step2_add" style="display : none">
                    <div class="row">
                        <div class="col">
                            <h4 style="color: #332c1f;">Review</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label" for="username"><strong>Name</strong><br /></label></div><label class="form-label" id="review_name">Label</label>
                        </div>
                        <div class="col">
                            <div class="mb-3"><label class="form-label" for="username"><strong>Type</strong><br /></label></div><label class="form-label" id="review_type">Label</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label" for="first_name"><strong>Description</strong><br /></label>
                                <p id="review_desc"></p>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3"><button class="btn btn-primary btn-sm add-material-btn" style="float : right; margin-left: 10px;" id="step2" type="submit" form="new_mat_form">Add Item</button><button class="btn round btn-secondary btn-sm add-material-btn" style=" float:right; width: auto; border-radius : 20px;" id="back" form="">Back</button></div>
            </div>

        </div>
        <div style="text-align:center;margin-top:10px;padding-bottom:10px">
                        <span class="step active" id="step1_status"></span>
                        <span class="step " id="step2_status"></span>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div>
{{!-- <div class="modal fade" id="addMaterialModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
            <div class="modal-header" ><h4 class="modal-title">Modal Header</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
            <div class="card-body" id="step1_add">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label" for="username"><strong>Name</strong><br /></label><input id="first_name-2" class="form-control" type="text" placeholder="name" name="first_name" /></div>
                        </div>
                        <div class="col">
                            <div class="mb-3"><label class="form-label" for="username"><strong>Type</strong><br /></label>
                                <div class="dropdown"><button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="height: 38px;width: 154.188px;color: var(--bs-gray-800);background: var(--bs-gray-400);">Type </button>
                                    <div class="dropdown-menu"><a class="dropdown-item new_type">Pest</a><a class="dropdown-item new_type">Disease</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"><label class="form-label" for="first_name"><strong>Description</strong><br /></label><input id="first_name-1" class="form-control" type="text" placeholder="description" name="first_name" /></div>
                        </div>
                    </div>
                    <div class="mb-3"><button class="btn btn-primary btn-sm add-material-btn" style="float : right" id="step1">Next</button></div>
                
            </div>
            <div class="card-body" id="step2_add" style="display : none">
                    <div class="row">
                        <div class="col">
                            <h4>Symptoms</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="max-height: 500px; overflow-y : auto; overflow-x: hidden; padding 10px; margin: 10px;">
                            {{#each symptoms}}
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-check"><input id="formCheck-2" class="form-check-input symptom-checkbox" type="checkbox" value="{{this.symptom_id}}"><label class="form-check-label font-weight-bold" for="formCheck-2">{{this.symptom_name}}</label></div>
                                        <p style="margin-left: 80px;margin-bottom: 10px;">{{this.symptom_desc}}</p>
                                    </div>
                                </div>
                            {{/each}}
                            <div class="row">
                                <div class="col-xl-10">
                                    <div class="form-check"><input id="formCheck-3" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-3"><input class="form-control" type="text" style="height: 25px;" /></label></div><div style="display: flex;"><textarea class="form-control" style="margin-top: 10px;width: 85%;margin-left: 77px; resize: none;" wrap="hard"></textarea><input type="button" class="btn btn-primary btn-sm " style="margin: 20px; height: 30px; border-radius: 100%;" value="+"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3"><button class="btn btn-primary btn-sm add-material-btn" style="float : right" id="step2">Next</button></div>
            </div>
            <div class="card-body" id="step3_add" style="display : none">
                    <div class="row">
                        <div class="col">
                            <h4>Factors</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="max-height: 500px; overflow-y : auto; overflow-x: hidden; padding 10px; margin: 10px;">
                            {{#each factors}}
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-check"><input id="formCheck-2" class="form-check-input symptom-checkbox" type="checkbox" value="{{this.factor_id}}"><label class="form-check-label font-weight-bold" for="formCheck-2">{{this.factor_name}}</label></div>
                                        <p style="margin-left: 80px;margin-bottom: 10px;">{{this.description}}</p>
                                    </div>
                                </div>
                            {{/each}}
                            <div class="row">
                                <div class="col-xl-10">
                                    <div class="form-check"><input id="formCheck-3" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-3"><input class="form-control" type="text" style="height: 25px;" /></label></div><div style="display: flex;"><textarea class="form-control" style="margin-top: 10px;width: 85%;margin-left: 77px; resize: none;" wrap="hard"></textarea><input type="button" class="btn btn-primary btn-sm " style="margin: 20px; height: 30px; border-radius: 100%;" value="+"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3"><button class="btn btn-primary btn-sm add-material-btn" style="float : right" id="step3">Next</button></div>
            </div>
            <div class="card-body" id="step4_add" style="display : none">
                    <div class="row">
                        <div class="col">
                            <h4>Prevention</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="max-height: 500px; overflow-y : auto; overflow-x: hidden; padding 10px; margin: 10px;">
                            {{#each preventions}}
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-check"><input id="formCheck-2" class="form-check-input symptom-checkbox" type="checkbox" value="{{this.prevention_id}}"><label class="form-check-label font-weight-bold" for="formCheck-2">{{this.prevention_name}}</label></div>
                                        <p style="margin-left: 80px;margin-bottom: 10px;">{{this.prevention_desc}}</p>
                                    </div>
                                </div>
                            {{/each}}
                            <div class="row">
                                <div class="col-xl-10">
                                    <div class="form-check"><input id="formCheck-3" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-3"><input class="form-control" type="text" style="height: 25px;" /></label></div><div style="display: flex;"><textarea class="form-control" style="margin-top: 10px;width: 85%;margin-left: 77px; resize: none;" wrap="hard"></textarea><input type="button" class="btn btn-primary btn-sm " style="margin: 20px; height: 30px; border-radius: 100%;" value="+"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3"><button class="btn btn-primary btn-sm add-material-btn" style="float : right" id="step4">Next</button></div>
            </div>
            <div class="card-body" id="step5_add" style="display : none">
                    <div class="row">
                        <div class="col">
                            <h4>Solution</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="max-height: 500px; overflow-y : auto; overflow-x: hidden; padding 10px; margin: 10px;">
                            {{#each solutions}}
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="form-check"><input id="formCheck-2" class="form-check-input symptom-checkbox" type="checkbox" value="{{this.solution_id}}"><label class="form-check-label font-weight-bold" for="formCheck-2">{{this.solution_name}}</label></div>
                                        <p style="margin-left: 80px;margin-bottom: 10px;">{{this.solution_desc}}</p>
                                    </div>
                                </div>
                            {{/each}}
                            <div class="row">
                                <div class="col-xl-10">
                                    <div class="form-check"><input id="formCheck-3" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-3"><input class="form-control" type="text" style="height: 25px;" /></label></div><div style="display: flex;"><textarea class="form-control" style="margin-top: 10px;width: 85%;margin-left: 77px; resize: none;" wrap="hard"></textarea><input type="button" class="btn btn-primary btn-sm " style="margin: 20px; height: 30px; border-radius: 100%;" value="+"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3"><button class="btn btn-primary btn-sm add-material-btn" style="float : right" id="step5">Next</button></div>
            </div>
            <div class="card-body" id="step6_add" style="display : none">
                    <div class="row">
                        <div class="col">
                            <h4>Review</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="max-height: 500px; overflow-y : auto; overflow-x: hidden; padding 10px; margin: 10px;">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-check"><input id="formCheck-2" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-2">Label</label></div>
                                    <p style="margin-left: 80px;margin-bottom: 10px;">Lorem ipsum dkjsafh kajd nvioklcnviorn ouherglkanfga. asdhf lk uherioug ijfowi fowinvfoieahrn oeuigoarhaerfgar</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-check"><input id="formCheck-2" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-2">Label</label></div>
                                    <p style="margin-left: 80px;margin-bottom: 10px;">Lorem ipsum dkjsafh kajd nvioklcnviorn ouherglkanfga. asdhf lk uherioug ijfowi fowinvfoieahrn oeuigoarhaerfgar</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-check"><input id="formCheck-2" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-2">Label</label></div>
                                    <p style="margin-left: 80px;margin-bottom: 10px;">Lorem ipsum dkjsafh kajd nvioklcnviorn ouherglkanfga. asdhf lk uherioug ijfowi fowinvfoieahrn oeuigoarhaerfgar</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-check"><input id="formCheck-2" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-2">Label</label></div>
                                    <p style="margin-left: 80px;margin-bottom: 10px;">Lorem ipsum dkjsafh kajd nvioklcnviorn ouherglkanfga. asdhf lk uherioug ijfowi fowinvfoieahrn oeuigoarhaerfgar</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-check"><input id="formCheck-2" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-2">Label</label></div>
                                    <p style="margin-left: 80px;margin-bottom: 10px;">Lorem ipsum dkjsafh kajd nvioklcnviorn ouherglkanfga. asdhf lk uherioug ijfowi fowinvfoieahrn oeuigoarhaerfgar</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="form-check"><input id="formCheck-2" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-2">Label</label></div>
                                    <p style="margin-left: 80px;margin-bottom: 10px;">Lorem ipsum dkjsafh kajd nvioklcnviorn ouherglkanfga. asdhf lk uherioug ijfowi fowinvfoieahrn oeuigoarhaerfgar</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-10">
                                    <div class="form-check"><input id="formCheck-3" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-3"><input class="form-control" type="text" style="height: 25px;" /></label></div><div style="display: flex;"><textarea class="form-control" style="margin-top: 10px;width: 85%;margin-left: 77px; resize: none;" wrap="hard"></textarea><input type="button" class="btn btn-primary btn-sm " style="margin: 20px; height: 30px; border-radius: 100%;" value="+"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3"><button class="btn btn-primary btn-sm add-material-btn" style="float : right" id="step6">Next</button></div>
                </form>
            </div>

        </div>
        <div style="text-align:center;margin-top:10px;padding-bottom:10px">
                        <span class="step active" id="step1_status"></span>
                        <span class="step " id="step2_status"></span>
                        <span class="step" id="step3_status"></span>
                        <span class="step" id="step4_status"></span>
                        <span class="step" id="step5_status"></span>
                        <span class="step" id="step6_status"></span>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div> --}}

<script>
    var view = 'inventory';
</script>