<div class="container-fluid">

    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">{{title}}</h3><a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
    </div>

    <div class="row">

        <div class="col-lg-12 col-xl-12 col-xxl-12">

            <div class="card shadow mb-4"  style="max-width: 1150px; margin: 0px auto;">
              <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;color: #ffffff; height:auto">
                <ul class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                    <li class="nav-item"><a id="active-subscriptions-tab" class="nav-link " data-toggle="tab" href="#default"role="tab" aria-controls="activeUsers" aria-selected="false" 
                        style="background: #F0F0F0;">Default</a></li>
                    <li class="nav-item"><a id="active-subscriptions-tab" class="nav-link active" data-toggle="tab" href="#manage_reco"role="tab" aria-controls="activeEmployees" aria-selected="true" 
                    style="background: #F0F0F0;">Manage Recommendations</a></li>
                    <li class="nav-item"><a id="active-subscriptions-tab" class="nav-link" data-toggle="tab" href="#define_reco"role="tab" aria-controls="activeEmployees" aria-selected="false" 
                    style="background: #F0F0F0;">Define Recommendations</a></li>
                </ul>
              </div>

              <div class="card-body">
                {{!-- TAB CONTENT --}}
                <div class="tab-content" id="nav-tabContent">
                  {{!-- TAB 1 --}}
                  <div class="tab-pane fade " id="default" role="tabpanel" aria-labelledby="active-users-tab">
                      <div class="text-dark" id="">
                        Explain default nutrient recommendation here...
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>
                  </div>

                  {{!-- END OF TAB 1 --}}

                  {{!-- TAB 2 --}}
                  <div class="tab-pane show active" id="manage_reco" role="tabpanel" aria-labelledby="inactive-users-tab">
                      <div class="text-dark">
                          {{#each cnr_plans}}
                            <div class="form-row" name="item{{@index}}">
                              <div id="" name="manage_reco_name_cont{{@index}}">
                                <div class="form-group">
                                  <label class="ml-1" for="reco_name">Custom Recommendation Name</label>
                                  <input type="text" class="form-control" id="manage_reco_name{{@index}}" name="manage_reco_name{{@index}}" max="20" placeholder="Custom name..." required style="width: 350px;" disabled value="{{this.cnr_name}}">
                                </div>
                              </div>
                                
                              <div class="form-group mx-3">
                                <label class="ml-1" for="farm_filter">Farms</label>
                                <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" 
                                          id="dropdownMenu1" data-toggle="dropdown" 
                                          aria-haspopup="true" aria-expanded="false">
                                    Farms...
                                  </button>
                                  <ul class="dropdown-menu checkbox-menu allow-focus farm_dropdown" aria-labelledby="dropdownMenu1">
                                    {{#if ../farm_list.lowland}}
                                      <h6 class="dropdown-header">Lowland</h6>
                                      {{#each ../farm_list.lowland}}
                                        <li >
                                          <label>
                                            
                                            <input type="checkbox" name="manage_farm_filter{{@../index}}" value="{{this.farm_id}}" {{#each ../this.farms}} {{#compareTwoValues this ../this.farm_id operator='==='}} checked{{/compareTwoValues}} {{/each}} disabled>{{this.farm_name}}
                                          </label>
                                        </li>
                                      {{/each}}
                                    {{else}}

                                    {{/if}}

                                    {{#if ../farm_list.upland}}
                                      <h6 class="dropdown-header">Upland</h6>
                                      {{#each ../farm_list.upland}}
                                        <li >
                                          <label>
                                            <input type="checkbox" name="manage_farm_filter{{@../index}}" value="{{this.farm_id}}" {{#each ../this.farms}} {{#compareTwoValues this ../this.farm_id operator='==='}} checked{{/compareTwoValues}} {{/each}} disabled>{{this.farm_name}}
                                          </label>
                                        </li>
                                      {{/each}}
                                    {{else}}

                                    {{/if}}
                                  </ul>
                                </div>
                              </div>
                              <div class="form-group ml-auto mr-3">
                                <button type="button" class="float-right btn btn-primary mt-4" name="manage_btn_edit" value="{{@index}}">Edit</button>
                                <div class="edit_action_cont hide mt-4">
                                  
                                  <button type="button" class="float-right btn btn-primary" name="manage_btn_save" value="{{@index}}">Save</button>
                                  <button type="button" class="float-right btn btn-danger mr-2" name="manage_btn_cancel">Cancel</button>
                                </div>
                              </div>
                              
                            </div>

                            <table class="table w-100" id="manage_table{{@index}}" name="item{{@index}}">
                              <tr>
                                <th class="text-center">Application Date</th>
                                <th class="text-center">Fertilizer</th>
                                <th class="w-100">Amount Calculation</th>
                                <th><button type="button" class="float-right btn btn-primary hide" name="manage_btn_add">Add Item</button></th>
                              </tr>
                              {{#each this.items}}
                                <tr>
                                  <td style="width:  180px;">
                                    <div class="d-flex">
                                      <label class="col-form-label">DAT</label>
                                      <div class="ml-3">
                                        <input type="number" class="form-control" id="dat" name="dat" placeholder="0" minlength="0" style="width: 120px !important;" value="{{this.dat}}" disabled>
                                      </div>
                                    </div>

                                  </td>
                                  <td>
                                    <div class="">
                                      <select class="form-control" id="manage_fertilizer" name="manage_fertilizer" required style="width: min-content;">
                                        {{#each ../../fertilizers.obj}}
                                        <option value="{{this.id}}"  {{#compareTwoValues ../this.fertilizer_id this.id operator='==='}} selected{{/compareTwoValues}} disabled>{{this.name}}</option>
                                        {{/each}}
                                      </select>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="d-flex mt-2 h-100">
                                      {{#if this.amount_equation.ele}}
                                      <div id="manage_formula_container{{@../index}}" class="h-100 d-flex formula_cont">
                                        <div class="formula_item">=</div>
                                        {{{this.amount_equation.ele}}}
                                        
                                      </div>
                                      {{/if}}
                                      
                                      <div class="ml-auto">
                                        <div class="nav-item dropdown no-arrow btn-dropdown hide" style="" id="action_menu">
                                          <button type="button" class="btn btn-dark dropdown-toggle item_dropdown" aria-expanded="true" data-toggle="dropdown" style="" id="">
                                            <span class="d-none d-lg-inline me-2 small formula_menu_span" style="">Formula Menu</span>
                                          </button>
                          
                                          <div class="dropdown-menu notSidebar formula-menu" style="width: fit-content;" aria-describedby="plan{{@../index}}" aria-labelledby="manage_menu" value="{{@../index}}">
                                            <h6 class="dropdown-header">Operands</h6>
                                            <a class="dropdown-item notSidebar" href="#" name="menu_add" value="1">Add</a>
                                            <a class="dropdown-item notSidebar" href="#" name="menu_subtract" value="2">Subtract</a>
                                            <a class="dropdown-item notSidebar" href="#" name="menu_multiply" value="3">Multiply</a>
                                            <a class="dropdown-item notSidebar" href="#" name="menu_divide" value="4">Divide</a>

                                            <div class="dropdown-divider"></div>

                                            <h6 class="dropdown-header">Round Brackets</h6>
                                            <a class="dropdown-item notSidebar" href="#" name="menu_open_parentheses" value="5">Open Parentheses</a>
                                            <a class="dropdown-item notSidebar" href="#" name="menu_closing_parentheses" value="6">Closing Parentheses</a>

                                            <div class="dropdown-divider"></div>

                                            <h6 class="dropdown-header">Variables</h6>
                                            <a class="dropdown-item notSidebar" href="#" name="menu_farm_area" value="7">Farm Area</a>
                                            <a class="dropdown-item notSidebar" href="#" name="menu_fertilizer_value" value="8">Fertilizer Nutrient Value</a>
                                            <a class="dropdown-item notSidebar" href="#" name="menu_total_requirement" value="9">Total Nutrient Reqs</a>
                                            <a class="dropdown-item notSidebar" href="#" name="menu_number" value="10">Input Number</a>
                                          </div>
                                        </div>

                                      </div>
                                    </div>
                                  </td>
                                  <td>
                                    <div class="d-flex hide" aria-describedby="plan{{@../index}}">
                                      <button class="icon-btn-trash mt-1" type="button" name="erase" value="manage"><i class="fas fa-thin fa-eraser"></i></button>
                                      <button class="icon-btn-trash mt-1" type="button" name="trash" value="manage"><i class="fas fa-trash"></i></button>
                                    </div>
                                  </td>
                                </tr>
                              {{/each}}
                                
                            </table>
                          {{/each}}
                      </div>
                  </div>
                  {{!-- END OF TAB 2 --}}

                  {{!-- TAB 3 --}}
                  <div class="tab-pane fade" id="define_reco" role="tabpanel" aria-labelledby="inactive-users-tab">
                      <div class="text-dark">
                        <form action="" method="">
                          
                          <div class="form-row">
                            <div id="name_cont">
                              <div class="form-group">
                                <label class="ml-1" for="reco_name">Custom Recommendation Name</label>
                                <input type="text" class="form-control" id="reco_name" name="reco_name" max="20" placeholder="Custom name..." required style="width: 350px;">
                              </div>
                            </div>
                              
                            <div class="form-group mx-3">
                              <label class="ml-1" for="farm_filter">Farms</label>
                              <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" 
                                        id="dropdownMenu1" data-toggle="dropdown" 
                                        aria-haspopup="true" aria-expanded="false">
                                  Farms...
                                </button>
                                <ul class="dropdown-menu checkbox-menu allow-focus farm_dropdown" aria-labelledby="dropdownMenu1">
                                  {{#if farm_list.lowland}}
                                    <h6 class="dropdown-header">Lowland</h6>
                                    {{#each farm_list.lowland}}
                                      <li >
                                        <label>
                                          <input type="checkbox" name="farm_filter" value="{{this.farm_id}}">{{this.farm_name}}
                                        </label>
                                      </li>
                                    {{/each}}
                                  {{else}}

                                  {{/if}}

                                  {{#if farm_list.upland}}
                                    <h6 class="dropdown-header">Upland</h6>
                                    {{#each farm_list.upland}}
                                      <li >
                                        <label>
                                          <input type="checkbox" name="farm_filter" value="{{this.farm_id}}">{{this.farm_name}}
                                        </label>
                                      </li>
                                    {{/each}}
                                  {{else}}

                                  {{/if}}
                                </ul>
                              </div>
                            </div>
                          </div>

                          <table class="table w-100" id="table">
                            <tr>
                              <th class="text-center">Application Date</th>
                              <th class="text-center">Fertilizer</th>
                              <th class="w-100">Amount Calculation</th>
                              <th><button type="button" class="float-right btn btn-primary" id="btn_add">Add Item</button></th>
                            </tr>
                            <tr>
                              <td style="width:  180px;">
                                <div class="d-flex">
                                  <label class="col-form-label">DAT</label>
                                  <div class="ml-3">
                                    <input type="number" class="form-control" id="dat" name="dat" placeholder="0" minlength="0" style="width: 120px !important;">
                                  </div>
                                </div>

                              </td>
                              <td>
                                <div class="">
                                  <select class="form-control" id="fertilizer" name="fertilizer" required style="width: min-content;">
                                    {{#each fertilizers.obj}}
                                    <option value="{{this.id}}">{{this.name}}</option>
                                    {{/each}}
                                  </select>
                                </div>
                              </td>
                              <td>
                                <div class="d-flex mt-2 h-100">
                                  <div id="define_formula_container0" class="h-100 d-flex formula_cont"><div class="formula_item">=</div>
                                  </div>
                                  <!-- <div id="define_formula_container0" class="h-100 d-flex formula_cont"><div class="formula_item">=</div><div class="formula_item-special" value="(">(</div><i class="fas fa-asterisk fa-2xs formula_item-operands" value="*"></i><i class="fas fa-minus fa-2xs formula_item-operands" value="-"></i><div class="formula_item-variable" value="fv">Fertilizer nutrient value</div></div> -->

                                  <!-- <div id="define_formula_container0" class="h-100 d-flex formula_cont"><div class="formula_item">=</div><div class="formula_item-special" value="(">(</div><div class="formula_item-variable" value="fa">Farm area</div><div class="formula_item-special" value=")">)</div><i class="fas fa-asterisk fa-2xs formula_item-operands" value="*"></i><div class="formula_item-special" value=")">)</div><div class="formula_item-variable" value="fv">Fertilizer nutrient value</div><i class="fas fa-asterisk fa-2xs formula_item-operands" value="*"></i><div class="formula_item-variable" value="fa">Farm area</div><div class="formula_item-special" value="(">(</div></div> -->
                                  
                                  <div class="ml-auto">
                                    <div class="nav-item dropdown no-arrow btn-dropdown" style="" id="action_menu">
                                      <button type="button" class="btn btn-dark dropdown-toggle item_dropdown" aria-expanded="true" data-toggle="dropdown" style="" id="">
                                        <span class="d-none d-lg-inline me-2 small formula_menu_span" style="">Formula Menu</span>
                                      </button>
                      
                                      <div class="dropdown-menu notSidebar formula-menu" style="width: fit-content;" aria-labelledby="define_menu" value="0">
                                        <h6 class="dropdown-header">Operands</h6>
                                        <a class="dropdown-item notSidebar" href="#" name="menu_add" value="1">Add</a>
                                        <a class="dropdown-item notSidebar" href="#" name="menu_subtract" value="2">Subtract</a>
                                        <a class="dropdown-item notSidebar" href="#" name="menu_multiply" value="3">Multiply</a>
                                        <a class="dropdown-item notSidebar" href="#" name="menu_divide" value="4">Divide</a>

                                        <div class="dropdown-divider"></div>

                                        <h6 class="dropdown-header">Round Brackets</h6>
                                        <a class="dropdown-item notSidebar" href="#" name="menu_open_parentheses" value="5">Open Parentheses</a>
                                        <a class="dropdown-item notSidebar" href="#" name="menu_closing_parentheses" value="6">Closing Parentheses</a>

                                        <div class="dropdown-divider"></div>

                                        <h6 class="dropdown-header">Variables</h6>
                                        <a class="dropdown-item notSidebar" href="#" name="menu_farm_area" value="7">Farm Area</a>
                                        <a class="dropdown-item notSidebar" href="#" name="menu_fertilizer_value" value="8">Fertilizer Nutrient Value</a>
                                        <a class="dropdown-item notSidebar" href="#" name="menu_total_requirement" value="9">Total Nutrient Reqs</a>
                                        <a class="dropdown-item notSidebar" href="#" name="menu_number" value="10">Input Number</a>
                                      </div>
                                    </div>

                                  </div>
                                </div>
                              </td>
                              <td>
                                <div class="d-flex">
                                  <button class="icon-btn-trash mt-1" type="button" name="erase" value="define"><i class="fas fa-thin fa-eraser"></i></button>
                                </div>
                              </td>
                            </tr>
                          </table>


                          <button type="button" class="btn btn-primary float-right mr-2" id="btn_submit">Submit</button>
                        </form>
                      </div>
                  </div>
                  {{!-- END OF TAB 3 --}}

              </div>
              {{!-- END OF TAB CONTENT --}}

            </div>

          </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var fertilizer_list = {{{fertilizers.json}}};
  var menu_arr = ['', 'fa fa-plus fa-2xs', 'fas fa-minus fa-2xs', 'fas fa-asterisk fa-2xs', 'fas fa-divide fa-2xs', '', '', '', '', ''];
  var count = 0;
  var define_plan_arr = [];
  var manage_plan_arr = {{{cnr_plan_json}}};
  var temp_arr;
  var item_str;
  var append_icon;

  var opts = '';
  fertilizer_list.forEach(function(item) {
    opts += `<option value="${item.id}">${item.name}</option>`;
  });

  function validateNeighborItem(index, arr, err, type) {
    if (index == 0) {
      if (type == 'variable') {
        if (arr[index+1] != 'operand') {
          err.push(`Variable must be followed by a bracket or operand!`);
        }
      }
      else if (type == 'closing_bracket') {
        err.push(`Invalid closing bracket position`);
      }
      else if (type == 'opening_bracket') {
        if (arr[index+1] != 'variable') {
          err.push(`Starting opening bracket must be followed by a variable!`);
        }
      }
      else if (type == 'operand') {
        err.push('Equation cannot be started with an operand!');
      }
    }
    else if (index == arr.length-1) {
      if (arr[index] == 'operand') {
        err.push(`Equation cannot be ended with an operand!`);
      }
      if (arr[index] == 'opening_bracket') {
        err.push(`Equation cannot be ended with an opening bracket!`);
      }
    }
    else {
      if (type == 'variable') {
        if (arr[index+1] == 'variable' || arr[index+1] == 'opening_bracket') {
          err.push(`Variable must be followed by a closing bracket or operand!`);
        }
      }
      else if (type == 'operand') {
        if (arr[index+1] != 'variable') {
          err.push(`Operand must be followed by a variable!`);
        }
      }
      else if (type == 'closing_bracket') {
        if (arr[index+1] == 'variable') {
          err.push(`Closing bracket must be followed by an operand or closing bracket!`);
        }
      }
      else if (type == 'opening_bracket') {
        if (arr[index-1] == 'variable' || arr[index-1] == 'closing_bracket') {
          err.push(`Opening bracket must be preceded by an operand`);
        }
        if (arr[index+1] == 'closing_bracket' || arr[index+1] == 'operand') {
          err.push(`Opening bracket must be followed by a variable or closing bracket!`);
        }
      }
    }
    return err;
  }

  function validateEquation(arr) {
    var err_arr = [];
    var temp_arr = JSON.parse(JSON.stringify(arr));
    if (arr.indexOf('fv') == -1)
      err_arr.push('Fertilizer value must be used in the equation!');

    if (temp_arr.length == 1) {
      err_arr.push('Invalid equation!');
    }

    arr.forEach(function(item, index) {
      if (item == 'tnr' || item == 'fv' || item == 'fa') {
        temp_arr[index] = '1 ';
      }
      if (item == 0)
        temp_arr[index] = '@';
    });

    var str = temp_arr.join('');

    try {
      str = Function("return " + str)();
      if (str == 1) {
        str = 1;
        throw 1;
      }
      else {
        str = 0;
        throw 0;
      }

    }
    catch(err) {
      if (err.toString().includes('Syntax')) {
        str = 0;
      }
      else {
        str = 1;
      }
    }
    if (str == 0) {
      err_arr.push('Invalid equation!');
    }

    return err_arr;
  }

  function registerDropdownEvent() {
    $('#table').off('show.bs.dropdown');

    $('#table').on('show.bs.dropdown', function(e) {

    });
  }

  function appendEquation(menu_arr, index, arr_index, target, plan_index) {
    var str = `<div class="formula_item">=</div>`;
    var user_numbers = $($(`#table tbody tr`)[parseInt(index)+1]).children().find('input[name="user_number"]');
    var value_arr = [];
    var count_user_num = 0;
    var temp_arr;
    if (user_numbers.length != 0) {
      for (var i = 0; i < user_numbers.length; i++) {
        value_arr.push($(user_numbers[i]).val() != '' ? $(user_numbers[i]).val() : '');
      }
    }
    value_arr.push('');

    if (target == 'define') {
      temp_arr = define_plan_arr;
    }
    else {
      temp_arr = manage_plan_arr;
      temp_arr = temp_arr[plan_index.replace('plan','')];
    }

    temp_arr[arr_index].forEach(function(item) {
      switch (parseInt(item)) {
        case 1: 
          str += `<i class="${menu_arr[item]} formula_item-operands" value="+"></i>`;
          break;
        case 2:
          str += `<i class="${menu_arr[item]} formula_item-operands" value="-"></i>`;
          break;
        case 3:
          str += `<i class="${menu_arr[item]} formula_item-operands" value="*"></i>`;
          break;
        case 4:
          str += `<i class="${menu_arr[item]} formula_item-operands" value="/"></i>`;
          break;
        case 5:
          str += `<div class="formula_item-special" value="(">(</div>`;
          break;
        case 6:
          str += `<div class="formula_item-special" value=")">)</div>`;
          break;
        case 7:
          str += `<div class="formula_item-variable" value="fa">Farm area</div>`;
          break;
        case 8:
          str += `<div class="formula_item-variable" value="fv">Fertilizer nutrient value</div>`;
          break;
        case 9:
          str += `<div class="formula_item-variable" value="tnr">Total nutrient requirement</div>`;
          break;
        case 10:
          str+= `<div class="formula_item"><input type="number" name="user_number" min="0" class="form-control user_number formula_item-variable" style="" value="${value_arr[count_user_num]}"></div>`;
          count_user_num++;
          break;
        default:
          str += ``;
      }
    });
    console.log(index);

    $(`#${target}_formula_container${index}`).html('');
    $(`#${target}_formula_container${index}`).append(str);
  }

  $('#btn_submit, [name="manage_btn_save"]').on('click', function() {
    var err_msg_name;
    var tab;
    var selected_farm_filter;
    var rows;
    var name;

    if ($(this).attr('name') == 'manage_btn_save') {
      var plan_index = $(this).attr('value');
      tab = 'manage_reco';
      $(`#${tab} .text-danger`).remove();
      selected_farm_filter = `input:checked[name="manage_farm_filter${plan_index}"]`;
      err_msg_name = `#${tab} [name="manage_reco_name_cont${plan_index}"]`;
      rows = $(`#manage_table${plan_index} tbody tr`);
      name = $(`#${tab} [name="manage_reco_name${plan_index}"]`).val();
    }
    else {
      tab = 'define_reco';
      $(`#${tab} .text-danger`).remove();
      selected_farm_filter = 'input:checked[name="farm_filter"]';
      err_msg_name = '#name_cont';
      rows = $('#table tbody tr');
      name = $('#reco_name').val();
      if (name == '') {
        $(err_msg_name).append(`<span class="text-danger">Name cannot be empty!</span>`);
      }
      else {
        // Check db if name exists
        $.get('/nutrient_mgt/get_cnr_plans/ajax', { name: name }, function(result) {
          if (result.length != 0) {
            console.log('alrdy exists!');
            item_err = 1;
            $(err_msg_name).append(`<span class="text-danger">Name already exists!</span>`);
          }
        });
      }
    }

    var selected_farms = [];
    var row_item = {};
    var items_arr = [];
    var item_err = 0;
    var formula_col;
    var eq_items_arr;

    $(`#${tab} ${selected_farm_filter}`).each(function() {
      selected_farms.push($(this).attr('value'));
    });

    var err, temp_str = ``;
    var err_str;
    for (var i = 1; i < rows.length; i++) {
      err = [];
      eq_items_arr = [];
      formula_col = $($(rows[i]).children()[2]).find('.formula_item-operands, .formula_item-special, .formula_item-variable');
      for (var x = 0; x < formula_col.length; x++) {
        if ($(formula_col[x]).hasClass('form-control')) {
          eq_items_arr.push($(formula_col[x]).val());
        }
        else {
          eq_items_arr.push($(formula_col[x]).attr('value'));
        }
      }

      err = validateEquation(eq_items_arr);

      if (err.length > 0) {
        err.forEach(function(item) {
          temp_str += `<div class="text-danger">${item}</div>`;
        });
        err_str = `<div class="d-table-row text-danger">${temp_str}</div>`;
        $($(rows[i]).children()[2]).append(err_str);
        item_err = 1;
      }

      if ($($(rows[i]).children()[0]).find(`input[name="dat"]`).val() == '' || $($(rows[i]).children()[0]).find(`input[name="dat"]`).val() == 0) {
        $($(rows[i]).children()[0]).append(`<span class="text-danger">DAT cannot be empty!</span>`);
        item_err = 1;
      }

      if (item_err == 0) {
        row_item = {
          dat: $($(rows[i]).children()[0]).find(`input[name="dat"]`).val(),
          fertilizer_id: $($(rows[i]).children()[1]).find(`select option:selected`).val(),
          amount_equation: eq_items_arr.toString()
        };
        items_arr.push(row_item);
      }
    }

    if (item_err == 0) {
      // Submit
      console.log('submit');
      console.log(items_arr);
      if ($(this).attr('name') == 'manage_btn_save') {
        $.get('/nutrient_mgt/update_cnr_plan', { name: name, farms: selected_farms, items: items_arr }, function(result) {
          console.log(result);
          window.location.replace('/nutrient_mgt/recommendation_system');
        });
      }
      else {
        $.get('/nutrient_mgt/create_cnr_plans/ajax', { name: name, farms: selected_farms, items: items_arr }, function(result) {
          console.log(result);
          window.location.replace('/nutrient_mgt/recommendation_system');
        });
      }
    }

  });

  $('table').on('click', 'button[name="trash"]', function() {
    var target = $(this).attr('value');
    var index = $(this).parent().parent().parent().index() - 1;
    var temp_arr;
    $(this).parent().parent().parent().remove();
    if (target == 'define')
      temp_arr = define_plan_arr;
    else
      temp_arr = manage_plan_arr;

    temp_arr.splice(index, 1);
  });

  $('table').on('click', 'button[name="erase"]', function() {
    var target = $(this).attr('value');
    var index = $(this).parent().parent().parent().index() - 1;
    var tr = $(this).parent().parent().parent().find('.formula-menu').attr('value');
    var temp_arr;

    if (target == 'define') {
      temp_arr = define_plan_arr;
    }
    else {
      var plan_index = $(this).parent().attr('aria-describedby').replace('plan', '');
      temp_arr = manage_plan_arr;
      temp_arr = temp_arr[plan_index];
    }

    if (temp_arr[index] != undefined) {

      if(temp_arr[index].length != 0) {

        if (target == 'define') {
          temp_arr[index] = temp_arr[index].slice(0, -1);
        }
        else {
          temp_arr[index] = temp_arr[index].slice(0, -1);
        }
        appendEquation(menu_arr, tr, index, target, $(this).parent().attr('aria-describedby'));
      }
      else {
        console.log('Empty array');
      }
    } 
  });

  $('table').on('click', 'tr td div div div div a',function(e) {
    e.stopPropagation();
    var target = $(this).parent().attr('aria-labelledby') == 'manage_menu' ? 'manage' : 'define';
    var tr_count = $(this).parent().parent().parent().parent().parent().parent().index();
    var index = $(this).parent().attr('value');
    item_str = $(`#formula_container${index}`).html();
    var temp_arr;
    if (target == 'define') {
      temp_arr = define_plan_arr;
      while(temp_arr.length <= (tr_count-1)) {
        temp_arr.push([]);
      }

      temp_arr = temp_arr[tr_count-1];
    }
    else {
      var plan_index = $(this).parent().attr('aria-describedby').replace('plan', '');
      temp_arr = manage_plan_arr;
      temp_arr = temp_arr[plan_index][tr_count-1];
    }

    temp_arr.push($(this).attr('value'));
    
    appendEquation(menu_arr, index, tr_count-1, target, $(this).parent().attr('aria-describedby'));
  });
 
  $('[name="manage_btn_add"]').on('click', function() {
    var table  = $(this).parent().parent().parent().parent();
    var plan_item_count = $(table).children().children().length-1;
    var plan_count = $(table).attr('id').replace('manage_table', '');
    $(table).append(`<tr> <td style="width: 180px;"> <div class="d-flex"> <label class="col-form-label">DAT</label> <div class="ml-3"> <input type="number" class="form-control" id="dat" name="dat" placeholder="0" minlength="0" style="width: 120px !important;" value="{{this.dat}}" > </div> </div> </td> <td> <div class=""> <select class="form-control" id="manage_fertilizer" name="manage_fertilizer" required style="width: min-content;"> ${opts} </select> </div> </td> <td> <div class="d-flex mt-2 h-100"> <div id="manage_formula_container${plan_item_count}" class="d-flex formula_cont"><div class="formula_item">=</div></div> <div class="ml-auto"> <div class="nav-item dropdown no-arrow btn-dropdown " style="" id="action_menu"> <button type="button" class="btn btn-dark dropdown-toggle item_dropdown" aria-expanded="true" data-toggle="dropdown" style="" id=""> <span class="d-none d-lg-inline me-2 small formula_menu_span" style="">Formula Menu</span> </button> <div class="dropdown-menu notSidebar formula-menu" style="width: fit-content;" aria-describedby="plan${plan_count}" aria-labelledby="manage_menu" value="${plan_item_count}"> <h6 class="dropdown-header">Operands</h6> <a class="dropdown-item notSidebar" href="#" name="menu_add" value="1">Add</a> <a class="dropdown-item notSidebar" href="#" name="menu_subtract" value="2">Subtract</a> <a class="dropdown-item notSidebar" href="#" name="menu_multiply" value="3">Multiply</a> <a class="dropdown-item notSidebar" href="#" name="menu_divide" value="4">Divide</a> <div class="dropdown-divider"></div> <h6 class="dropdown-header">Round Brackets</h6> <a class="dropdown-item notSidebar" href="#" name="menu_open_parentheses" value="5">Open Parentheses</a> <a class="dropdown-item notSidebar" href="#" name="menu_closing_parentheses" value="6">Closing Parentheses</a> <div class="dropdown-divider"></div> <h6 class="dropdown-header">Variables</h6> <a class="dropdown-item notSidebar" href="#" name="menu_farm_area" value="7">Farm Area</a> <a class="dropdown-item notSidebar" href="#" name="menu_fertilizer_value" value="8">Fertilizer Nutrient Value</a> <a class="dropdown-item notSidebar" href="#" name="menu_total_requirement" value="9">Total Nutrient Reqs</a> <a class="dropdown-item notSidebar" href="#" name="menu_number" value="10">Input Number</a> </div> </div> </div> </div> </td> <td> <div class="d-flex " aria-describedby="plan${plan_count}"> <button class="icon-btn-trash mt-1" type="button" name="erase" value="manage"><i class="fas fa-thin fa-eraser"></i></button> <button class="icon-btn-trash mt-1" type="button" name="trash" value="manage"><i class="fas fa-trash"></i></button> </div> </td> </tr>`);
    manage_plan_arr[$(table).attr('id').replace('manage_table', '')].push([]);
  });

  $('[name="manage_btn_cancel"]').on('click', function() {
    window.location.replace('/nutrient_mgt/recommendation_system');
  });

  $('#btn_add').on('click', function() {
    count++;

    $('#table').append(`<tr> <td style="width: 180px;"> <div class="d-flex"> <label class="col-form-label">DAT</label> <div class="ml-3"> <input type="number" class="form-control" id="dat" name="dat" placeholder="0" minlength="0" style="width: 120px !important;"> </div> </div> </td> <td> <div class=""> <select class="form-control" id="fertilizer" name="fertilizer" required="" style="width: min-content;">${opts} </select> </div> </td> <td> <div class="d-flex mt-2"> <div id="define_formula_container${count}" class="d-flex formula_cont"><div class="formula_item">=</div></div> <div class="ml-auto"> <div class="nav-item dropdown no-arrow btn-dropdown" style="" id="action_menu"> <button type="button" class="btn btn-dark dropdown-toggle item_dropdown" aria-expanded="true" data-toggle="dropdown" style="" id=""> <span class="d-none d-lg-inline me-2 small formula_menu_span" style="">Formula Menu</span> </button> <div class="dropdown-menu notSidebar formula-menu" style="width: fit-content;" aria-labelledby="define_menu" value="${count}"> <h6 class="dropdown-header">Operands</h6> <a class="dropdown-item notSidebar" href="#" name="menu_add" value="1">Add</a> <a class="dropdown-item notSidebar" href="#" name="menu_subtract" value="2">Subtract</a> <a class="dropdown-item notSidebar" href="#" name="menu_multiply" value="3">Multiply</a> <a class="dropdown-item notSidebar" href="#" name="menu_divide" value="4">Divide</a> <div class="dropdown-divider"></div> <h6 class="dropdown-header">Round Brackets</h6> <a class="dropdown-item notSidebar" href="#" name="menu_open_parentheses" value="5">Open Parentheses</a> <a class="dropdown-item notSidebar" href="#" name="menu_closing_parentheses" value="6">Closing Parentheses</a> <div class="dropdown-divider"></div> <h6 class="dropdown-header">Variables</h6> <a class="dropdown-item notSidebar" href="#" name="menu_farm_area" value="7">Farm Area</a> <a class="dropdown-item notSidebar" href="#" name="menu_fertilizer_value" value="8">Fertilizer Nutrient Value</a> <a class="dropdown-item notSidebar" href="#" name="menu_total_requirement" value="9">Total Nutrient Reqs</a> <a class="dropdown-item notSidebar" href="#" name="menu_number" value="10">Input Number</a></div> </div> </div> </div> </td> <td><div class="d-flex"><button class="icon-btn-trash mt-1" type="button" name="erase" value="define"><i class="fas fa-thin fa-eraser"></i></button><button class="icon-btn-trash mt-1" type="button" name="trash" value="define"><i class="fas fa-trash"></i></button></div></td> </tr>`);

    registerDropdownEvent();
  });

  $('[name="manage_btn_edit"]').on('click', function() {
    var target = $(this).attr('value');
    var cont = $(`#manage_reco [name="item${target}"]`);

    $(cont).find('.hide').removeClass('hide')
    $(cont).find(':disabled').each(function() {
      if ($(this).prop('id') != 'manage_reco_name'+target)
       $(this).removeAttr('disabled');
    });

    $(this).addClass('hide');
    $(this).parent().find('.edit_action_cont').removeClass('hide')
  });


</script>