<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Farms &gt; Farm Monitoring &gt; Nutrient Management</h3>
        <a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
    </div>

    <div class="row">
        <div class="col-lg-12 col-xl-8 col-xxl-12">
            {{#if writeable}}
            <div role="tablist" id="accordion-1" style="margin-bottom: 20px;">
                <form class="register-form" method="post" id="soil_data_form">
                    <div class="card">
                        <div class="card-header" role="tab" style="background: #939C1F;padding: 16px 20px;height: auto;">
                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1" style="font-size: 16px;color: rgb(255,255,255);font-weight: bold;">Create Soil Test</a></h5>
                        </div>
                        <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
                            <div class="card-body">
                                <form class="register-form" method="post" id="soil_data_form">
                                    <fieldset>
                                        <div class="form-row">
                                            <div class="col-6 col-sm-6 col-md-6"><label>Farm</label>
                                                <div id="lp-name-wrapper"></div>
                                                <select class="form-control" id="farm_id" name="farm_id">
                                                </select>
                                            </div>
                                            <div class="col-6 col-sm-6 col-md-6"><label>Date Taken: </label>
                                                <div id="lp-lastname-wrapper"></div>
                                                <input type="date" class="form-control" id="date_taken" name="date_taken" aria-describedby="emailHelp" placeholder="">
                                            </div>
                                            <div class="col-6 col-sm-6 col-md-6">
                                                <div id="lp-name-wrapper-1">
                                                    <label>pH Level:</label>
                                                    <select class="form-control" id="ph_test" name="ph_test">
                                                        <option value="7.5">pH 7.5 - Alkaline</option>
                                                        <option value="7.0" selected>pH 7.0 - Neutral</option>
                                                        <option value="6.5">pH 6.5 - Slight Acid</option>
                                                        <option value="6.0">pH 6.0 - Acid</option>
                                                        <option value="5.5">pH 5.5 - Acid</option>
                                                        <option value="5.0">pH 5.0 - Very Acid</option>
                                                        <option value="4.5">pH 4.5 - Very Acid</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6 col-sm-6 col-md-6">
                                                <div id="lp-lastname-wrapper-1"></div>
                                            </div>
                                            
                                            <div class="col-6 col-sm-6 col-md-6">
                                                <div id="lp-name-wrapper-3">
                                                    <label>N Test</label>
                                                    <select class="form-control" id="n_test" name="n_test">
                                                        <option value="Surplus">Surplus</option>
                                                        <option value="Sufficient">Sufficient</option>
                                                        <option value="Adequate">Adequate</option>
                                                        <option value="Deficient" selected>Deficient</option>
                                                        <option value="Depleted">Depleted</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-6 col-sm-6 col-md-6">
                                                <div id="lp-name-wrapper-3">
                                                    <label>P Test</label>
                                                    <select class="form-control" id="p_test" name="p_test">
                                                        <option value="Surplus">Surplus</option>
                                                        <option value="Sufficient">Sufficient</option>
                                                        <option value="Adequate">Adequate</option>
                                                        <option value="Deficient" selected>Deficient</option>
                                                        <option value="Depleted">Depleted</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-6 col-sm-6 col-md-6">
                                                <div id="lp-name-wrapper-3">
                                                    <label>K Test</label>
                                                    <select class="form-control" id="k_test" name="k_test">
                                                        <option value="Surplus">Surplus</option>
                                                        <option value="Sufficient">Sufficient</option>
                                                        <option value="Adequate">Adequate</option>
                                                        <option value="Deficient" selected>Deficient</option>
                                                        <option value="Depleted">Depleted</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary float-right" type="submit">Submit</button>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
            {{/if}}
            <div class="card">
              <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;color: #ffffff;">
                    {{!-- <h5 class="text-white">
                        Fertilizer Optimization
                    </h5> --}}

                    <div class="col" style="margin-right: 650px; padding-top: 15px">
                        <h6>Fertilizer Optimization</h6>
            
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-7 col-xxl-8">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 mini" style="background: #332C1F;height: auto;">
                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Optimization Variables<br></h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive" style="border-style: none;">
                                        <table class="table">
                                            <tbody>
                                                <tr style="border-style: none;">
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Farm</span><span class="d-xxl-flex justify-content-xxl-start">{{detailed_data.farm_name}}</span></td>
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Crop Plan<br></span><span class="d-xxl-flex justify-content-xxl-start">{{calendar_details.crop_plan}}<br></span></td>
                                                </tr>
                                                <tr>
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Farm Area</span><span class="d-xxl-flex justify-content-xxl-start">{{detailed_data.farm_area}} ha</span></td>
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;"><br></span><span class="d-xxl-flex justify-content-xxl-start"><br></span></td>
                                                </tr>
                                                <tr>
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Seed Planted</span><span class="d-xxl-flex justify-content-xxl-start">{{calendar_details.seed_name}}</span></td>
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Seed Rate<br></span><span class="d-xxl-flex justify-content-xxl-start">{{calendar_details.seed_rate}} kg/ha<br></span></td>
                                                </tr>
                                                <tr>
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Planting Method</span><span class="d-xxl-flex justify-content-xxl-start">{{calendar_details.method}}</span></td>
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;"><br></span><span class="d-xxl-flex justify-content-xxl-start"><br></span></td>
                                                </tr>
                                                <tr style="border-style: none;">
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Nutrient Deviations (-)<br></span><span class="d-xxl-flex justify-content-xxl-start">{{detailed_data.deficiencies}}<br></span></td>
                                                    <td style="border-style: none;">
                                                        <!-- <span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Water Level Requirement<br></span><span class="d-xxl-flex justify-content-xxl-start">1250 mm<br></span> -->
                                                        
                                                    </td>
                                                </tr>
                                                <tr style="border-style: none;">
                                                    <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Forecasted Yield<br></span><span class="d-xxl-flex justify-content-xxl-start">{{#if yield_forecast}}{{yield_forecast}} cavans/ha{{else}}Insufficient data{{/if}}<br></span></td>
                                                    <!-- <td style="border-style: none;"><span class="d-xxl-flex justify-content-xxl-start" style="font-weight: bold;">Forecasted Yield<br></span><span class="d-xxl-flex justify-content-xxl-start">todo<br></span></td> -->
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 mini" style="background: #332C1F;height: auto;">
                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Nutrient Calculations <br></h6>
                                </div>
                                <div class="card-body">
                                    
                                    <div class="">
                                        <label>Raw Fertilizer Calculations</label>
                                        <div class="table-responsive">
                                            <table class="table" id="inventory_table">
                                                <tr>
                                                    <th>Fertilizer</th>
                                                    <th>Current Stock</th>
                                                    <th>Recommendation</th>
                                                    <th>Applied</th>
                                                    <th>Deficiency</th>
                                                </tr>

                                                {{#each inventory}}
                                                <tr>
                                                    <td>{{this.fertilizer}}</td>
                                                    <td>{{this.qty}}</td>
                                                    <td>{{this.recommendation}}</td>
                                                    <td>{{this.applied}}</td>
                                                    <td>{{this.deficiency}}</td>
                                                </tr>
                                                {{/each}}

                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5 col-xxl-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 mini" style="background: #332C1F;height: auto;">
                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Soil Data&nbsp;</h6>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item"><span>Soil Texture</span><span class="float-end" id="soil_texture"></span></li>
                                        <li class="list-group-item"><span>pH Lvl</span><span class="float-end" id="ph_lvl">{{detailed_data.pH_lvl}}</span></li>
                                        <li class="list-group-item"><span>N</span><span class="float-end" id="n_lvl">{{detailed_data.n_val}}</span></li>
                                        <li class="list-group-item"><span>P205</span><span class="float-end" id="p_lvl">{{detailed_data.p_val}}</span></li>
                                        <li class="list-group-item"><span>K20</span><span class="float-end" id="k_lvl">{{detailed_data.k_val}}</span></li>
                                        <li class="list-group-item"><span>Last Soil Test Taken</span>
                                            <span class="float-end" id=""></span>
                                            <div class="d-flex flex-column">
                                                <span></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 mini" style="background: #332C1F;height: auto;">
                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Total Soil Nutrient Requirements<br></h6>
                                </div>
                                <div class="card-body">
                                    <ul class="list-group">
                                        <li class="list-group-item"><span>N</span><span class="float-end">{{detailed_data.n_lvl}}</span></li>
                                        <li class="list-group-item"><span>P205 (mg/100)</span><span class="float-end">{{detailed_data.p_lvl}}</span></li>
                                        <li class="list-group-item"><span>K2O (mg/100)</span><span class="float-end">{{detailed_data.k_lvl}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-7 col-xxl-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 mini" style="background: #939C1F;height: auto;">
                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Optimal Recommendation<br></h6>
                                </div>
                                <div class="card-body">
                                    <div class="mb-3">
                                        <label class="">Nutrient Guidelines</label>
                                        <div class="">
                                            <ul class="list-group">
                                                <li class="list-group-item"><span>Nitrogen</span><span class="float-end" id=""></span></li>
                                                <li class="list-group-item"><span>Nitrogen is responsible for promoting plant growth and improving grain yield and grain quality.</span><span class="float-end" id=""></span></li>
                                                <li class="list-group-item"><span>It is the most limiting element in most soils with high mobility in the soil decomposing faster than the other nutrients.</span><span class="float-end" id=""></span></li>
                                                <li class="list-group-item"><span>Recommended calculations follows a split-pattern approach in accordance with the crop growth stage as well as the NDVI.</span><span class="float-end" id=""></span></li>
                                            </ul>

                                            <ul class="list-group">
                                                <li class="list-group-item"><span>Phosphorous</span><span class="float-end" id=""></span></li>
                                                <li class="list-group-item"><span>Phosphorous is essential for root development.</span><span class="float-end" id=""></span></li>
                                                <li class="list-group-item"><span>Often deficient in degraded lowland soils and sandy soils.</span><span class="float-end" id=""></span></li>
                                                <li class="list-group-item"><span>Best applied before transplanting or 10 days after direct seeding. Apply all P required in one batch.</span><span class="float-end" id=""></span></li>
                                            </ul>

                                            <ul class="list-group">
                                                <li class="list-group-item"><span>Potassium</span><span class="float-end" id=""></span></li>
                                                <li class="list-group-item"><span>Potassium is essential for root growth and enhances crop resistance to pests and diseases.</span><span class="float-end" id=""></span></li>
                                                <li class="list-group-item"><span>Timing of application is based on the K requirement. At more than 30kg/ha, it is best to split the application between the Basal and Early Panicle stages of crop growth. Else, apply all before transplanting or 10 days after direct seeding.</span><span class="float-end" id=""></span></li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="mb-3">
                                        The following records are system generated recommendations which are not generated as work orders. Users may still opt to follow these recommendations. Consult with the business owner
                                    </div>
                                    <table class="table" id="schedule_table">
                                        <tr>
                                            <th>Application Date</th>
                                            <th>Fertilizer</th>
                                            <th>Description</th>
                                            <th>Amount</th>
                                            <th></th>
                                        </tr>
                                        {{#if fr_items}}
                                            {{#each fr_items}}
                                            {{#if this.isCreated}}
                                            {{else}}
                                            <tr class="fr_item" name="fr_item">
                                                <td>
                                                    {{this.target_application_date}}
                                                </td>
                                                <input type="hidden" name="target_date" value="{{this.target_application_date}}">
                                                <td>
                                                    {{this.fertilizer_name}}
                                                    
                                                </td>
                                                <input type="hidden" name="fertilizer_id" value="{{this.fertilizer_id}}">
                                                <td>
                                                    {{this.description}}
                                                    
                                                </td>
                                                <input type="hidden" name="fertilizer_id" value="{{this.description}}">
                                                <td>
                                                    {{this.amount}} bags
                                                    
                                                </td>
                                                <input type="hidden" name="fertilizer_id" value="{{this.amount}}">
                                                <td>
                                                    <input type="checkbox" class="form-check-input" name="fr_item" value="{{@index}}" {{#if writeable}} {{#if this.isCreated}}disabled{{/if}} {{else}}disabled{{/if}}>
                                                </td>
                                            </tr>
                                            {{/if}}
                                            {{/each}}
                                        {{else}}
                                        <td colspan="5" rowspan="3" class="text-center text-dark">
                                            No unselected generated recommendations
                                        </td>
                                        {{/if}}
                                    </table>

                                    <button class="btn btn-primary float-right hide mb-3" type="button" id="generate_wo">Create Work Order</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-7 col-xxl-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3 mini" style="background: #939C1F;height: auto;">
                                    <h6 class="fw-bold m-0" style="color: #FFFFFF;">Fertilizer Application Records<br></h6>
                                </div>
                                <div class="card-body">
                                        <label>Summary</label>
                                        <div class="mb-3">
                                            {{detailed_data.summary}}
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table" id="fertilizer_history">
                                                <tr>
                                                    <th>Type</th>
                                                    <th>Date Completed</th>
                                                    <th>Fertilizer</th>
                                                    <th>Description</th>
                                                    <th>Amount</th>
                                                    <th>Status</th>
                                                </tr>

                                                {{#each wo_list}}
                                                <tr>
                                                    <td>{{this.record_type}}</td>
                                                    <td>
                                                        <div class="d-flex flex-column">
                                                            <span>{{this.date_completed}}</span>
                                                            {{#if this.target_application_date}}
                                                            <small>
                                                                <div class="d-flex">
                                                                    <div>
                                                                        Recommended date: 
                                                                        {{this.target_application_date}} to {{this.target_date_end}}
                                                                    </div>
                                                                    <div class="ml-auto mr-3">
                                                                        {{#if this.followed}}
                                                                        <i class="fa fa-check"></i>
                                                                        {{else}}
                                                                        <i class="fa fa-times"></i>
                                                                        {{/if}}
                                                                    </div>   
                                                                </div>

                                                            </small>
                                                            {{/if}}
                                                        </div>
                                                    </td>
                                                    <td>{{this.fertilizer_name}}</td>
                                                    <td>{{this.notes}}</td>
                                                    <td>{{this.qty}} bags</td>
                                                    <td>{{this.status}}</td>
                                                </tr>
                                                {{/each}}

                                            </table>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var view = 'Soil Detailed';
    var farm_id = {{farm_id}};
    var calendar_id = {{detailed_data.calendar_id}};
    var area = {{detailed_data.farm_area}};
    var farm_name = '{{detailed_data.farm_name}}';
    var results;
</script>

<!-- <script src="../../js/nutrient_management.js"></script> -->