<style>
    table td, th {
        color:#332C1F;
    } 

    label {
        color: #332C1F;
    }

    h4.card-title {
        font-weight: bold;
    }

   div > span, div.col-10.col-sm-10.col-md-10 {
        color: #332c1f !important;
    }

    div.col-1.col-sm-1.col-md-1 {
        color: #332c1f !important;
        font-weight: bold !important;
    }
</style>

<div class="container-fluid" >
     <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Material Management > Orders</h3><a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
                    </div>
    {{!-- <div class="row" style="padding: 0px 12px;">
        <div class="col-xxl-7">
            <div class="table-responsive" style="border-style: none;">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Mon</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-showers-heavy justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Tue</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-meatball justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Wed</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Thu</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-poo-storm justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Fri</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Sat</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Sun</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-sun justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                            <th style="border-style: none;">
                                <h4 class="justify-content-xl-center" style="color: #332C1F;font-size: 20px;">Mon</h4>
                                <h6 class="text-muted justify-content-xl-center mb-2"><i class="fas fa-cloud-showers-heavy justify-content-xl-center" style="color: #332C1F;font-size: 35px;"></i></h6><small class="form-text" style="color: #332C1F;">29°</small><small class="form-text" style="color: #332C1F;margin-left: 16px;">29°</small>
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div> --}}


    <div class="row" style="padding: 0px 12px;">
        <div class="col-xxl-9">
            {{!-- <label class="form-label d-xxl-flex justify-content-xxl-start" for="username" style="color: #332c1f;"><strong>All Farms</strong></label> --}}
            <div role="tablist" id="accordion-1" style="margin-bottom: 20px;">
                <div class="card shadow mb-4">
                    <div class="card-header" role="tab" style="background: #939C1F;padding: 16px 20px;height: auto;">
                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-1 .item-1" href="#accordion-1 .item-1" style="font-size: 16px;color: rgb(255,255,255);font-weight: bold;">Create New Purchase Request</a></h5>
                    </div>
                    <div class="collapse item-1" role="tabpanel" data-parent="#accordion-1">
                        <div class="card-body" id="step1_new_purchase" style="color: #332c1f;">
                            <form id="new_purchase" action="/addPurchase" method="post"></form>
                                <fieldset>
                                    <div class="form-row">
                                        <div class="col-3 col-sm-3 col-md-3"><label style="font-weight: bold">Farm</label>
                                            <div id="lp-name-wrapper"></div>
                                            <select class="form-control required" id="farm" name="farm" form="new_purchase">
                                                <option disabled selected value> -- select an option -- </option>
                                                {{#each farms}}
                                                    <option value="{{this.farm_id}}">{{this.farm_name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                        {{!-- <div class="col-3 col-sm-3 col-md-3"><label>Date (Temporary)</label>
                                            <div id="lp-name-wrapper"></div>
                                            <input type="date" id="date_purchased" name="date_purchased" form="new_purchase">
                                        </div> --}}
                                        <div class="col-9 col-sm-9 col-md-9 ">
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-4 col-sm-4 col-md-4">
                                            <div id="lp-name-wrapper" style="margin-top: 10px;"> <strong>Type</strong> </div>
                                        </div>
                                        <div class="col-4 col-sm-4 col-md-4">
                                            <div id="lp-name-wrapper" style="margin-top: 10px;"> <strong>Name</strong> </div>
                                        </div>
                                        <div class="col-4 col-sm-4 col-md-4">
                                            <div id="lp-name-wrapper" style="margin-top: 10px;"> <strong>Amount</strong> </div>
                                        </div>
                                    </div>
                                    <div class="form-row last_item new-item" id="row1">
                                        <div class="col-4 col-sm-4 col-md-4">
                                            <div id="lp-name-wrapper" style="margin-top: 10px;">
                                                <select class="form-control purchase_item_type " id="item_type1" name="item[0][type]" form="new_purchase">
                                                    <option value="Seed">Seed</option>
                                                    <option value="Pesticide">Pesticide</option>
                                                    <option value="Fertilizer">Fertilizer</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-4 col-md-4">
                                            <div id="lp-name-wrapper" style="margin-top: 10px;">
                                                <select class="form-control required" id="item1" name="item[0][item]" form="new_purchase">
                                                    <option disabled selected value> -- select an option -- </option>
                                                    {{#each seeds}}
                                                        <option class="material_item1"value="{{this.id}}">{{this.name}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-4 col-sm-4 col-md-4">
                                            <div id="lp-name-wrapper" style="margin-top: 10px; display: flex; flex-flow: row;">
                                                <input class="form-control text-right required" type="number" placeholder="amount" id="item_amt1" name="item[0][amount]" form="new_purchase" style="width: 50%;" /><span style="padding: 10px;" id="item_unit1">Kg</span> <button class="" style="background: none ;border-style: none;" id="add-btn-mat" value="2"><i class="fa fa-plus-circle" style="font-size: 1rem; margin-left: 15px;"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    {{!-- <div class="form-row">
                                        <div class="col-12 col-sm-12 col-md-12">
                                            <center>
                                                <div id="lp-name-wrapper" style="margin-top: 10px;">
                                                    <button class="" style="background: none ;border-style: none;" id="add-btn-mat" value="2"><i class="fa fa-plus-circle" style="font-size: 1.5rem; margin-left: 15px;"></i></button>
                                                </div>
                                            </center>
                                        </div>
                                    </div> --}}
                                    <div class="form-row" style="padding-top : 15px;">
                                        <div class="col-1 col-sm-1 col-md-1" style="padding : 5px; font-weight: bold">NOTE</div><div class="col-10 col-sm-10 col-md-10"><input class="form-control text-left" type="text" placeholder="note" id="item_desc" name="item_desc" form="new_purchase" style="padding : 5px; width: 100%; border-radius : 5px; border-width : 1px;"/></div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 col-sm-12 col-md-12"><button class="btn btn-primary btn-sm new_purchase" style="float : right; margin: 15px;" id="step1">Next</button></div>
                                    </div>
                                </fieldset>
                        </div>

                        <div class="card-body" id="step2_new_purchase" style="display : none">
                            <div class="row">
                                <div class="col">
                                    <h4 style="color: #332c1f;">Review</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 col-sm-4 col-md-4">
                                    <div class="mb-3"><label class="form-label" for="new_purchase"><strong>Farm</strong><br /></label>
                                        <div class="dropdown">
                                            <label class="form-label" id="review_farm">FARM NAME</label>
                                        </div></div>
                                </div>
                            </div>
                            <div class="row" style="height : 30px;">
                                <div class="col-4 col-sm-4 col-md-4">
                                    <div class="mb-3"><label class="form-label" ><strong>Type</strong></label>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4 col-md-4">
                                    <div class="mb-3"><label class="form-label" ><strong>Item</strong></label>
                                    </div>
                                </div>
                                <div class="col-4 col-sm-4 col-md-4" style="color: #332c1f !important;">
                                    <div class="mb-3" style="color: #332c1f !important;"><label class="form-label" style="color: #332c1f !important;"><strong>Amount</strong></label></div>
                                </div>
                            </div>
                            
                            {{!-- <div class="mb-3" id="buttons"><button class="btn btn-primary btn-sm " style="float : right; margin-left: 10px;" id="step2" type="submit" form="new_purchase">Add Item</button><button class="btn btn-primary btn-sm new_purchase" style=" float:right; width: auto; border-radius : 20px; background-color: rgb(236, 236, 236)" id="back" form="">Back</button></div> --}}
                            <div class="form-row" id="buttons">
                                <div class="col-12 col-sm-12 col-md-12" ><button class="btn btn-primary btn-sm " style="float : right; margin-left: 10px;" id="step2" type="submit" form="new_purchase">Add Item</button><button class="btn round btn-secondary btn-sm new_purchase" style=" float:right; width: auto; border-radius : 20px;" id="back" form="">Back</button></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header" style="height: auto;background: rgba(255,165,0,0);">
                    {{!-- <a class="btn btn-primary d-flex float-end" role="button" style="background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px; " data-toggle="modal" data-target="#addPurchaseModal">Add Purchase</a> --}}
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item"><a id="all_farms" class="nav-link purchases_tab active" href="#" style="background: #F0F0F0;" >All</a></li>
                        <li class="nav-item"><a id="per_farm" class="nav-link purchases_tab" href="#">Farms</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div id="all_farm_materials">
                        {{!-- <div class="row table-topper align-items-center">
                            <div class="col-4 text-start" style="margin: 0px;padding: 5px 15px;"><button class="btn btn-primary btn-sm reset" type="button" style="padding: 5px;margin: 2px;">Reset Filters</button><button class="btn btn-warning btn-sm" id="zoom_in" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-plus"></i></button><button class="btn btn-warning btn-sm" id="zoom_out" type="button" zoomclick="ChangeZoomLevel(-10);" style="padding: 5px;margin: 2px;"><i class="fa fa-search-minus"></i></button></div>
                            <div class="col-4 text-center" style="margin: 0px;padding: 5px 10px;">
                                <h6 id="counter">Showing: <strong id="rowCount">ALL</strong>&nbsp;Row(s)</h6>
                            </div>
                            <div class="col-4 text-end" style="margin: 0px;padding: 5px 10px;"><a href="#" data-bs-toggle="modal" data-bs-target="#tablehelpModal"><i class="fa fa-question-circle" title="Custom Sort Details" aria-hidden="true" style="padding: 5px 15px;margin: 2px;" data-bs-toggle="tooltip" data-bs-placement="top"></i></a></div>
                        </div> --}}
                        <div class="row">
                            <div class="col-12">
                                <div>
                                    <table class="table table-striped table-bordered tablesorter" id="ipi-table" style="table-layout: fixed; width: 100%">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Farm</th>
                                                <th>Name</th>
                                                <th>Type</th>
                                                <th>Amount</th>
                                                {{!-- <th>Unit</th> --}}
                                                <th>Request date</th>
                                                <th>Purchase date</th>
                                                <th>Status</th>
                                                {{!-- <th>cost per unit</th> --}}
                                            </tr>
                                        </thead>
                                        <tbody id="materials_table">
                                                {{#each purchases}}
                                                    <tr class="">
                                                        <td>{{this.farm_name}}</td>
                                                        <td>{{this.item_name}}</td>
                                                        <td>{{this.item_type}}</td>
                                                        <td>{{this.amount}} {{this.units}}</td>
                                                        {{!-- <td>{{this.units}}</td> --}}
                                                        <td style="word-wrap:break-word;">{{this.request_date}}</td>
                                                        <td style="word-wrap:break-word;">{{this.date_purchased}}</td>
                                                        <td class="{{this.purchase_status}}">{{this.purchase_status}}
                                                                             <span style="padding-left: 10px">
                                                            <div class="dropdown no-arrow" style="display:inline-block; float: right">
                                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle dropdown no-arrow" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                                    </button>
                                                                    <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                                        <a class="dropdown-item notSidebar" href="/orders/details?id={{this.purchase_id}}">View Details</a>
                                                                        {{!-- <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                                        <div class="dropdown-divider"></div>
                                                                        <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a> --}}
                                                                    </div>
                                                                </div>
                                                            </span> 
                                                        </td>
                                                    </tr>
                                                {{/each}}
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                {{!-- <nav class="float-right">
                                  <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                                     <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                                                            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
                                                        </ul>
                                                    </nav> --}}
                            </div>
                        </div>
                    </div>
                    </div>

                <div id="per_farm_materials" hidden>
                    {{#each farms}}
                        <div class="row farm_inventory aos-init" data-aos="flip-up" data-aos-duration="450" style="margin: 1rem 1rem; color:#332C1F;">
                                <div class="col-xl-3" style="padding: 2rem;">
                                    <div class="" >
                                        <div class="">
                                            <h4 class="card-title">{{this.farm_name}}</h4>
                                            <p class="">{{this.farm_desc}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col" style="padding: 1rem;">
                                    <div class="table-responsive" style="height: 200px;">
                                        <table class="table" style="width : 100%">
                                            <thead style="">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Material type</th>
                                                    <th>Amount</th>
                                                    {{!-- <th>Unit</th> --}}
                                                    <th>Request date</th>
                                                    <th>Purchase date</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody style="overflow: auto">
                                                {{#each this.farm_purchases}}
                                                    <tr class="clickable" href="/orders/details?id={{this.purchase_id}}">
                                                        <td>{{this.item_name}}</td>
                                                        <td>{{this.item_type}}</td>
                                                        <td>{{this.amount}} {{this.units}}</td>
                                                        {{!-- <td>{{this.units}}</td> --}}
                                                        <td>{{this.request_date}}</td>
                                                        <td>{{this.date_purchased}}</td>
                                                        <td class="{{this.purchase_status}}">{{this.purchase_status}}</td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                </div>
                
            </div>
            
        </div>
        <div class="col" style="padding-top: 0px;">
            <div class="row" style="padding-top: 0px;">
                <div class="col" style="padding-top: 0px;">
                    <div class="card shadow mb-4" style="height: 380px; max-height: 380px;">
                        <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;padding: 16px 20px;height: auto;">
                            <h6 class="fw-bold m-0" style="color: #FFFFFF;">Pending Orders</h6>
                        </div>
                        <div class="card-body" style="overflow-y:auto">
                            {{#each pending}}
                                <div class="card clickable" style="border-color: rgb(78,79,85);margin-bottom: 10px; padding-left :20px;padding-right :20px;" href="/orders/details?id={{this.purchase_id}}">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label">{{this.item_name}}</label></div>
                                            <div class="mb-3"><label class="form-label">{{this.request_date}}</label></div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3 text-right"><label class="form-label">{{this.amount}} {{this.units}}</label></div>
                                            <div class="mb-3 text-right"><label class="form-label">Php {{this.purchase_price}}</label></div>
                                        </div>
                                    </div>
                                </div>
                            {{else}}
                            <div class="card" style="border-color: rgb(78,79,85);margin-bottom: 10px; padding-left :20px;padding-right :20px;">
                                    <div class="row">
                                        <div class="col">
                                              <div class="mb-3 text-center"><label class="form-label">No pending orders</label></div>
                                        </div>
                                    </div>
                                </div>

                            {{/each}}
                                
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="row" style="padding-top: 5px;">
                <div class="col">
                    <div class="card shadow mb-4" style="height: 380px; max-height: 380px;">
                        <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;padding: 16px 20px;height: auto;">
                            <h6 class="fw-bold m-0" style="color: #FFFFFF;">Processing Orders</h6>
                        </div>
                        <div class="card-body" style="overflow-y:auto">
                            {{#each processing}}
                                <div class="card clickable" style="border-color: rgb(78,79,85);margin-bottom: 10px; padding-left :20px;padding-right :20px;" href="/orders/details?id={{this.purchase_id}}">
                                    <div class="row">
                                        <div class="col">
                                            <div class="mb-3"><label class="form-label">{{this.item_name}}</label></div>
                                            <div class="mb-3"><label class="form-label">{{this.request_date}}</label></div>
                                        </div>
                                        <div class="col">
                                            <div class="mb-3 text-right"><label class="form-label">{{this.amount}} {{this.units}}</label></div>
                                            <div class="mb-3 text-right"><label class="form-label">Php {{this.purchase_price}}</label></div>
                                        </div>
                                    </div>
                                </div>
                                {{else}}
                                <div class="card" style="border-color: rgb(78,79,85);margin-bottom: 10px; padding-left :20px;padding-right :20px;">
                                        <div class="row">
                                            <div class="col">
                                                <div class="mb-3 text-center"><label class="form-label">No processing orders</label></div>
                                            </div>
                                        </div>
                                </div>
                            {{/each}}
                                
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
            
    </div>

</div>


{{!-- 
<div class="modal fade" id="addPurchaseModal" role="dialog">
    <div class="modal-dialog modal-lg" >
      <!-- Modal content-->
      <div class="modal-content">
            <div class="modal-header" ><h4 class="modal-title">New Purchase</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <div class="modal-body">
            <div class="card-body" id="step1_new_purchase" style="max-height: 500px; overflow-y : auto; overflow-x: hidden;" >
                <form id="new_purchase" action="/addPurchase" method="post">
                    <div class="row">
                        <div class="col">
                            <h4>Enter Details</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="mb-3"><label class="form-label" for="first_name"><strong>Farm</strong><br /></label>
                                <div class="dropdown">
                                    <select class="form-select required" id="farm" name="farm" form="new_purchase">
                                        <option disabled selected value> -- select an option -- </option>
                                        {{#each farms}}
                                            <option value="{{this.farm_id}}">{{this.farm_name}}</option>
                                        {{/each}}
                                    </select>
                                </div></div>
                        </div>
                    </div>
                    <div class="row" style="height : 30px;">
                        <div class="col">
                            <div class="mb-3"><label class="form-label" ><strong>Type</strong></label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3"><label class="form-label" ><strong>Item</strong></label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3"><label class="form-label"><strong>Amount</strong></label></div>
                        </div>
                    </div>
                    <div class="row last_item">
                        <div class="col">
                            <div class="mb-3">
                                <div class="dropdown">
                                    <select class="form-select purchase_item_type " id="item_type1" name="item[0][type]" form="new_purchase">
                                        <option value="Seed">Seed</option>
                                        <option value="Pesticide">Pesticide</option>
                                        <option value="Fertilizer">Fertilizer</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <div class="dropdown">
                                    <select class="form-select required" id="item1" name="item[0][item]" form="new_purchase">
                                        <option disabled selected value> -- select an option -- </option>
                                        {{#each seeds}}
                                            <option class="material_item1"value="{{this.id}}">{{this.name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3">
                                <div style="display: flex; flex-flow: row;"><input class="form-control text-right required" type="number" placeholder="amount" id="item_amt1" name="item[0][amount]" form="new_purchase" style="width: 50%;" /><span style="padding: 10px;" id="item_unit1">Kg</span></div></div>
                        </div>
                    </div>
                    
                </form>
                    <div class="row">
                        <div class="col-4">
                        </div>
                            <div class="col-4">
                                <center><button class="btn btn-primary btn-sm" id="add-btn-mat" value="2">Add</button></center>
                            </div>
                        <div class="col-4">

                        </div>
                    </div>
                
                    <div class="mb-3"><button class="btn btn-primary btn-sm new_purchase" style="float : right; margin: 15px;" id="step1">Next</button></div>
                
            </div>
            


            <div class="card-body" id="step2_new_purchase" style="display : none">
                    <div class="row">
                        <div class="col">
                            <h4>Review</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <div class="mb-3"><label class="form-label" for="new_purchase"><strong>Farm</strong><br /></label>
                                <div class="dropdown">
                                    <label class="form-label" id="review_farm">FARM NAME</label>
                                </div></div>
                        </div>
                    </div>
                    <div class="row" style="height : 30px;">
                        <div class="col">
                            <div class="mb-3"><label class="form-label" ><strong>Type</strong></label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3"><label class="form-label" ><strong>Item</strong></label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3"><label class="form-label"><strong>Amount</strong></label></div>
                        </div>
                    </div>

                    <div class="mb-3" id="buttons"><button class="btn btn-primary btn-sm " style="float : right; margin-left: 10px;" id="step2" type="submit" form="new_purchase">Add Item</button><button class="btn btn-primary btn-sm new_purchase" style=" float:right; width: auto; border-radius : 20px; background-color: rgb(236, 236, 236)" id="back" form="">Back</button></div>
                </div>

        </div>
        <div style="text-align:center;margin-top:10px;padding-bottom:10px">
                        <span class="step active" id="step1_status"></span>
                        <span class="step " id="step2_status"></span>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
</div> --}}

<script>
    var view = 'orders';
</script>