<style>
    thead {
        background-color: #212529 !important;
        color: white;
    }

    table td, label {
        color: #332c1f;
    }
    
</style>

<div class="container-fluid">

        <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Pest and Disease > Diagnose</h3><a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
                    </div>
    

    <div class="row">

        <div class="col-lg-12 col-xl-12 col-xxl-12">

            <div class="card shadow mb-4"  style="max-width: 1150px; margin: 0px auto;">

                <div class="card-header d-flex justify-content-between align-items-center" style="height:auto">

                    <ul class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                        <li class="nav-item"><a id="diagnoses-tab" class="nav-link active" data-toggle="tab" href="#diagnoses"role="tab" aria-controls="diagnoses" aria-selected="true" 
                            style="background: #F0F0F0;">Diagnoses</a></li>

                        <li class="nav-item"><a id="pests-tab" class="nav-link" data-toggle="tab" href="#pests"role="tab" aria-controls="pests" aria-selected="false" 
                            style="background: #F0F0F0;">Pests</a></li>

                        <li class="nav-item"><a id="diseases-tab" class="nav-link" data-toggle="tab" href="#diseases"role="tab" aria-controls="diseases" aria-selected="false" 
                            style="background: #F0F0F0;">Diseases</a></li>
                    </ul>
                        {{!-- <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v d-xxl-flex justify-content-xxl-end text-gray-400"></i></button>
                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                            </div>
                        </div> --}}

                    </div>

                    <div class="card-body">
                             
                            {{!-- TAB CONTENT --}}

                            <div class="tab-content" id="nav-tabContent">

                                {{!-- TAB 1 --}}
                                <div class="tab-pane fade show active" id="diagnoses" role="tabpanel" aria-labelledby="diagnoses-tab">
                                
                                {{!-- ADD DIAGNOSIS --}}
                                <div role="tablist" id="accordion-diagnosis" style="margin-bottom: 20px;">
                                    <div class="card shadow mb-4">
                                        {{#if writeable}}
                                        <div class="card-header" role="tab" style="background: #EDD172 !important; padding: 16px 20px;height: auto;">
                                            <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion-diagnosis .item-diagnosis" href="#accordion-diagnosis .item-diagnosis" style="font-size: 16px;color: #584C33!important;font-weight: bold;">Create New Diagnosis</a></h5>

                                        </div>
                                        {{/if}}
                                        <div class="collapse item-diagnosis" role="tabpanel" data-parent="#accordion-diagnosis">
                                            
                                        <div class="card-body" style="color: #332c1f;">
                                            {{!-- START FORM --}}
              	                            <form autocomplete="off" method="post" id="add_diagnosis_form" name="add_diagnosis_form">
                    
                                            {{!-- STEP 1 --}}
                                            <div class="tab">
                                            <div class="modal_body_content" id="body_step1">
                                                    <h5 for="" style="font-weight: bold; padding-bottom: 5px; padding-top: 10px">Step 1: Add Diagnosis Information</h5>

                                                    <div class="form-group" style="margin-left: 5px;">
                                                    <div class="row">

                                                        <div class="col">
                                                            <label for="type">Farm Affected <span style="color: #CA4E0C;">*</span></label>
                                                                    <select class="form-select" id="farm_id" name="farm_id" form="add_diagnosis_form">
                                                                        {{#each farms}}
                                                                            <option value="{{this.farm_id}}">{{this.farm_name}}</option>
                                                                        {{/each}}
                                                                    </select>

                                                        </div>

                                                        <div class="col">
                                                                <label for="date_diagnosed">Date Diagnosed <span style="color: #CA4E0C;">*</span></label>
                                                                <input type="date" class="form-control" id="date_diagnosed" name="date_diagnosed" form="add_diagnosis_form">
                                                        </div>     

                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group d-flex" style="margin-left: 5px;">
                                                        <div class="card shadow mb-4" style="width: 49%; margin-right: 1%;">

                                                            <div class="card-header mini py-3">
                                                            <h6 class="fw-bold m-0" style="color: #FFFFFF;">Symptoms<br></h6>
                                                            </div>

                                                            <div class="card-body" id="symptom_list2" style="height: 239.97px; overflow-y:scroll; overflow-x : hidden">
                                                                {{#each symptom}}
                                                                    <div class="row">
                                                                        <div class="col-xl-12">
                                                                            <div class="form-check" style="margin-left: 15px;"><input name="symptom[{{@index}}]" id="" class="form-check-input symptom-checkbox" type="checkbox" value="{{this.symptom_id}}" form="add_diagnosis_form"><label class="form-check-label font-weight-bold" for="formCheck-2" >{{this.symptom_name}}</label></div>
                                                                            
                                                                        </div>
                                                                    </div>
                                                                {{/each}}
                                                            </div>
                                                        </div>
                                                        <div class="" style="width: 49%; margin-left: 1%;">
                                                            <div class="" style="padding:10px;">
                                                            <h5 class="fw-bold m-0" style="color: #494949;">Possibilities<br></h5>
                                                            </div>
                                                            <div style="height: 250px;overflow-y:auto; overflow-x : hidden">
                                                                <table class="table table-striped table-bordered" id="-" >
                                                                    <thead class="thead-dark">
                                                                        <tr>
                                                                            <th colspan="3">Pest/Disease</th>
                                                                            <th colspan="2">Type</th>
                                                                            <th colspan="1">Matched Symptoms</th>
                                                                            <th colspan="1">Probability</th>
                                                                            <th colspan="1"></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="pd_possibility_list">
                                                                        {{#each possibilities}}
                                                                            <tr>
                                                                                <td colspan="3">{{this.pd_name}}</td>
                                                                                <td colspan="2">{{this.pd_type}}</td>
                                                                                <td colspan="1" style="text-align: right;">N/A</td>
                                                                                <td colspan="1" style="text-align: right;">{{this.percent}}</td>
                                                                                <td colspan="1"><input form="add_diagnosis_form" class="diagnosis_radio" type="radio" id="" name="pd" value="{{this.pd_id}}|{{this.pd_type}}"></td>
                                                                            </tr>
                                                                        {{/each}}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            
                                                        </div>
                                                        {{!-- <div class="row">

                                                            <div class="col">
                                                            <label for="type">Type <span style="color: #CA4E0C;">*</span></label>
                                                                <select class="form-select" id="diagnosis_type" name="type" form="add_diagnosis_form">
                                                                <option value="Pest">Pest</option>
                                                                <option value="Disease">Disease</option>
                                                            </select>

                                                            </div>

                                                            <div class="col">
                                                            <label for="name">Pest/Disease Name <span style="color: #CA4E0C;">*</span></label>
                                                                <select class="form-select" id="pd_list" name="pd_id" form="add_diagnosis_form">
                                                                    {{#each pest_list}}
                                                                        <option value="{{this.pd_id}}">{{this.pd_name}}</option>
                                                                    {{/each}}
                                                                </select>
                                                            
                                                            </div>

                                                        </div> --}}
                                                    </div>

                                                    <div class="form-group" style="margin-left: 5px;">
                                                    
                                                    <div class="row">

                                                    <div class="col">

                                                    </div>

                                                    <div class="col">
                                                    </div>  

                                                    </div>
                                                    
                                                    </div>
                                        
                                    {{!-- DAMAGE ASSESSMENT --}}
                                    {{!-- <h6 style="font-weight: bold; margin-top: 40px">Damage Assessment</h6>

                                    <div class="form-group" style="margin-left: 5px;">
                                        
                                        <div class="row">

                                            <div class="col" style="padding-top: 10px;">
                                                <label for="num_affected_crops">Number of Affected Crops <span style="color: #CA4E0C;">*</span></label>
                                                <input type="text" class="form-control" id="num_affected_crops" name="num_affected_crops" placeholder="Qty">
                                            </div>

                                            <div class="col" style="padding-top: 10px;">
                                                <label for="num_crops_lost">Number of Crops Lost <span style="color: #CA4E0C;">*</span></label>
                                                <input type="text" class="form-control" id="num_crops_lost" name="num_crops_lost" placeholder="Qty">
                                            </div>

                                        </div>
                                    </div> --}}

                            
                                    {{!-- END OF DAMAGE ASSESSMENT --}}


                                    </div>
                                            </div>
                                            {{!-- END OF STEP 1 --}}

                                            {{!-- STEP 2 --}}
                                            <div class="tab">
                                                <div class="hide modal_body_content" id="body_step2">
                                                    <h5 for="" style="font-weight: bold;  padding-bottom: 5px; padding-top: 10px">STEP 2: Solution Recommendation</h5>

                                                    {{!-- START CARDS --}}
                                                    <div class="row" style="margin-top: 20px">

                                                    
                                                    {{!-- END OF PEST/DISEASE INFORMATION CARD --}}


                                                    {{!-- PEST APPLICATION PLAN CARD --}}
                                                        <div class="col-lg-12 col-xxl-12">
                                                                <div class="card shadow mb-4">
                                                                    <div class="card-header mini py-3">
                                                                        <h6 class="fw-bold m-0" style="color: #FFFFFF;">Recommended Solutions<br></h6>
                                                                    </div>
                                                                    <div class="card-body" id="recommended_solutions" style="height: 239.97px; overflow-y:auto; overflow-x : hidden">
                                                                    </div>
                                                                </div>
                                                        </div>
                                                        {{!-- END OF PEST APPLICATION PLAN CARD --}}

                                                    </div>

                                                </div>
                                            </div>
                                            {{!-- END OF STEP 2 --}}

                                            
                                            {{!-- END FORM --}}

                                            <!-- Circles which indicates the steps of the form: -->
                                            <div style="text-align:center;padding-top:0px;padding-bottom:10px">
                                                <span class="step"></span>
                                                <span class="step"></span>
                                            </div>

                                            <div class="modal-footer">
                                                <div class="modal_footer_content" id="_step1">
                                                    <button type="button" class="btn round btn-secondary" onclick='window.location="/pest_and_disease/diagnose"'>Cancel</button>
                                                    <button type="button" class="btn round btn-primary next_step" id="add_diagnosis_btn1" value="_step2" onclick="nextPrev(1)">Next</button>
                                                </div>

                                                <div class="hide modal_footer_content" id="_step2">
                                                    <button type="button" class="btn round btn-secondary prev_step" value="_step1" onclick="nextPrev(-1)">Back</button>
                                                    <button class="btn round btn-primary" type="submit" id="add_diagnosis_btn2" form="add_diagnosis_form">Create Diagnosis</button>
                                                </div>

                                            </div>
                                        </form>

                                        </div>

                                        </div>
                                    </div>
                                </div>
                                {{!-- END OF ADD DIAGNOSIS --}}
                                
                                {{!-- <small class="form-text" style="color: #584c33;font-weight: bold;font-size: 18px;">Filter Results:&nbsp;&nbsp;</small>
                                <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group"><input id="filterDiagnosesTable" onkeyup="diagnosesFilter()" class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." style="border-radius: 60px;border-color: #7D7D7D;border-left-style: solid;border-left-color: #7D7D7D;"></div>
                                </form> --}}
                                {{!-- <button class="btn btn-primary d-flex float-end" role="button" style=" margin-bottom: 20px; background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px;" onclick='window.location="/pest_and_disease/diagnose_add_diagnosis"'>Add Diagnosis</button> --}}
                                
                                <div>
                                    <table class="table table-striped table-bordered tablesorter" id="diagnosesTable">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Diagnosis</th>
                                                <th>Type</th>
                                                <th>Date Diagnosed</th>
                                                <th>Farm Affected</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody id="diagnoses_table">
                                            {{#each diagnoses}}
                                                <tr>
                                                    <td>{{this.name}}</td>
                                                    <td>{{this.type}}</td>
                                                    <td>{{this.date_diagnosed}}</td>
                                                    <td>{{this.farm_name}}</td>
                                                    <td class="{{this.status}} flex-container" style="display: flex; flex-flow: horizontal;"><div style="width: 80%;"><span class="{{this.status}}">{{this.status}}</span></div>
                                                        <div class="dropdown no-arrow" style="width : 50px;">
                                                            <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                                <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                            </button>
                                                            <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                                <a class="dropdown-item notSidebar" href="/pest_and_disease/diagnose_details?id={{this.diagnosis_id}}" >&nbsp;View Details</a>
                                                                {{!-- <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a> --}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div> 
                                </div>
                                {{!-- END OF TAB 1 --}}

                                {{!-- TAB 2 --}}
                                <div class="tab-pane fade" id="pests" role="tabpanel" aria-labelledby="pests-tab">
                                
                                {{!-- <small class="form-text" style="color: #584c33;font-weight: bold;font-size: 18px;">Filter Results:&nbsp;&nbsp;</small>
                                <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group"><input id="filterPestsTable" onkeyup="pestsFilter()" class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." style="border-radius: 60px;border-color: #7D7D7D;border-left-style: solid;border-left-color: #7D7D7D;"></div>
                                </form> --}}


                                {{!-- <button class="btn btn-primary d-flex float-end" role="button" style="background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px;" onclick='window.location="/pest_and_disease/diagnose_add_pest"'>Add Pest</button> --}}
                                <div>
                                    <table class="table table-striped table-bordered tablesorter" id="diagnosesTable">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>Diagnosis ID</th>
                                                <th>Type</th>
                                                <th>Date Diagnosed</th>
                                                <th>Farm Affected</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody id="pest_diagnoses_table">
                                            {{#each pest_diagnoses}}
                                                <tr>
                                                    <td>{{this.name}}</td>
                                                    <td>{{this.type}}</td>
                                                    <td>{{this.date_diagnosed}}</td>
                                                    <td>{{this.farm_name}}</td>
                                                    <td class="{{this.status}} flex-container" style="display: flex; flex-flow: horizontal;"><div style="width: 80%;"><span class="{{this.status}}">{{this.status}}</span></div>
                                                        <div class="dropdown no-arrow" style="width : 50px;">
                                                            <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                                <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                            </button>
                                                            <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                                <a class="dropdown-item notSidebar" href="#" >&nbsp;View Details</a>
                                                                {{!-- <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                                <div class="dropdown-divider"></div>
                                                                <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a> --}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    
                                                </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>  
                                {{!-- <div style="height: 420px">
                                    <table class="table table tablesorter" id="pestsTable" style="margin-top: 20px;">
                                        <thead class="thead-dark">
                                            <tr>
                                              <th>Pest ID</th>
                                                <th>Name</th>
                                                <th>Total Cases</th>
                                                <th>Active Cases</th>
                                                <th>Resolved Cases</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                {{#each purchases}}
                                                    <tr class="clickable" href="/orders/details?id={{this.purchase_id}}">
                                                        <td>{{this.farm_name}}</td>
                                                        <td>{{this.item_name}}</td>
                                                        <td>{{this.item_type}}</td>
                                                        <td>{{this.amount}}</td>
                                                        <td>{{#if blank}}{{else}}<i class="fa fa-ellipsis-h d-inline float-end" style="text-align: right;">{{/if}}</i></td>
                                                    </tr>
                                                {{/each}}
                                            <tr>
                                                <td>P-01</td>
                                                <td>Pest Name</td>
                                                <td>10</td>
                                                <td>10</td>
                                                <td>0</td>
                                                <td> 
                                
                                                    <div class="dropdown no-arrow">
                                                        <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                            <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                        </button>
                                                        <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                            <a class="dropdown-item notSidebar" href="#" onclick='/pest_and_disease/diagnose_detailed_pest"'>&nbsp;View Details</a>
                                                            <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a>
                                                        </div>
                                                    </div>
                                                    
                                                </td>                                        
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>  --}}

                                {{!-- <div class="table-responsive" style="margin-top: 20px; height: 420px">
                                <table class="table" id="pestsTable">
                                    <thead>
                                        <tr>
                                            <th>Pest ID</th>
                                            <th>Name</th>
                                            <th>Total Cases</th>
                                            <th>Active Cases</th>
                                            <th>Resolved Cases</th>
                                            <th></th>
                                        </tr>

                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>P-01</td>
                                            <td>Pest Name</td>
                                            <td>10</td>
                                            <td>10</td>
                                            <td>0</td>
                                            <td> 
                            
                                                <div class="dropdown no-arrow">
                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                    </button>
                                                    <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                        <a class="dropdown-item notSidebar" href="#" onclick='window.location="/pest_and_disease/diagnose_detailed_pest"'>&nbsp;View Details</a>
                                                        <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a>
                                                    </div>
                                                </div>
                                                 
                                            </td>                                        
                                        </tr>

                                        <tr>
                                            <td>P-02</td>
                                            <td>Pest Name</td>
                                            <td>10</td>
                                            <td>10</td>
                                            <td>0</td>
                                            <td> 
                                            <div class="dropdown no-arrow">
                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                    </button>
                                                    <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                        <a class="dropdown-item notSidebar" href="#" onclick='window.location="/pest_and_disease/diagnose_detailed_pest"'>&nbsp;View Details</a>
                                                        <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a>
                                                    </div>
                                                </div>
                                                 
                                            </td>                                        
                                        </tr>

                                    </tbody>

                                </table>
                                
                                </div> --}}
                                    
                                </div>
                                {{!-- END OF TAB 2 --}}

                                {{!-- TAB 3 --}}
                                <div class="tab-pane fade" id="diseases" role="tabpanel" aria-labelledby="diseases-tab">
                                {{!-- <small class="form-text" style="color: #584c33;font-weight: bold;font-size: 18px;">Filter Results:&nbsp;&nbsp;</small>
                                <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                                    <div class="input-group"><input id="filterDiseasesTable" onkeyup="diseasesFilter()" class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." style="border-radius: 60px;border-color: #7D7D7D;border-left-style: solid;border-left-color: #7D7D7D;"></div>
                                </form> --}}

                            



                                {{!-- <button class="btn btn-primary d-flex float-end" role="button" style="background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px;" onclick='window.location="/pest_and_disease/diagnose_add_disease"'>Add Disease</button> --}}
                                    <div>
                                                            <table class="table table-striped table-bordered tablesorter" id="diagnosesTable">
                                                                <thead class="thead-dark">
                                                                    <tr>
                                                                        <th>Diagnosis ID</th>
                                                                        <th>Type</th>
                                                                        <th>Date Diagnosed</th>
                                                                        <th>Farm Affected</th>
                                                                        <th>Status</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="disease_diagnoses_table">
                                                                    {{#each disease_diagnoses}}
                                                                        <tr>
                                                                            <td>{{this.name}}</td>
                                                                            <td>{{this.type}}</td>
                                                                            <td>{{this.date_diagnosed}}</td>
                                                                            <td>{{this.farm_name}}</td>
                                                                            <td class="{{this.status}} flex-container" style="display: flex; flex-flow: horizontal;"><div style="width: 80%;"><span class="{{this.status}}">{{this.status}}</span></div>
                                                                                <div class="dropdown no-arrow" style="width : 50px;">
                                                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                                                    </button>
                                                                                    <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                                                        <a class="dropdown-item notSidebar" href="#" >&nbsp;View Details</a>
                                                                                        {{!-- <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                                                        <div class="dropdown-divider"></div>
                                                                                        <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a> --}}
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    {{/each}}
                                                                </tbody>
                                                            </table>
                                                        </div> 

                                {{!-- <div class="table-responsive" style="margin-top: 20px; height: 420px">
                                <table class="table" id="diseasesTable">
                                    <thead>
                                        <tr>
                                            <th>Disease ID</th>
                                            <th>Name</th>
                                            <th>Total Cases</th>
                                            <th>Active Cases</th>
                                            <th>Resolved Cases</th>
                                            <th></th>
                                        </tr>

                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>DS-01</td>
                                            <td>Pest Name</td>
                                            <td>10</td>
                                            <td>10</td>
                                            <td>0</td>
                                            <td> 
                            
                                                <div class="dropdown no-arrow">
                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                    </button>
                                                    <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                        <a class="dropdown-item notSidebar" href="#" onclick='window.location="/pest_and_disease/diagnose_detailed_disease"'>&nbsp;View Details</a>
                                                        <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a>
                                                    </div>
                                                </div>
                                                 
                                            </td>                                        
                                        </tr>

                                        <tr>
                                            <td>DS-02</td>
                                            <td >Disease Name</td>
                                            <td>10</td>
                                            <td>10</td>
                                            <td>0</td>
                                            <td> 
                            
                                               <div class="dropdown no-arrow">
                                                    <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                        <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                    </button>
                                                    <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                        <a class="dropdown-item notSidebar" href="#" onclick='window.location="/pest_and_disease/diagnose_detailed_disease"'>&nbsp;View Details</a>
                                                        <a class="dropdown-item notSidebar" href="#">&nbsp;Update</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item notSidebar" href="#">&nbsp;Delete</a>
                                                    </div>
                                                </div>
                                                 
                                            </td>                                        
                                        </tr>

                                    </tbody>

                                </table>
                                
                                </div> --}}
                                    
                                </div>
                                
                                {{!-- END OF TAB 3 --}}

                            </div>
                            {{!-- END OF TAB CONTENT --}}

                        </div>
                    </div>
                </div>
            </div>
</div>

<script>

var view = "pest_and_disease_diagnoses";

function goBack() {
  window.history.back();
}

// TAB 1

var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";

  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
    var today = new Date();
    if(n == 1 && (document.getElementById("date_diagnosed").value > (today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()) || !document.getElementById("date_diagnosed").value)){
    }
    else{
             // This function will figure out which tab to display
            var x = document.getElementsByClassName("tab");

            // Exit the function if any field in the current tab is invalid:
            if (!dataValidation(currentTab+2)) return false;
            // Hide the current tab:
            // x[currentTab].style.display = "none";

            document.getElementsByClassName("step")[currentTab].className += " finish";

            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;

            // if you have reached the end of the form...
            if (currentTab >= x.length) {
                // ... the form gets submitted:
                document.getElementById("create_farm_form").submit();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
    }
}


function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
// END OF TAB 1

// TAB 2
var currentTab2 = 0; // Current tab is set to be the first tab (0)
showTab2(currentTab2); // Display the current tab


function showTab2(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab2");
  x[n].style.display = "block";

  //... and run a function that will display the correct step indicator:
  fixStepIndicator2(n)
}


function nextPrev2(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab2");

  // Exit the function if any field in the current tab is invalid:
  if (!dataValidation(currentTab2+2)) return false;
  // Hide the current tab:
 // x[currentTab].style.display = "none";

document.getElementsByClassName("step2")[currentTab].className += " finish";

  // Increase or decrease the current tab by 1:
  currentTab2 = currentTab2 + n;

  // if you have reached the end of the form...
  if (currentTab2 >= x.length) {
    // ... the form gets submitted:
    document.getElementById("create_farm_form").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab2(currentTab2);
}


function fixStepIndicator2(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step2");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}

// END OF TAB 2

// TAB 3
var currentTab3 = 0; // Current tab is set to be the first tab (0)
showTab3(currentTab3); // Display the current tab


function showTab3(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab3");
  x[n].style.display = "block";

  //... and run a function that will display the correct step indicator:
  fixStepIndicator3(n)
}


function nextPrev3(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab3");

  // Exit the function if any field in the current tab is invalid:
  if (!dataValidation(currentTab3+2)) return false;
  // Hide the current tab:
 // x[currentTab].style.display = "none";

document.getElementsByClassName("step3")[currentTab].className += " finish";

  // Increase or decrease the current tab by 1:
  currentTab3 = currentTab3 + n;

  // if you have reached the end of the form...
  if (currentTab3 >= x.length) {
    // ... the form gets submitted:
    document.getElementById("create_farm_form").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab3(currentTab3);
}


function fixStepIndicator3(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step3");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}

// END OF TAB 3

</script>