<style>
    thead {
        background-color: #212529 !important;
        color: white;
    }

    table td, label {
        color: #332c1f;
    }

    .totalOccurences {
        text-align: right !important;
    }
    
</style>

<div class="container-fluid">

        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Pest and Disease > Frequency</h3><a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
        </div>
        
        {{!-- <h1>Bar Chart HTML</h1>

        <h1>Bar Chart HTML</h1>
        <h2 class="title">Bar Chart HTML Example:  Using Only HTML And CSS</h2>
            <div class="chart-wrap2 vertical">
                
                
                <div class="grid">
                    <div class="bar" style="--bar-value:85%;" data-name="Your Blog" title="Your Blog 85%"></div>
                    <div class="bar" style="--bar-value:23%;" data-name="Medium" title="Medium 23%"></div>
                    <div class="bar" style="--bar-value:7%;" data-name="Tumblr" title="Tumblr 7%"></div>
                    <div class="bar" style="--bar-value:38%;" data-name="Facebook" title="Facebook 38%"></div>
                    <div class="bar" style="--bar-value:35%;" data-name="YouTube" title="YouTube 35%"></div>
                    <div class="bar" style="--bar-value:30%;" data-name="LinkedIn" title="LinkedIn 30%"></div>
                    <div class="bar" style="--bar-value:5%;" data-name="Twitter" title="Twitter 5%"></div>
                    <div class="bar" style="--bar-value:20%;" data-name="Other" title="Other 20%"></div>  
                    <div class="bar" style="--bar-value:38%;" data-name="Facebook" title="Facebook 38%"></div>
                    <div class="bar" style="--bar-value:35%;" data-name="YouTube" title="YouTube 35%"></div>
                    <div class="bar" style="--bar-value:30%;" data-name="LinkedIn" title="LinkedIn 30%"></div>
                    <div class="bar" style="--bar-value:5%;" data-name="Twitter" title="Twitter 5%"></div>
                    <div class="bar" style="--bar-value:20%;" data-name="Other" title="Other 20%"></div>    
                    
                </div>
            </div> --}}

            {{!-- <script type="text/javascript">
                
            </script> --}}

            {{!-- <div class="chart">
                <ul class="numbers">
                    <li><span>100%</span></li>
                    <li><span>50%</span></li>
                    <li><span>0%</span></li>
                </ul>
                <ul class="bars">
                    <li><div class="bar" value="69" data-percentage="5"></div><span>Option 1</span></li>
                    <li><div class="bar" value="69" data-percentage="20"></div><span>Option 1</span></li>
                    <li><div class="bar" value="69" data-percentage="60"></div><span>Option 1</span></li>
                    <li><div class="bar" value="69" data-percentage="40"></div><span>Option 1</span></li>
                    <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                    <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                    <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                    <li><div class="bar" value="69" data-percentage="9"></div><span>Option 1</span></li>
                    <li><div class="bar" value="69" data-percentage="95"></div><span>Option 1</span></li>
                </ul>
            </div> --}}

            
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-xxl-12">
            <div class="  mb-4"  style="max-width: 1150px; margin: 0px auto;">
                <div class="d-flex">
                    <div class="d-flex flex-row" style="margin-bottom: 5px; width: 30%">
                        <label style="padding-right: 10px; margin-top: 5px">Farm:</label>
                        <select class="form-select form-select-sm" id="farm_selected" style="width : 60%;">
                            <option value="all">All</option>
                            {{#each farms}}
                                <option value="{{this.farm_id}}">{{this.farm_name}}</option>
                            {{/each}}   
                        </select>
                    </div>
                    <div class="d-flex flex-row" style="margin-bottom: 5px; width: 30%">
                        <label style="padding-right: 10px; margin-top: 5px">Year:</label>
                        <select class="form-select form-select-sm" id="year_selected" style="width : 60%;">
                            <option value="">Past 5 Years</option>
                            <option value="all">All</option>
                            <option value="2022">2022</option> 
                            <option value="2021">2021</option> 
                            <option value="2020">2020</option> 
                            <option value="2019">2019</option> 
                            <option value="2018">2018</option> 
                            <option value="2017">2017</option> 
                            <option value="2016">2016</option> 
                        </select>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-lg-12 col-xl-12 col-xxl-12" >

            <div class="card shadow mb-4"  style="max-width: 1150px; margin: 0px auto;">

                <div class="card-header d-flex justify-content-between align-items-center" style="height:auto">

                    <ul class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
                        <li class="nav-item"><a id="all-tab" class="nav-link active" data-toggle="tab" href="#diagnoses"role="tab" aria-controls="diagnoses" aria-selected="true" 
                            style="background: #F0F0F0;">All</a></li>

                        <li class="nav-item"><a id="pests-tab" class="nav-link" data-toggle="tab" href="#pests"role="tab" aria-controls="pests" aria-selected="false" 
                            style="background: #F0F0F0;">Pests</a></li>

                        <li class="nav-item"><a id="diseases-tab" class="nav-link" data-toggle="tab" href="#diseases"role="tab" aria-controls="diseases" aria-selected="false" 
                            style="background: #F0F0F0;">Diseases</a></li>
                    </ul>
                        {{!-- <div class="dropdown no-arrow"><button class="btn btn-link btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button"><i class="fas fa-ellipsis-v d-xxl-flex justify-content-xxl-end text-gray-400"></i></button>
                            <div class="dropdown-menu shadow dropdown-menu-end animated--fade-in">
                                <p class="text-center dropdown-header">dropdown header:</p><a class="dropdown-item" href="#">&nbsp;Action</a><a class="dropdown-item" href="#">&nbsp;Another action</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" href="#">&nbsp;Something else here</a>
                            </div>
                        </div> --}}

                    </div>

                        <div class="card-body">
                                
                                {{!-- TAB CONTENT --}}
                                

                                <div class="tab-content" id="nav-tabContent">
                                    {{!-- TAB 1 --}}
                                    <div class="tab-pane fade show active" id="diagnoses" role="tabpanel" aria-labelledby="diagnoses-tab">

                                    <div style="margin-bottom: 20px;">
                                        
                                    </div>
                                    
                                    {{!-- <small class="form-text" style="color: #584c33;font-weight: bold;font-size: 18px;">Filter Results:&nbsp;&nbsp;</small>
                                    <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                                        <div class="input-group"><input id="filterDiagnosesTable" onkeyup="diagnosesFilter()" class="bg-light form-control border-0 small" type="text" placeholder="Search for ..." style="border-radius: 60px;border-color: #7D7D7D;border-left-style: solid;border-left-color: #7D7D7D;"></div>
                                    </form> --}}
                                    {{!-- <button class="btn btn-primary d-flex float-end" role="button" style=" margin-bottom: 20px; background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px;" onclick='window.location="/pest_and_disease/diagnose_add_diagnosis"'>Add Diagnosis</button> --}}
                                    
                                    <div style="display: flex; flex-flow: row">
                                        <div>
                                            <center>
                                                <h4 style="color: gray;" id="all_chart_title">Pest/Disease Frequency</h4>
                                                <h6 style="color: gray;">Occurrences x Month</h6>
                                            </center>
                                            <div class="chart">
                                                <ul class="numbers" id="all_numbers">
                                                    <li><span>{{highest}}</span></li>
                                                    <li><span>{{middle}}</span></li>
                                                </ul>
                                                <ul class="bars" id="all_monthly_frequency">
                                                    {{#each month_frequency}}
                                                        <li><div class="bar" value="{{this.frequency}}" data-percentage="{{this.percent}}"></div><span>{{this.month_label}}</span></li>

                                                        {{else}}
                                                         <li><div class="bar" value="0" data-percentage="0"></div><span>None</span></li>
                                                    {{/each}}
                                                    {{!-- <li><div class="bar" value="69" data-percentage="5"></div><span>Option 1</span></li>
                                                    <li><div class="bar" value="69" data-percentage="20"></div><span>Option 1</span></li>
                                                    <li><div class="bar" value="69" data-percentage="60"></div><span>Option 1</span></li>
                                                    <li><div class="bar" value="69" data-percentage="40"></div><span>Option 1</span></li>
                                                    <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                                                    <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                                                    <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                                                    <li><div class="bar" value="69" data-percentage="9"></div><span>Option 1</span></li>
                                                    <li><div class="bar" value="69" data-percentage="95"></div><span>Option 1</span></li>
                                                    <li><div class="bar" value="69" data-percentage="95"></div><span>Option 1</span></li>
                                                    <li><div class="bar" value="69" data-percentage="95"></div><span>Option 1</span></li>
                                                    <li><div class="bar" value="69" data-percentage="95"></div><span>Option 1</span></li> --}}
                                                </ul>
                                            </div>
                                        </div>
                                        <table class="table table-striped table-bordered tablesorter" id="allTable" style="width : 50%; margin-left: 0px; margin-right: auto;">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Pest/Disease</th>
                                                    <th>Type</th>
                                                    <th class="totalOccurences">Total Occurrences</th>
                                                    <th>Common Stage</th>
                                                </tr>
                                            </thead>
                                            <tbody id="all_frequency">
                                                {{#each total}}
                                                    <tr>
                                                        <td>{{this.pd_name}}</td>
                                                        <td>{{this.type}}</td>
                                                        <td class="totalOccurences">{{this.total}}</td>
                                                        <td>{{this.frequent_stage}}</td>
                                                    </tr>

                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div> 
                                    </div>
                                    {{!-- END OF TAB 1 --}}

                                    {{!-- TAB 2 --}}
                                    <div class="tab-pane fade" id="pests" role="tabpanel" aria-labelledby="pests-tab">
                                    
                                    <div style="margin-bottom: 20px;">
                                        
                                    </div>

                                        <div style="display: flex; flex-flow: row">
                                            <div>
                                                <center>
                                                    <h4 style="color: gray;"  id="pest_chart_title">Pest/Disease Frequency</h4>
                                                    <h6 style="color: gray;">Occurrences x Month</h6>
                                                </center>
                                                <div class="chart">
                                                    <ul class="numbers" id="pest_numbers">
                                                        <li><span>100%</span></li>
                                                        <li><span>50%</span></li>
                                                        <li><span>0%</span></li>
                                                    </ul>
                                                    <ul class="bars" id="pest_monthly_frequency">
                                                        <li><div class="bar" value="69" data-percentage="5"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="20"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="60"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="40"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="9"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="95"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="95"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="95"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="95"></div><span>Option 1</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <table class="table table-striped table-bordered tablesorter" id="pestsTable" style="width : 50%; margin-left: auto; margin-right: auto;">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Pest/Disease</th>
                                                    <th>Type</th>
                                                    <th class="totalOccurences">Total Occurrences</th>
                                                    <th>Common Stage</th>
                                                </tr>
                                            </thead>
                                            <tbody id="pest_frequency">
                                                {{#each pest}}
                                                    <tr>
                                                        <td>{{this.pd_name}}</td>
                                                        <td>{{this.type}}</td>
                                                        <td class="totalOccurences">{{this.total}}</td>
                                                        <td>{{this.frequent_stage}}</td>
                                                    </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                        </div>  
                                    </div>
                                    {{!-- END OF TAB 2 --}}

                                    {{!-- TAB 3 --}}
                                    <div class="tab-pane fade" id="diseases" role="tabpanel" aria-labelledby="diseases-tab">

                                    <div style="margin-bottom: 20px;">
                                        
                                    </div>
                                    {{!-- <button class="btn btn-primary d-flex float-end" role="button" style="background: #EDD172;border-style: none;color: #332c1f;border-radius: 20px;" onclick='window.location="/pest_and_disease/diagnose_add_disease"'>Add Disease</button> --}}
                                        <div style="display: flex; flex-flow: row">
                                            <div>
                                                <center>
                                                    <h4 style="color: gray;"  id="disease_chart_title">Pest/Disease Frequency</h4>
                                                    <h6 style="color: gray;">Occurrences x Month</h6>
                                                </center>
                                                <div class="chart">
                                                    <ul class="numbers" id="disease_numbers">
                                                        <li><span>100%</span></li>
                                                        <li><span>50%</span></li>
                                                        <li><span>0%</span></li>
                                                    </ul>
                                                    <ul class="bars" id="disease_monthly_frequency">
                                                        <li><div class="bar" value="69" data-percentage="5"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="20"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="60"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="40"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="9"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="95"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="95"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="95"></div><span>Option 1</span></li>
                                                        <li><div class="bar" value="69" data-percentage="95"></div><span>Option 1</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <table class="table table-striped table-bordered tablesorter" id="diseasesTable" style="width : 50%; margin-left: auto; margin-right: auto;">
                                            <thead class="thead-dark">
                                                <tr>
                                                    <th>Pest/Disease</th>
                                                    <th>Type</th>
                                                    <th class="totalOccurences">Total Occurrences</th>
                                                    <th>Common Stage</th>
                                                </tr>
                                            </thead>
                                            <tbody id="disease_frequency">
                                                {{#each disease}}
                                                    <tr>
                                                        <td>{{this.pd_name}}</td>
                                                        <td>{{this.type}}</td>
                                                        <td class="totalOccurences">{{this.total}}</td>
                                                        <td>{{this.frequent_stage}}</td>
                                                    </tr>
                                                
                                                {{/each}}
                                                
                                            </tbody>
                                        </table>
                                        </div> 
                                    </div>
                                    
                                    {{!-- END OF TAB 3 --}}

                                </div>
                                {{!-- END OF TAB CONTENT --}}

                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="card shadow mb-4"  style="max-width: 1150px; margin: 0px auto;">
                <div class="card-body" style="color: #332c1f;">
                    <div class="flex-container d-flex" style="flex-flow: row;">
                        <select class="form-select form-select-sm flex-row" id="frequency_type" style="width : 10%; margin-right : 10px;">
                            <option value="Pest">Pest</option>
                            <option value="Disease">Disease</option>
                        </select>
                        <select class="form-select form-select-sm flex-row" id="frequency_pd_id" style="width : 30%; margin-right : 10px;">
                            {{#each pests}}
                                <option value="{{this.pd_id}}|{{this.pd_type}}">{{this.pd_name}}</option>
                            {{/each}}
                        </select>
                        <div style="width:66%;">
                        </div>
                        <div>
                            <button class="btn btn-primary flex-row" type="button" style="border-radius: 20px; padding: 2px 10px;background: #EDD172;border-style: none;color: rgb(94,83,61); top: 20px; right: 10px" id="soil-data-btn" href="/farms">Preventions</button>
                        </div>
                    </div>
                      
                    {{!--<a>  <span class="h3" id="pd_name" style="font-weight: bold;">Pest/Disease Name</span> 
                    <span class="h6" id="pd_type" style="margin-left: 10px; color:#657429; font-weight: bold">Type</span></a><br>
                    <span style="margin-left: 30px;" id="pd_desc">THis is the description THis is the description THis is the description THis is the description THis is the description</span> --}}
                    <div class="tab-content" id="nav-tabContent">

                        {{!-- TAB 1 --}}
                        <div class="tab-pane fade show active" id="diagnoses" role="tabpanel" aria-labelledby="diagnoses-tab">
                        <div style="margin-bottom: 20px;">
                                        
                        </div>
                        <div style="display: flex; flex-flow: row">
                            <div>
                                <center>
                                    <h4 style="color: gray;"  id="chart_title">Pest/Disease Frequency</h4>
                                    <h6 style="color: gray;">Occurrences x Month</h6>
                                </center>
                                <div class="chart" style="margin-top: 10px; margin-left: auto; margin-right: auto;">
                                    <ul class="numbers" id="diagnoses_numbers">
                                        <li><span>100%</span></li>
                                        <li><span>50%</span></li>
                                        <li><span>0%</span></li>
                                    </ul>
                                    <ul class="bars" id="diagnoses_chart">
                                        <li><div class="bar" value="69" data-percentage="5"></div><span>Option 1</span></li>
                                        <li><div class="bar" value="69" data-percentage="20"></div><span>Option 1</span></li>
                                        <li><div class="bar" value="69" data-percentage="60"></div><span>Option 1</span></li>
                                        <li><div class="bar" value="69" data-percentage="40"></div><span>Option 1</span></li>
                                        <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                                        <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                                        <li><div class="bar" value="69" data-percentage="50"></div><span>Option 1</span></li>
                                        <li><div class="bar" value="69" data-percentage="9"></div><span>Option 1</span></li>
                                        <li><div class="bar" value="69" data-percentage="95"></div><span>Option 1</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div style="width:100%;  padding: 20px;">
                                <table class="table">
                                    {{!-- <thead style="border-style: none;">
                                        <tr style="border-style: none;"></tr>
                                    </thead> --}}
                                    <tbody style="border-style: none;">
                                        <tr>
                                        </tr>
                                        <tr style="border-style: none;">
                                            <td style="width: 170px;border-style: none;text-align: left;">Frequent Stage</td>
                                            <td style="width: 170px;border-style: none;text-align: left;">No. of Occurrences</td>
                                        </tr>
                                        <tr style="border-style: none;">
                                            <td style="width: 170px;border-style: none;padding: 0px 12px;font-size: 25px;line-height: 40px;text-align: left;" id="pd_common_stage"></td>
                                            <td style="width: 170px;border-style: none;padding: 0px 12px;font-size: 25px;line-height: 40px;text-align: left;" id="pd_stage_count"></td>
                                        </tr>
                                        <tr>
                                        </tr>
                                        <tr style="border-style: none;">
                                            <td style="width: 170px;border-style: none;text-align: left;">Frequency Month</td>
                                            <td style="width: 170px;border-style: none;text-align: left;">No. of Occurrences</td>
                                        </tr>
                                        <tr style="border-style: none;">
                                            <td style="width: 170px;border-style: none;padding: 0px 12px;font-size: 25px;line-height: 40px;text-align: left;" id="pd_highest_month">March</td>
                                            <td style="width: 170px;border-style: none;padding: 0px 12px;font-size: 25px;line-height: 40px;text-align: left;" id="pd_highest_month_count">3</td>
                                        </tr>
                                        <tr>
                                        </tr>
                                        <tr style="border-style: none;">
                                            <td style="width: 170px;border-style: none;text-align: left;">Probability of Occurrence</td>
                                            <td class="probability_value" style="width: 170px;border-style: none;padding: 0px 12px;font-size: 25px;line-height: 40px;text-align: left;" id="pd_probability">10%</td>
                                        </tr>
                                        <tr style="border-style: none;">
                                            <td colspan='2' style="width: 170px;border-style: none;padding: 0px 12px;font-size: 25px;line-height: 40px;text-align: left;" id="">
                                                <div class="d-block d-xl-flex justify-content-xl-center align-items-xl-center" style="margin-top: 10px;">
                                                    {{!-- <div style="dispaly: absolute; width :100px; bottom: 100%;">LOW RANGE</div> --}}
                                                    <i class="fa fa-circle d-xl-flex" style="color: rgb(214, 204, 19);" title="0% - 35%"></i>
                                                        <span class="d-xl-flex align-items-xl-center" style="font-size: 14px;color: rgb(3,52,97);margin-left: 5px;" title="0% - 35%">Low</span>
                                                    <i class="fa fa-circle d-xl-flex" style="color: rgb(214, 134, 19);margin-left: 10px;" title="36% - 65%"></i>
                                                        <span class="d-xl-flex align-items-xl-center" style="font-size: 14px;color: rgb(3,52,97);margin-left: 5px;" title="36% - 65%">Medium</span>
                                                    <i class="fa fa-circle d-xl-flex" style="color: rgb(214, 30, 19);margin-left: 10px;" title="66% - 100%"></i>
                                                        <span class="d-xl-flex align-items-xl-center" style="font-size: 14px;color: rgb(3,52,97);margin-left: 5px;" title="66% - 100%">High</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row" style="padding-right: 20px;" id="prevention_row">
                            <div class="col" style="padding-top: 5px; margin-left: 10px;">
                                <label class="form-label d-xxl-flex justify-content-xxl-start" for="username" style="color: #332c1f;">
                                    <strong>Create Prevention Actions</strong>
                                </label>
                                <div class="card shadow mb-4">
                                    <div class="card-header" style="height: auto;background: rgba(255,165,0,0); background-color:#212529 !important">
                                        <ul class="nav nav-tabs card-header-tabs">
                                            <li class="nav-item"><a class="nav-link active" href="#" style="background: #F0F0F0;">Preventions</a></li>
                                        </ul>
                                    </div>

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <form method="post" id="create_preventions_form" name="create_preventions_form" >
                                                    <input hidden id="prevention_calendar_id" name="calendar_id" form="create_preventions_form">
                                                <div class="scrollmenu" id="prevention_table" style="padding-bottom: 20px;">
                                                    
                                                    {{!-- ADDS PREVENTIONS HERE --}}
                                                    
                                                </div>
                                                <button class="btn btn-primary flex-row float-right" form="create_preventions_form" type="submit" style="border-radius: 20px; padding: 2px 10px;background: #EDD172;border-style: none;color: rgb(94,83,61); top: 20px; right: 10px" >Create Preventions</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>


                            <div class="card shadow mb-4" hidden>
                                <div class="card-header" style="height: auto;background: rgba(255,165,0,0); background-color:#b1b1b1 !important">
                                    Symptoms
                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="scrollmenu" id="symptom_table" style="padding-bottom: 20px;">
                                                {{#each symptoms}}
                                                    <div class="card-body card cards-shadown aos-init mini-card symptom-card details" data-aos="flip-left" data-aos-duration="350" >
                                                            <h4 class="card-title" style="color: #657429 !important;">{{this.detail_name}}</h4>
                                                            <p>{{this.detail_desc}}</p>
                                                    </div>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div>
                                <table class="table table-striped table-bordered tablesorter" id="diagnosesTable">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Date Diagnosed</th>
                                            <th>Date Solved</th>
                                            <th>Farm</th>
                                            <th>Crop Cycle</th>
                                            <th>Stage</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="diagnoses_list_table">
                                        {{#each diagnoses}}
                                            <tr>
                                                <td>{{this.name}}</td>
                                                <td>{{this.type}}</td>
                                                <td>{{this.date_diagnosed}}</td>
                                                <td>{{this.farm_name}}</td>
                                                <td>
                                                    <div class="dropdown no-arrow" style="width : 50px;">
                                                        <button id="more" class="btn btn-primary btn-sm dropdown-toggle" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                                                            <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                                                        </button>
                                                        <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
                                                            <a class="dropdown-item notSidebar" href="/pest_and_disease/diagnose_details?id={{this.diagnosis_id}}" >&nbsp;View Details</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<script>

var view = "diagnosis_frequency";

function goBack() {
  window.history.back();
}

// TAB 1

var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";

  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
    var today = new Date();
    if(n == 1 && (document.getElementById("date_diagnosed").value > (today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate()) || !document.getElementById("date_diagnosed").value)){
    }
    else{
             // This function will figure out which tab to display
            var x = document.getElementsByClassName("tab");

            // Exit the function if any field in the current tab is invalid:
            if (!dataValidation(currentTab+2)) return false;
            // Hide the current tab:
            // x[currentTab].style.display = "none";

            document.getElementsByClassName("step")[currentTab].className += " finish";

            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;

            // if you have reached the end of the form...
            if (currentTab >= x.length) {
                // ... the form gets submitted:
                document.getElementById("create_farm_form").submit();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
    }
}


function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
// END OF TAB 1

// TAB 2
var currentTab2 = 0; // Current tab is set to be the first tab (0)
showTab2(currentTab2); // Display the current tab


function showTab2(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab2");
  x[n].style.display = "block";

  //... and run a function that will display the correct step indicator:
  fixStepIndicator2(n)
}


function nextPrev2(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab2");

  // Exit the function if any field in the current tab is invalid:
  if (!dataValidation(currentTab2+2)) return false;
  // Hide the current tab:
 // x[currentTab].style.display = "none";

document.getElementsByClassName("step2")[currentTab].className += " finish";

  // Increase or decrease the current tab by 1:
  currentTab2 = currentTab2 + n;

  // if you have reached the end of the form...
  if (currentTab2 >= x.length) {
    // ... the form gets submitted:
    document.getElementById("create_farm_form").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab2(currentTab2);
}


function fixStepIndicator2(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step2");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}

// END OF TAB 2

// TAB 3
var currentTab3 = 0; // Current tab is set to be the first tab (0)
showTab3(currentTab3); // Display the current tab


function showTab3(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab3");
  x[n].style.display = "block";

  //... and run a function that will display the correct step indicator:
  fixStepIndicator3(n)
}


function nextPrev3(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab3");

  // Exit the function if any field in the current tab is invalid:
  if (!dataValidation(currentTab3+2)) return false;
  // Hide the current tab:
 // x[currentTab].style.display = "none";

document.getElementsByClassName("step3")[currentTab].className += " finish";

  // Increase or decrease the current tab by 1:
  currentTab3 = currentTab3 + n;

  // if you have reached the end of the form...
  if (currentTab3 >= x.length) {
    // ... the form gets submitted:
    document.getElementById("create_farm_form").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab3(currentTab3);
}


function fixStepIndicator3(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step3");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}

// END OF TAB 3

</script>