<style>
    table th, table td {
        color: #332c1f;
    }
</style>
<div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <h3 class="text-dark mb-0">Farms &gt; Order Details</h3><a class="btn btn-primary disabled btn-sm d-none d-sm-inline-block" role="button" style="background: rgba(78,115,223,0);color: #332c1f;border-color: rgba(51,44,31,0);">&nbsp;<br>&nbsp;<i class="far fa-clock" style="margin-right: 5px;"></i>{{cur_date}}<br><br></a>
                    </div>

                    <div class="card shadow mb-4" style="max-width: 1150px; margin: 0px auto;">
                        {{!-- START CARD HEADER --}}
                        <div class="card-header d-flex justify-content-between align-items-center" style="background: #939C1F;color: #ffffff;">

                        <div class="col" style="max-width: 70px; padding-top: 2px">

                        <button type="submit" class="btn btn-primary btn-md" id="back" onclick='history.back()'>
                            <i class="far fa-long-arrow-left d-lg-flex justify-content-lg-center" id="backIcon"></i>
                        </button>        

                        </div>

                        <div class="col" style="margin-right: 650px; padding-top: 15px">
                            <h6 style="color: #FFFFFF;">Detailed Purchase Order {{details.purchase_id}}</h6>
                        </div>
                           
                        </div>
                        {{!-- END CARD HEADER --}}

                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th style="width: 1px;border-style: none;">Status</th>
                                            <th class="{{details.purchase_status}}" style="border-style: none;" id="purchase_status">{{details.purchase_status}}</th>
                                            <th style="border-style: none;"></th>
                                            <th style="border-style: none;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr></tr>
                                        <tr>
                                            <td style="font-weight: bold;border-style: none;">Farm Information</td>
                                            <td style="border-style: none;"></td>
                                            <td style="border-style: none;"></td>
                                            <td style="border-style: none;"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;border-style: none;">Farm</td>
                                            <td style="border-style: none;">{{details.farm_name}}</td>
                                            <td style="border-style: none;"></td>
                                            <td style="border-style: none;"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold;border-style: none;"></td>
                                            <td style="border-style: none;"></td>
                                            <td style="border-style: none;"></td>
                                            <td style="border-style: none;"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold;border-style: none;">Purchase Details</td>
                                            <td style="width: 0px;border-style: none;"></td>
                                            <td style="width: 0px;font-weight: bold;border-style: none;">Payment Details</td>
                                            <td style="width: 0px;border-style: none;"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;border-style: none;">Date requested</td>
                                            <td style="width: 100px;border-style: none;">{{details.request_date}}</td>
                                            <td style="width: 100px;border-style: none;">Purchase Price</td>
                                            <td style="width: 100px;border-style: none;">{{#if details.purchase_price}} {{details.purchase_price}} {{else}} 0.00{{/if}} pesos</span></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;border-style: none;">Date Purchased</td>
                                            <td style="width: 100px;border-style: none;">{{details.date_purchased}}</td>
                                            <td style="width: 100px;border-style: none;"></td>
                                            <td style="width: 100px;border-style: none;"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;border-style: none;">Note</td>
                                            <td style="border-style: none;">{{#if details.item_desc}} {{details.item_desc}} {{else}} N/A {{/if}}</td>
                                            <td style="border-style: none;"></td>
                                            <td style="border-style: none;"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;border-style: none;"></td>
                                            <td style="width: 100px;border-style: none;"></td>
                                            <td style="width: 100px;border-style: none;"></td>
                                            <td style="width: 100px;border-style: none;"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: normal;border-style: none;"><strong>Item Purchased</strong><br></td>
                                            <td style="width: 100px;border-style: none;"></td>
                                            <td style="width: 100px;border-style: none;"></td>
                                            <td style="width: 100px;border-style: none;"></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left" style="font-weight: normal;border-style: none;" colspan="4">
                                            <div class="d-flex">
                                                <input class="form-control" style="border-radius : 5px; width: 190px" type="text" required="" readonly="" placeholder="Item" value="{{details.item_name}}" readonly>
                                                <input class="form-control" type="text" required="" readonly="" placeholder="Item Type" style="margin-left: 10px; border-radius : 5px; width: 190px" value="{{details.item_type}}" readonly>
                                                <input class="form-control" type="number" style="width: 100px;margin-left: 5px; border-radius : 5px; width: 100px" value="{{details.amount}}" readonly><span style="margin-left: 5px; margin-top: 7px">units</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><button class="btn btn-primary float-right shadow" id="update_purchase_btn"  data-toggle="modal" data-target="#updatePurchaseModal" type="button" style="display : none; border-radius: 20px;padding: 5px 18px;background: #EDD172;border-style: none;color: rgb(51,44,31);" value="{{details.purchase_status}}">Update</button>
                        </div>
                        {{!-- <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th style="width: 1px;">Status</th>
                                            <th style="width: 50px;"id="purchase_status">{{details.purchase_status}}</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr></tr>
                                        <tr>
                                            <td></td>
                                            <td style="font-weight: bold;" colspan="2">Purchase Details</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td style="font-weight: bold;">Farm</td>
                                            <td style="font-weight: normal;"> 
                                                {{details.farm_name}}
                                            </td>
                                            <td style="font-weight: bold;">Date requested</td>
                                            <td style="font-weight: normal;"> 
                                                {{details.request_date}}
                                            </td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td style="font-weight: bold;">Item</td>
                                            <td style="font-weight: normal;"> 
                                                {{details.item_name}}
                                            </td>
                                            <td style="font-weight: bold;">Date Purchased</td>
                                            <td style="font-weight: normal;"> 
                                                {{details.date_purchased}}
                                            </td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td style="font-weight: bold;">Item type</td>
                                            <td style="font-weight: normal;"> 
                                                {{details.item_type}}
                                            </td>
                                            <td style="font-weight: bold;">Purchase price</td>
                                            <td style="font-weight: normal;"> 
                                                Php {{details.purchase_price}}
                                            </td>
                                            <td></td>

                                        </tr>
                                        <tr>
                                            <td style="width : 200px;"></td>
                                            <td style="width :100px;"></td>
                                            <td style="width : 100px;"></td>
                                            <td style="width : 100px;"></td>
                                            <td style="width : 100px;"></td>
                                            <td style="width : 200px;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> --}}
                    </div>
                </div>




{{!-- MODAL --}}
<div class="modal fade" id="updatePurchaseModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content" style="color: #332c1f !important;">
            <div class="modal-header" ><h4 class="modal-title">Update Purchase</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          
        </div>
        <center>
        <div class="modal-body">
            
                <div class="card-body" id="process_step" style="display: none; width : 40%;" >
                    <form id="update_purchase_form" action="/updatePurchase" method="post" >
                        <input type="text" id="purchase_id" name="purchase_id" value="{{details.purchase_id}}" hidden>
                        <div class="row" style="height : 30px;">
                            <div class="col">
                                <div class="mb-3" style="text-align : left;"><label class="form-label" ><strong>Type</strong> </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3" style="text-align : right;"><label class="form-label" ><span>{{details.item_type}}</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="height : 30px;">
                            <div class="col">
                                <div class="mb-3" style="text-align : left;"><label class="form-label" ><strong>Item</strong> </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3" style="text-align : right;"><label class="form-label" ><span>{{details.item_name}}</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="height : 30px;">
                            <div class="col">
                                <div class="mb-3" style="text-align : left;"><label class="form-label" ><strong>Amount</strong> </label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3" style="text-align : right;"><label class="form-label" ><span>{{details.amount}} Kg</span></label>
                                </div>
                            </div>
                        </div>
                    </form>
                        <div class="mb-3" style="margin-top : 70px;" ><center>Process order? <br><button class="btn btn-primary btn-sm add-material-btn" stype="submit" form="update_purchase_form">Process</button></center></div>
                </div>
            
            
            <div class="card-body" id="purchase_step" style="display: none; width : 50%;">
                    <div class="row">
                        <div class="col">
                            <div class="mb-3" style="text-align : left;"><label class="form-label" ><strong>Type</strong> </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3" style="text-align : left;"><label class="form-label" ><span>{{details.item_type}}</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3" style="text-align : left;"><label class="form-label" ><strong>Item</strong> </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3" style="text-align : left;"><label class="form-label" ><span>{{details.item_name}}</span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3" style="text-align : left;"><label class="form-label" ><strong>Amount</strong> </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3" style="text-align : right;"><label class="form-label" ><div style="display: flex; flex-flow: row;"><input class="form-control text-right required" type="number" placeholder="amount" id="amount" name="amount" form="update_purchase_form" style="width: 70%;" value="{{details.amount}}"/><span style="padding: 10px;" id="item_unit1">Kg</span></div></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3" style="text-align : left;"><label class="form-label" ><strong><span>Purchase price</span></strong> </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3" style="text-align : right;"><label class="form-label" ><span><div style="display: flex; flex-flow: row;"><span style="padding: 10px;" id="">Php </span><input class="form-control text-right required" type="number" placeholder="0.00" id="purchase_price" name="purchase_price" form="update_purchase_form" style="width: 70%;" /></div></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="col">
                            <div class="mb-3" style="text-align : left;"><label class="form-label" ><strong><span>Purchase date</span></strong> </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="mb-3" style="text-align : right;"><label class="form-label" ><span><div style="display: flex; flex-flow: row;"><input class="form-control text-right required" type="date" placeholder="amount" id="date_purchased" name="date_purchased" form="update_purchase_form" style="width: 90%; margin : auto;" value="{{cur_date}}"/></div></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3" style="margin-top : 50px;" ><button class="btn btn-primary btn-sm add-material-btn" id="submit_update" form="update_purchase_form">Confirm Purchase</button></div>
            </div>
        </div>
        </center>
        {{!-- <div style="text-align:center;margin-top:10px;padding-bottom:10px">
                        <span class="step active" id="step1_status"></span>
                        <span class="step " id="step2_status"></span>
        </div> --}}
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>