<div class="container-fluid">
	<div class="card shadow mb-5" style="max-width: 1150px; margin: 0px auto">
	    <div class="card-header d-flex py-3" style="background: #939C1F;padding: 16px 20px;height: auto;">
	        <p class="m-0 font-weight-bold" style="color: rgb(255,255,255);">Summarized Farm Monitoring</p>
		        
            <div class="ml-auto dropdown no-arrow" style="">
                <button id="more" class="btn btn-primary btn-sm dropdown-toggle dropdown no-arrow" aria-expanded="false" data-bs-toggle="dropdown" type="button">
                    <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
                </button>
                {{#if writeable}}
                <div class="ml-auto dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
	                <a class="dropdown-item notSidebar" href="/farms/add">Create New Farm</a>
	            </div>
	            {{/if}}
            </div>
	    </div>
	     <div class="card-body">
	     	<div class="d-flex mb-2" style="font-size: 12px !important;">
	     		<div class="mr-auto">
	     			<div class="ml-4">
					  <input class="form-check-input" type="checkbox" value="" id="show_nutrients" checked>
					  <label class="form-check-label" for="flexCheckDefault">
					    Show Nutrient Recommendations
					  </label>
					</div>
					<div class="ml-4">
					  <input class="form-check-input" type="checkbox" value="" id="show_pd" checked>
					  <label class="form-check-label" for="flexCheckChecked">
					    Show Reported Pest/Disease Symptoms
					  </label>
					</div>
	     		</div>
		     	<div class="">
		     		Legend:
		     		<div class="d-flex flex-column">
		     			<div class="cursor" data-html="true" data-toggle="tooltip" data-placement="bottom" title="Days After Transplant		&emsp;&nbsp;How long the crop has been growing">DAT</div>
		     			<div class="cursor" data-html="true" data-toggle="tooltip" data-placement="top" title="Normalized Difference Vegetation Index 
		     				&emsp;&emsp;&emsp;&emsp;&ensp;&nbsp;&nbsp;&nbsp;Measures plant health based on leaf color &emsp;">NDVI</div>
		     			<div class="cursor" data-html="true" data-toggle="tooltip" data-placement="top" title="Ideal ranges for each stage: Early Vegetation (DAT < 40) - 62%&emsp;Mid to Late Vegetation (55 < DAT > 85) - 59%		&emsp;Reproductive - 45%		&emsp;&emsp;Ripening - 35%">Soil Moisture</div>
		     		</div>
		     	</div>
	     	</div>
	        <div class="row">
	                <div class="col-12">
	                    <div style="width: auto;">
	                        <table class="table table-bordered tablesorter" id="ipi-table" style="table-layout: fixed; width: 100%; border:none; ">
	                            <thead class="thead-dark">
	                            	<tr>
	                            		<td colspan="6" class="text-center bg-dark text-white">
	                            			Active Farms (On-going Crop Calendar)
	                            		</td>
	                            	</tr>
	                                
	                            </thead>
	                            <tbody aria-live="polite" aria-relevant="all">
	                             	{{#each data.calendars}}

	                             	<tr >
	                             		<td colspan="6" style="padding: 0px !important;">
	                             			<table class="table">
	                             				<thead class="">
	                             					<tr style="background: #979e7b; color:rgb(255, 255, 255)">
					                                    <th style="">FARM</th>
					                                    <th style="">Crop Details</th>
					                                    <th style="">DAT</th>
					                                    <th style="">NDVI</th>
					                                    <th style="">SOIL MOISTURE</th>
					                                    <th style=""></th>
					                                </tr>
	                             				</thead>
		                             				
	                             				<tr role="row">
				                                    <td>
				                                    	<div class="d-flex flex-column">
				                                    		<div>{{this.farm_name}}</div>
				                                    		<div>{{this.stage2}}</div>
				                                    	</div>
				                                    </td>
				                                    <td>
				                                    	<div class="d-flex flex-column">
				                                    		<div>{{this.seed_name}}</div>
				                                    		<div>{{this.method}}</div>
				                                    		<small>{{this.seed_rate}} kg/ha seed rate</small>
				                                    		<div>{{this.forecast}}</div>
				                                    	</div>
				                                    </td>
				                                    <td>{{this.days_till_harvest}}</td>
				                                    <td>
				                                    	<div class="d-flex flex-column">
				                                    		<div class="d-flex" style="height: max-content;">
							                        		<label>NDVI:&nbsp</label>
							                        		<div class="yes" id="{{this.farm_name}}_ndvi"> -</div>
							                        		<div id="{{this.farm_name}}_ndvi_help" style="font-size: 14px; margin-top: 3px;" class="text-muted ml-2"></div>
							                        	</div>
							                        	
							                        	<small id="{{this.farm_name}}_ndvi_date">Last updated: -</small>
				                                    	</div>
				                                    </td>
				                                    <td>
				                                    	<div class="d-flex flex-column">
				                                    		<div class="d-flex">
								                        		<label>Soil Moisture:&nbsp</label>
								                        		<div class="yes" id="{{this.farm_name}}_soil_moisture"> -</div>
								                        		<div id="{{this.farm_name}}_soil_moisture_help" style="font-size: 14px; margin-top: 3px;" class="text-muted ml-2"></div>
								                        	</div>
								                        	
								                        	<small id="{{this.farm_name}}_soil_moisture_date">Last updated: -</small>
				                                    	</div>
				                                    </td>
				                                    <td class="">
				                                        <div class="w-100 mx-auto">
				                                        	<div class="mx-auto dropdown no-arrow" style="">
				                                                <button id="more" class="btn btn-primary btn-sm dropdown-toggle dropdown no-arrow" aria-expanded="false" data-bs-toggle="dropdown" type="button">
				                                                    <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
				                                                </button>
				                                                <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
				                                                    <a class="dropdown-item notSidebar" href="/farm_monitoring?farm_id={{this.farm_id}}">Detailed Farm Monitoring</a>
				                                                    <div class="dropdown-divider"></div>
				                                                    <a class="dropdown-item notSidebar" href="/nutrient_mgt/nutrient_plan?farm_name={{this.farm_name}}">Nutrient Management</a>
				                                                </div>
				                                            </div>
				                                        </div>
				                                    </td>
				                                </tr>
				                                <tr>
				                                	<td colspan="6" style="padding: 0px !important; border: none;">
				                                		<div class="w-100 d-flex">
				                                			<div class="mr-auto text-dark font-weight-bold d-flex flex-column" style="padding: 0.5rem;">
									                        	Upcoming Nutrient Recommendation Applications:
									                        </div>
									                        <button onclick="toggleInvert(this)" class="icon_btn invert collapse_btn nutrient_btn" data-toggle="collapse" data-target="#nutrient{{@index}}" aria-expanded="false" aria-controls="">
									                        	<i class="fas fa-chevron-circle-up fa-lg m-2"></i>
									                        </button>
				                                		</div>
					                                    
					                                    <div id="nutrient{{@index}}" class="collapse show multi-collapse nutrient_multi_collapse">
					                                    	<table class="table table-borderless" style="margin-bottom: 0px !important;">
									                        	<tr style="border: none;">
									                        		<th style="border: none;">Target Application Date</th>
									                        		<th style="border: none;">Fertilizer</th>
									                        		<th style="border: none;">Description</th>
									                        		<th class="text-right" style="border: none;">Amount</th>
									                        		<th style="border: none;">WO Generated?</th>
									                        	</tr>
									                        	{{#each this.nutrients}}
									                        	<tr>
									                        		<td style="border: none;">{{this.target_application_date}}</td>
									                        		<td style="border: none;">{{this.fertilizer_name}}</td>
									                        		<td style="border: none;">{{this.description}}</td>
									                        		<td class="text-right" style="border: none;">{{this.amount}}</td>
									                        		<td style="border: none;">
									                        			{{#if this.isCreated}}
									                        			Yes
									                        			{{else}}
									                        			No
									                        			{{/if}}
									                        		</td>
									                        	</tr>
									                        	{{/each}}
									                        </table>
					                                    </div>
					                                    	
				                                    </td>
				                                </tr>
				                                <tr>
					                                <td colspan="6" style="padding: 0px !important; border: none;">
					                                	<div class="d-flex w-100">
					                                		<div class="text-dark font-weight-bold mb-0 mr-auto d-flex flex-column" style="padding: 0.5rem;">
									                        	Reported Pest/Disease Symptoms:
									                        </div>
									                        <button onclick="toggleInvert(this)" class="icon_btn invert collapse_btn pest_btn" data-toggle="collapse" data-target="#pest{{@index}}" aria-expanded="false" aria-controls="">
									                        	<i class="fas fa-chevron-circle-up fa-lg m-2"></i>
									                        </button>
					                                	</div>
								                        <div id="pest{{@index}}" class=" collapse show multi-collapse pd_multi_collapse" style="width: 100%;max-width: 1100px; margin-left: 5px; mergin-right: 5px; overflow-y: hidden; white-space: nowrap;">
								                        	<div class="flex-container scrollmenu text-dark font-weight-bold" style="display: flex; flex-flow: row; overflow-x: auto; ">
								                        		{{#if this.empty_symptoms}}No existing symptoms{{/if}}
																{{#each this.symptoms}}
																	<div class="card-body card  mini-card details  flex-child" style="font-size: 12px; min-width: 150px;width: 150px; padding: 5px; margin-bottom: 5px; margin-right: 5px;">
																		<h6>{{this.symptom_name}}</h6><br>
																		{{this.pd_name}}
																	</div>
																{{/each}}
								                        	</div>
								                        </div>
														{{!-- <div class="flex-container scrollmenu " style="display: flex; flex-flow: row; overflow-x: auto;">
															{{#if this.empty_symptoms}}No existing symptoms{{/if}}
															{{#each this.symptoms}}
																<div class="card-body card aos-init mini-card details aos-animate flex-child" data-aos="flip-left" data-aos-duration="350" style="font-size: 12px; min-width: 150px;width: 150px; padding: 5px; margin-bottom: 5px; margin-right: 5px;">
																	<h6>{{this.symptom_name}}</h6><br>
																	{{this.pd_name}}
																</div>
															{{/each}}
															
														</div> --}}
					                                </td>
				                                </tr>
	                             			</table>
	                             		</td>
	                             	</tr>
									<tr style="border: none;">
									</tr>
			                        {{/each}}
	                            </tbody>
	                            <thead class="thead-dark">
	                            	<tr>
	                            		<td colspan="6" class="text-center">
	                            			Inactive Farms
	                            		</td>
	                            	</tr>
	                            </thead>
	                            <tbody>
	                            	<tr>
	                            		<td colspan="6" style="padding: 0px !important">
	                            			<table class="table">
	                            				<thead class="">
	                            					<tr style="background: #979e7b; color:rgb(255, 255, 255)">
	                            						<th>Farm</th>
	                            						<th>Previous Crop Details</th>
	                            						<th colspan="2">Previous Calendar Details</th>
	                            						<th></th>
	                            					</tr>
	                            				</thead>

	                            				{{#each data.inactive}}
	                            				<tr>
	                            					<td>
	                            						<div class="d-flex flex-column">
	                            							<div>{{this.farm_name}}</div>
	                            							<div>{{this.farm_area}} ha</div>
	                            							<div>{{this.land_type}}</div>
	                            						</div>
	                            					</td>
	                            					{{#if this.calendar_id}}
	                            					<td>
	                            						<div class="d-flex flex-column">
	                            							<div>{{this.seed_name}}</div>
	                            							<div>{{this.method}}</div>
	                            							<div>{{this.seed_rate}} kg/ha seed rate</div>
	                            						</div>
	                            					</td>
	                            					<td colspan="2">
	                            						<div class="d-flex flex-column w-100">
	                            							<div class="d-flex">
	                            								<div class="d-flex flex-column w-50">
	                            									<div>Crop Plan: {{this.crop_plan}}</div>
	                            									<div class="mt-2">Land Prep: {{this.land_prep_date}}</div>
	                            									<div class="mt-1">Sowing Date: {{this.sowing_date}}</div>
	                            								</div>
	                            								<div class="d-flex flex-column w-50">
	                            									<div>&nbsp</div>
	                            									<div class="mt-2">Harvest Date: {{this.harvest_date}}</div>
	                            									<div class="mt-1 font-weight-bold">Harvest: {{this.harvest_yield}} cavans/ha</div>
	                            								</div>
	                            							</div>
	                            							<!-- <div class="w-50">
	                            								
	                            							</div>
	                            							<div class="w-50">
	                            								
	                            							</div> -->
	                            						</div>
	                            					</td>
	                            					{{else}}
	                            					<td colspan="3" class="text-center text-muted">No existing crop calendar records</td>
	                            					{{/if}}
	                            					<td class="">
				                                        <div class="w-100 mx-auto">
				                                        	<div class="mx-auto dropdown no-arrow" style="">
				                                                <button id="more" class="btn btn-primary btn-sm dropdown-toggle dropdown no-arrow" aria-expanded="false" data-bs-toggle="dropdown" type="button">
				                                                    <i class="fa fa-ellipsis-h d-lg-flex justify-content-lg-center"></i>
				                                                </button>
				                                                <div class="dropdown-menu notSidebar shadow dropdown-menu-end animated--fade-in">
				                                                    <a class="dropdown-item notSidebar" href="/farm_monitoring?farm_id={{this.farm_id}}">Detailed Farm Monitoring</a>
				                                                    <div class="dropdown-divider"></div>
				                                                    <a class="dropdown-item notSidebar" href="/nutrient_mgt/nutrient_plan?farm_name={{this.farm_name}}">Nutrient Management</a>
				                                                </div>
				                                            </div>
				                                        </div>
				                                    </td>
	                            				</tr>
	                            				{{/each}}
	                            			</table>
	                            		</td>
	                            	</tr>
	                            </tbody>
	                        </table>
	                    </div>
	                </div>
	            </div>
	    </div>
	</div>
</div>

<script type="text/javascript">

	function toggleShow(type, val) {
		var target;

		if (type == 'nutrient') {
			target = '.nutrient_multi_collapse';
			btn_target = '.nutrient_btn';
		}
		else {
			btn_target = '.pest_btn';
			target = '.pd_multi_collapse';
		}

		if (val) {
			$(btn_target).addClass('invert');
			$(target).collapse('show');
		}
		else {
			$(btn_target).removeClass('invert');
			$(target).collapse('hide');
		}
	}

	function toggleInvert(target) {
		if ($(target).hasClass('invert')) {
			$(target).removeClass('invert');
		}
		else {
			$(target).addClass('invert');
		}
	}

	$('#show_nutrients').on('change', function() {
		toggleShow('nutrient', $(this).is(':checked'));
	});

	$('#show_pd').on('change', function() {
		toggleShow('pd', $(this).is(':checked'));
	});

	$(function () {
	  $('[data-toggle="tooltip"]').tooltip({
	  	container: 'body',
	  	boundary: 'window'
	  })
	});

	function formatDate(date, format) {
		var year,month,day;
		const monthNames = ["", "Jan", "Feb", "Mar", "Apr", "May", "Jun",
		  "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
		];
		year = date.getFullYear();
		month = date.getMonth()+1;
		day = date.getDate();

		if (format === 'MM/DD/YYYY') {
			if (month < 10)
				month = '0'+month;
			if (day < 10)
				day = '0'+day;
			date = month+'/'+day+'/'+year;
		}
		else if (format === 'YYYY-MM-DD') {
			if (month < 10)
				month = '0'+month;
			if (day < 10)
				day = '0'+day;
			date = year+'-'+month+'-'+day;
		}
		else if (format === 'mm DD, YYYY') {
			date = monthNames[month]+' '+day+', '+year;
		}
		else if (format === 'HH:m') {
			var hour = parseInt(date.getHours());
			var lbl;
			if (hour < 12)
				lbl = 'AM';
			else {
				lbl = 'PM';
			}

			if (hour == 0)
				hour = 12;
			else if (hour > 12)
				hour -= 12;

			date = hour+':'+(date.getMinutes() < 10 ? '0' : '') + date.getMinutes()+lbl;
		}
		else if (format == 'HH') {
			var hour = parseInt(date.getHours());
			var lbl;
			if (hour < 12)
				lbl = 'AM';
			else {
				lbl = 'PM';
			}

			if (hour == 0)
				hour = 12;
			else if (hour > 12)
				hour -= 12;

			date = hour+':'+'00'+lbl;
		}
		else if (format === 'YYYY-MM-DD : HH:m') {
			if (month < 10)
				month = '0'+month;
			if (day < 10)
				day = '0'+day;

			var hour = parseInt(date.getHours());
			var lbl;
			if (hour < 12)
				lbl = 'AM';
			else {
				lbl = 'PM';
			}

			if (hour == 0)
				hour = 12;
			else if (hour > 12)
				hour -= 12;

			date = year+'-'+month+'-'+day+' - '+hour+':'+(date.getMinutes() < 10 ? '0' : '') + date.getMinutes()+lbl;
		}

		return date;
	}

	function appendSoilMoisture(target, soil, farm_data) {
		var moisture = soil.moisture == ' N/A' ? 'N/A' : ' '+(Math.round(soil.moisture * 100) / 100 )+ '%';
		var color = 'text-muted';

		if (moisture != ' N/A') {
			var num = moisture;
			num = parseFloat(num.replace('%', ''));
			var ideal, stage = farm_data.stage;
			var matrix = [62, 59, 45, 35];
			if (stage == 'Vegetation') {
				if (farm_data.dat < 40) {
					ideal = 62;
				}
				else {
					ideal = 59;
				}
			}
			else if (stage == 'Reproductive') {
				ideal = 45;
			}
			else if (stage == 'Ripening') {
				ideal = 35;
			}
			else if (stage == 'Harvesting') {
				ideal = 40;
			}
			else {
				ideal = 'N/A';
			}
			if (ideal != 'N/A') {
				ideal = parseFloat(ideal);
				if (ideal - 7 <= num && ideal + 7 >= num) {
					color = 'text-success'
				}
				else if (ideal - 15 <= num && ideal + 15 >= num) {
					color = 'text-warning';
				}
				else {
					color = 'text-danger';
				}

			}

			$(`[${target}_help']`).html(`Ideal value: ${ideal}`);		
		}

		$(`[${target}']`).html(moisture);
		$(`[${target}']`).addClass(color);
		$(`[${target}_date']`).html('Last updated: '+formatDate(new Date(soil.dt), 'mm DD, YYYY'));
	}

	function appendNDVI(target, imagery, stats, farm_data) {
		var ndvi = (' '+Math.round(stats.max * 100) / 100);

		if (ndvi != ' ') {
			var num = parseFloat(ndvi.replace(' ', ''));
			var ideal, stage = farm_data.stage, str;
			var range = [];
			var color = 'text-muted';
			if (stage == 'Vegetation') {
				if (farm_data.dat < 40) {
					range = [.3, .54];
				}
				else {
					range = [.55, .79];
				}
			}
			else if (stage == 'Reproductive') {
				range = [.55, .79];
			}
			else if (stage == 'Ripening') {
				range = [.4, .7];
			}
			else if (stage == 'Harvesting') {
				range = [.45, .79];
			}
			else {
				range = 'N/A';
			}

			if (range != 'N/A') {
				if (range[0] <= num >= range[1]) {
					color = 'text-success';
				}
				else if (range[0] - .10 < num || num > range[1] + .10) {
					color = 'text-warning';
				}
				else {
					color = 'text-danger';
				}
				str = `Ideal range: ${range[0]} to ${range[1]}`;
			}
			else {
				str = `Ideal range: N/A`;
			}

			$(`[${target}_help']`).html(str);		
		}
		
		$(`[${target}']`).html(ndvi);
		$(`[${target}']`).addClass(color);
		$(`[${target}_date']`).html('Last updated: '+formatDate(new Date(imagery.dt), 'mm DD, YYYY'));
	}

	jQuery.ajaxSetup({async: false });
	var view = 'summary monitoring';
	var obj = {{{JSON_data.farms}}};
	var n_date = new Date({{#if cur_date}}"{{cur_date}}"{{/if}});
	n_date.setDate(n_date.getDate() - 30);
	var n = new Date({{#if cur_date}}"{{cur_date}}"{{/if}});
	console.log(n_date);
	console.log(n);
	for (var i = 0; i < obj.length; i++) {
		var query = { polygon_id: obj[i].id, start: n_date, end: n };

		$.get('/agroapi/ndvi/imagery', query, function(imagery) {
			if (imagery.length != 0) {
				imagery = imagery.filter(e => typeof e === 'object' && e != null);
				// if (obj[i].name == 'LA Farm WEST (Scenario 1)') {
				// 	//console.log(imagery);
				// 	imagery[imagery.length-1] = imagery.filter(e => e.dt == '2022-01-05')[0];

				// }
				console.log(imagery);
				$.get(imagery[imagery.length-1].stats.ndvi, {}, function(stats) {
					// $(`[id='${obj[i].name}_ndvi']`).html(' '+Math.round(stats.max * 100) / 100);
					// $(`[id='${obj[i].name}_ndvi_date']`).html('Last updated: '+formatDate(new Date(imagery[0].dt), 'mm DD, YYYY'));
					// $(`[id='${obj[i].name}_ndvi_help']`).html(`N/A`);
					if (obj[i].name == 'LA Farm WEST (Scenario 1)') {
						stats.max = 44;
					}
					appendNDVI(`id='${obj[i].name}_ndvi`, imagery[imagery.length-1], stats, obj[i].data);
				});
			}
			else {

			}
		});

		$.get('/agroapi/soil/current', { polyid: obj[i].id }, function(soil) {

			appendSoilMoisture(`id='${obj[i].name}_soil_moisture`, soil, obj[i].data);
		});
	}
</script>